[2013-04-25 14:51] sscdotopen opened #1 "Hide auxiliary tasks for iterative data flows in visualization"
For iterative data flows, we need to special auxiliary tasks: a fake output task for the iterations tail and another task for synchronizing the execution,

These tasks should be hidden in the visualization.

[2013-04-26 09:52] StephanEwen opened #2 "Implement Post Pass Phase for Workset Iterations, Pact Record Based"
The current implementation does not support all the steps of the compile chain for workset iterations. The Post Pass Phase is still missing.

[2013-04-26 09:54] StephanEwen opened #3 "Implement JobGraph Generation Phase for Workset Iterations"
The JobGraph generation phase does not yet support Workset Iterations.

[2013-04-26 10:02] StephanEwen opened #4 "Rework Post pass Phase to be generic for all tuple-like data models"
There are currently different post pass implementations for the PactRecord data model and the array-based data model. They can be unified into an abstract record data model post pass with minimal specialization in the subclasses.

[2013-04-26 10:09] StephanEwen opened #5 "Configurable Iteration Aggregators"
Aggregators are currently hard wired into the bulk iteration runtime code. Make them configurable on the Bulk-Iteration plan construct.

Aggregators must be hosted by the iteration head task, communicated to the convergence criterion and communicated back, such that the tasks can access the previous superstep's aggregation result.

It is open to discussion whether to keep the entire history of agg

[2013-04-26 10:12] StephanEwen opened #6 "Fix the delimited record format double/decimal parsers."
The current parsers create the double value incrementally from the character string and introduce massive rounding errors in several cases.

[2013-04-26 11:48] StephanEwen opened #7 "Enable Range Partitioner"
The range partitioner is currently disabled. We need to implement the following aspects:

1) Distribution information, if available, must be propagated back together with the ordering property.

2) A generic bucket lookup structure (currently specific to PactRecord).

Tests to re-enable after fixing this issue:
- TeraSortITCase
- GlobalSortingITCase
- GlobalSortingMixedOrderITCase

[2013-04-26 11:49] StephanEwen opened #8 "Implement automatic sample histogram building for Range Partitioning"
A range partitioner needs a distribution histogram. If none is explicitly given, the system must sample the data and build an approximate histogram automatically.

[2013-04-29 14:26] mhuelfen opened #9 "Add flag for visualization of pact plan with the nephele SWT visualization"
The visualization of pact iterations contains unwanted items like "Fake Tail" and "Bulk-Iteration Sync"
to visualize only the wanted parts, a flag for visualization should be added accessible from to the Classes:
eu.stratosphere.nephele.managementgraph.GroupVertex
eu.stratosphere.nephele.managementgraph.ManagementGroupVertex

[2013-04-29 16:19] dimalabs opened #10 "Hybrid HashJoin's spilling doesn't work in iterations"
Hybrid HashJoin's disk spilling currently doesn't work if the join is part of an iterative data flow. This needs to be fixed.

[2013-04-29 16:29] mhuelfen opened #11 "nephele-ec2cloudmanager dependency still in stratosphere-dist pom.xml"
E2C is not longer used  eu.stratosphere:nephele-ec2cloudmanager:jar:0.2 is referenced in the pom of stratosphere-dist

Trying to build produces this failure

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-assembly-plugin:2.2-beta-5:single (generate-package) on project stratosphere-dist: Failed to create assembly: Failed to resolve dependencies for project: eu.stratosphere:stratosphe

[2013-04-29 16:32] #11 closed, assigned to StephanEwen

[2013-04-29 21:43] StephanEwen opened #12 "Rework Configuration Objects"
Currently, the configurations are implemented hacky. Everything is represented as a serialized string and there is no clean interface, such that different flavors of configurations (global-, delegatin-, default) are inconsistent.

I propose to rework the configuration as a map of objects, which are serialized on demand with either a serialization library, or default serialization mechanisms. Facto

[2013-05-02 13:26] sscdotopen commented on #9
We decided against adding such a flag, as it would cause too much code complexity to the hierarchy of vertices in Nephele. We see no other need for hiding tasks then in the iterations setting.

[2013-05-02 13:26] #9 closed, assigned to nobody

[2013-05-07 10:50] StephanEwen opened #13 "Bug in Nephele Scheduler"
For cyclic data flows, the Nephele scheduler may deadlock, causing the job to freeze. This problem is reproducible locally using the PageRankITCase.

A workaround for now is to always use network channels. However, this doe increase scheduling latency, as network-connected tasks are scheduled lazily.

[2013-05-07 10:51] StephanEwen opened #14 "Implement proper Superstep Abstraction in the Nephele Readers"
Embed the superstep event model in the nephele readers.

[2013-05-07 11:45] StephanEwen commented on #5
Fixed in 3e1c771e2a9dd9d25a99db20a2d7eb9b0c05ff5d

[2013-05-07 11:45] #5 closed, assigned to nobody

[2013-05-08 13:37] StephanEwen opened #15 "Rework Nephele Execution Graph State Machine"
The Nephele ExecutionGraph state machine is currently not scalable and is susceptible to race conditions and illegal state transition.

[2013-05-13 15:21] mhuelfen commented on #1
Fixed by #16

[2013-05-13 15:21] #1 closed, assigned to nobody

[2013-05-14 22:41] StephanEwen commented on #2
Fixed in 7671b33b1b4a21b05d6ce5cbb878cc1000fe2cc3

[2013-05-14 22:41] #2 closed, assigned to StephanEwen

[2013-05-21 11:53] StephanEwen opened #17 "runtime abstraction for Workset Iterations with direct index updates"
Implement a generic runtime abstraction for Workset Iterations with direct index updates. IN direct index updates, all solution set changes stay partition and key local.

[2013-05-21 14:56] StephanEwen opened #18 "Rework Nephele Discovery Service"
Currently, the nephele discovery service adds extra startup time and port conflicts, but is never used. It was originally designed for certain cloud setups and is obsolete in this version.

[2013-05-21 15:01] sscdotopen opened #19 "Restructure pact-tests"
The abstract classes for running in-jvm tests should be available to the outside (e.g. to framework built on-top of ozone)

[2013-05-21 15:26] StephanEwen commented on #17
Fixed in 07aba3c71f88ffcaf0d73168c70a3f40a5b104e8

[2013-05-21 15:26] #17 closed, assigned to nobody

[2013-05-21 19:07] StephanEwen commented on #18
The Discovery service is in some form required to detect the correct public addresses of the taskmanagers for data transfer. It might be possible to merge that with the jobmanager's ipc port, so we have one less port to worry about (for example in shared settings like YARN).

The JobManager discovery via UDP broadcast can be excluded.

[2013-05-21 19:09] StephanEwen opened #20 "Fix Multiplexing Deadlock"
Change assignment from logical channels to physical connections to prevent starvation effects that cause distributed deadlocks in the network stack.

[2013-05-21 19:11] StephanEwen opened #21 "Implement deferred index updates Workset Iterations"
Currently, the solution set must be updated for a certain key directly after it was accessed for that key. This is the fastest case.

While this covers a large portion of the cases, deferred updates (i.e. when affecting other partitions) may be required and increase the expressiveness of the model.

[2013-05-21 19:13] StephanEwen opened #22 "Rework optimizer cost functions."
The optimizer cost functions and cost heuristics need to be faithfully implemented to produce good plans and fall back to robust plans in case of missing estimates.

[2013-05-21 19:14] StephanEwen opened #23 "Implement Pact Tuple API"
Offer an additional API based on tuples, to avoid the costly and lazy-schema free abstraction of the PactRecord.

[2013-05-21 19:31] StephanEwen opened #24 "Unify Pact and Nephele Memory Buffers"
Currently, Pact and Nephele use two different types of memory buffers, which results in unneccessary data movement between memory pools and prevents trading / balancing of these pools.

[2013-05-21 19:33] StephanEwen opened #25 "Offer a buffer-oriented abstraction from Nephele to Pact"
Currently, Nephele offers a record-oriented API to Pact, which frequently results in unnecessary date (de)serialization.

[2013-05-28 08:54] StephanEwen commented on #3
closed in 33f06294781eca93b8522360ec8c6f514c01baee

[2013-05-28 08:54] #3 closed, assigned to StephanEwen

[2013-05-28 08:58] StephanEwen opened #27 "Change Maven Artifact Names"
Currently, ozone uses the same artifact names as Stratosphere 0.2. That means it is not possible to work with both in parallel (as in code migration, cross testing, ...)

Ozone should have new artifact names and a new Version. I propose Version 0.5 (some leap from 0.2)

[2013-05-29 11:21] StephanEwen commented on #4
Fixed in efbdfc098c91a3e75a82d35a251904d8c3dc4bd3

[2013-05-29 11:21] #4 closed, assigned to nobody

[2013-06-10 12:23] aalexandrov commented on #7
I'll take a stab at this. Where can I find the bucket lookup structure from 2) that is currently used?

[2013-06-10 12:38] aalexandrov commented on #27
I use 0.2-ozone as version name in my POMs, but a quick grep replace should be able to change it to whatever you want.

I am not quite sure why we need different artifact names. Changing the version did the trick for the local m2 repository, and in eclipse you can set a custom name template (.e.g. `[artifactId]-[version]`) for imported Maven projects under the advanced options.

[2013-06-10 13:08] aalexandrov opened #30 "Job compilation fails due to missing commons packages"
The _commons-lang_ and _commons-configuration_ are missing from the classpath.

In particular, _commons-configuration_ is required by _hadoop-core_ and thereby by _pact-runtime_, while _commons-lang_ is required by _commons-configuration_.

In order to solve the issue the appropriate lines for including _commons-configuration_ and _commons-lang_ to the classpath should be added to _pact-client.sh_

[2013-06-10 14:32] StephanEwen commented on #7
Look at the code in PactRecordOutputEmitter. This has the bucket lookup structure for PactRecords. The Generic one is in OutputEmitter, gut does not support Range Partitioning at the moment.

The Generic Versions use the "(de)serialization delegates", which is a workaround to the current nephele API (record oriented with different memory model, there is an issue to fix this).

I would focus first

[2013-06-11 02:54] StephanEwen opened #32 "Add integration tests for reopen-able hash join"
The iteration aware hash join needs thorough integration tests like the regular hash join.

[2013-06-11 03:59] StephanEwen commented on #30
Fixed in 06ef78044b5a571b162b9cc4b65168adc1ec2573

[2013-06-11 03:59] #30 closed, assigned to nobody

[2013-06-11 04:01] StephanEwen commented on #10
fixed in e62e40230e7569420ca654106bdbe7d39e6920b1

[2013-06-11 04:01] #10 closed, assigned to nobody

[2013-06-12 00:58] StephanEwen opened #33 "Rework instance configuration."
Right now, Nephele still uses the EC2-inspired instance configuration model. The Pact compiler connects to obtain information about these instances, such as how many are available, and how much memory they have. This is error prone to configure and also a bit buggy, it frequently leads to wrong memory bookkeeping if different instance types are configured.

Do we need support for heterogeneous set

[2013-06-12 07:49] rmetzger commented on #32
I need some additional input for this task. I think i covered most of the situations in these tests already:
pact/pact-runtime/src/test/java/eu/stratosphere/pact/runtime/hash/ReOpenableHashTableTest.java

I can adopt some additional cases such as "testBuildFirstWithMixedDataTypes()" or "testBuildFirstWithHighNumberOfCommonKeys()"
Or do you want a test in the "pact-tests" project that does a whole

[2013-06-12 15:31] StephanEwen commented on #32
Please adopt some of the test from the HashTableITCase, especially the ones
that heavily spill and spill recursively. Make them do it trhee rounds.

Best,
Stephan

On Wed, Jun 12, 2013 at 2:49 AM, rmetzger notifications@github.com wrote:

[2013-06-14 09:30] sscdotopen opened #36 "pact-compiler depends on pact-examples"
In a layered architecture, you must only depend on layers below. Running into problems when modifying the examples code because of this wrong dependency.

[2013-06-17 08:59] sscdotopen opened #37 "Enable visualization of custom iteration statistics"
The Nephele visualizer should be able to display custom iteration statistics such as the rate of convergence e.g.

[2013-06-20 11:54] ktzoumas opened #39 "Port HBase access to ozone"
During the IMR Hackathon, an HBase access implementation to Stratosphere 0.2.1 was created.

We need to port this to ozone and the latest version of HBase.

This is needed by several projects, including IMR and Deutsche Telekom.

Marcus provided some issues that that current prototype has that could be resolved:
1. Currently, we only support fetching a single row version at a time. If we want to s

[2013-06-20 13:04] ktzoumas opened #40 "Cloud connector"
We need a cloud connector to ozone.

Why? This is needed already by one partner (Deutsche Telekom), and I expect that more companies organize their clusters as private clouds.

We should create the minimum possible API glue without fancy stuff for now and leave the smart stuff to the outside. We can probably reuse and refactor the ec2-cloudmanager from Stratosphere v0.2.

Ideally, we should cover

[2013-06-21 22:41] StephanEwen commented on #40
What exactly will the cloud connector do? Will it bring up Stratosphere instances on a cloud infrastructure? In that case we should be able to reuse much of the EC2 manager.

[2013-06-21 22:45] StephanEwen commented on #27
At the moment, several people maintain installations of the stratosphere mainline version (stratosphere-0.2) and the ozone version. Since both will release newer versions, the best way to avoid name clashes in the repositories is to go with different artifact names.

However, since we may abandon the name "ozone" and continue distributing it under the label "stratosphere", we could leave the artif

[2013-06-22 02:18] aalexandrov commented on #27
Should I prepare suggest a push request for that?

[2013-06-22 04:19] aalexandrov commented on #36
I'm not sure whether this is a real issue. The dependency is defined only for the `test` scope and is caused by the use of some `eu.stratosphere.pact.example.*` classes located in `pact-examples` from the `eu.stratosphere.pact.compiler` test classes.

If we want to have a coherent set of regression jobs to be used across different modules (e.g. for `pact-compiler` and `pact4s`), it makes sense to

[2013-06-22 07:44] ktzoumas commented on #40
I think the functionality will be similar. Should I close this until I get more specific requirements?

[2013-07-03 01:47] StephanEwen commented on #36
I split the compiler tests into unit-style tests (isolated compiler behavior) and regression tests (full programs, including checks that reasonable plans are chosen). The later are in an individual project now (pact-compiler-tests) and depend on the examples package.

The pact compiler project itself has no more dependency on the pact-examples.

Fixed in cf90104cdad1760b594c3ffd7298ab49253d5e2e

[2013-07-03 01:47] #36 closed, assigned to nobody

[2013-07-03 01:51] StephanEwen opened #43 "Implement Web Frontend Display of Workset Iterations"
Implement the drawing of Workset Iteration Optimizer plans in the Pact Webfrontend.

Missing is the JavaScript code that takes the JSON objects sent by the server and creates the DOM representing the visual graph.

[2013-07-03 01:51] StephanEwen commented on #43
Implemented in 376156ea997dbcbb9461c388ce314dd223cd2ba1

[2013-07-03 01:51] #43 closed, assigned to nobody

[2013-07-03 01:52] StephanEwen opened #44 "Disable Nephele Checkpointing / Recovery by default."
Nephele Checkpointing / Recovery is highly buggy and almost always deadlocks the system.

Disable it by setting the default number of retries to in the default configuration values.

[2013-07-03 01:53] StephanEwen commented on #44
Fixed in 75502d8e1266a9f7f60339a10ccb7a42b29dc197

[2013-07-03 01:53] #44 closed, assigned to nobody

[2013-07-03 01:57] StephanEwen opened #45 "Rework KMeans Sample Data Generator"
The KMeans Sample Data Generator produces rather nonsensual data. It samples by default 100 Normal Distributions with a mean between 0 and 1 and a variance of one. This results in data which is not nicely clustered.

Rewrite the generator to use a wider (or confugurable) range in which the distribution means are chosen, and a variance that is relative (and quite a bit smaller) than that range to e

[2013-07-03 01:57] StephanEwen commented on #45
Implemented in a5762729cf5fcd7e846dedbcfe056bee51a0b024

[2013-07-03 01:57] #45 closed, assigned to nobody

[2013-07-03 02:03] StephanEwen opened #46 "Implement CoGrouping with Solution Set in Workset Iterations"
Currently, only Matching with the Solution set is enabled. Implement a CoGroup with the Solution Set.

NOTE: Unlike the regular CoGroup, which is much like a full outer join and gives empty iterators for a side that does not have a candidate for the respective key, the CoGroup with the solution set is naturally only outer on the non-solution set side.

[2013-07-03 02:04] StephanEwen commented on #46
Implemented in 7e3b91226876381af9eaccd1cd3b5bdb88028361

[2013-07-03 02:04] #46 closed, assigned to nobody

[2013-07-03 02:07] StephanEwen opened #47 "PactRecordOutputCollector does not support strategy PARTITION_RANDOM"
The strategy is actually supported, but there is an early sanity check that overlooks the case of that strategy and throws  an exception.

[2013-07-03 02:07] StephanEwen commented on #47
Fixed in 76316542959bf927fb583f629a9230c2ed34c211

[2013-07-03 02:07] #47 closed, assigned to nobody

[2013-07-03 02:10] StephanEwen opened #48 "Class loading for user-defined aggregates failes"
Class loading of user-defined data types must always happen with the user-code class loader. The instantiation of the user-defined aggregate types happens in the read() method of the iteration event that transmits them.

Since the event has no access to that particular class loader, it can only receive the serialized data. The actual instantiation of these types must happen lazily when they are ac

[2013-07-03 02:10] StephanEwen commented on #48
Implemented in e8fd5846901aec6b94d5855154bc01061dc1d862

[2013-07-03 02:10] #48 closed, assigned to nobody

[2013-07-03 03:49] StephanEwen commented on #27
Can you elaborate on the Eclipse template you mentioned? Is that a thing you need to do to make the setup work?

[2013-07-03 09:49] aalexandrov commented on #27
No, it will work with the standard naming convention for the eclipse projects out of the box. Bit if you already have the "default" stratosphere packages imported in eclipse using the standard package names (pact-compiler, pact-runtime, etc.), you have to modify the names of the Ozone projects as you import them.

One of the options that the maven importer gives you is to use {packageID}-{version}

[2013-07-07 21:08] mleich commented on #39
Began work on this by adding cloudera support (https://github.com/dimalabs/ozone/pull/49)
Next step will be HBase itself.
I suggest to work around the issues by providing an abstract method for HBase Result -> Pact Record mapping.
Users can then take care of this stuff themselves. Once we know what's used most often, we could provide suitable default implementations.

[2013-07-09 15:07] mleich commented on #39
I just tested the first version of the ozone port of the Hackathon results. https://github.com/mleich/ozone/tree/hbase
Sample code on how to use this stuff is provided in pact-examples.
To be on the safe side, Cloudera Compatibility (https://github.com/dimalabs/ozone/pull/49) is required.

The API for people trying to write PACT jobs is not that nice right now. It only offers the bare minimum. I a

[2013-07-09 16:51] StephanEwen commented on #39
Looks good. I'll merge the cloudera support later today, then you can file the pull request. Thanks for this!

[2013-07-11 05:02] StephanEwen commented on #39
I think the example shows a good start. Let's put it in and see what feedback we get from those who use it.

@Marcus There is a typo in the package name "stratopshere", causing the example to end up in the wrong directories.

[2013-07-11 11:02] mleich commented on #39
Here we go: https://github.com/dimalabs/ozone/pull/50
Fixed the typo, merged with current master.

[2013-07-18 06:14] StephanEwen opened #56 "Fix iteration head merging logic"
The iteration head task is chained/merged with the first step function operator, if possible, to reduce the number of channels and threads. This is however, only possible in certain (yet common) situations.

Currently, the head is erroneously merged with the operator, even the initial partial solution (or workset) and the later partial solution (or workset) have different local strategies at that

[2013-07-18 06:15] StephanEwen commented on #56
Fixed in b1528725f0d5fe2417a90ae1ee550dac8572edb7

[2013-07-18 06:15] #56 closed, assigned to nobody

[2013-07-18 06:36] StephanEwen commented on #27
Fixed though Alexander's pull request in 35ff4dcd2ed84aa8711e4d3fea1caae622428457

[2013-07-18 06:36] #27 closed, assigned to nobody

[2013-07-19 03:58] StephanEwen commented on #20
Fixed in 4542555ea4cd4e1d7253eb7ce96e140fd0375e83

[2013-07-19 03:58] #20 closed, assigned to nobody

[2013-07-19 04:35] StephanEwen commented on #32
Integrated in 42cdca4006f6f521f0e497732f7fda0295b01d7d

[2013-07-19 04:35] #32 closed, assigned to rmetzger

[2013-07-21 04:13] StephanEwen commented on #25
## Current State
1.  Each Output (Writer/Gate) has a local pool of buffers, which is shared among all channels of the output. Different channels go to different endpoints, e.g. in a hash-redistribute. The Writer evaluates the ChannelSelector (for example the PactRecordOutputEmitter) and send the record to all relevant channels. Each channels serializes the record into its current buffer. If the bu

[2013-08-21 14:50] andrehacker opened #65 "Support custom and efficient (in-memory) pre-aggregations (without Combiner)"
I use and evaluate Stratosphere in the course of my thesis and want to give feedback on what I found is missing or could be improved. This is written from a user perspective.
### Requirement

We have partitioned input we want group and aggregate (by a grouping-key) to a single or multiple records. The input is  either streamed from hdfs or pipelined from other contracts. Our input is not (necessar

[2013-08-21 17:21] andrehacker opened #66 "Attach output of a contract as additional input for another contract (Broadcast variables / Closures)"
Another PACT API feedback from user perspective.
### Requirement
- **Make the output (all records) of one or more contracts available in every udf call of another contract.**
- This should work in an efficient way. Using the Cross-Workaround, we receive the same pactrecord for every udf call and the first line is usually a deserialization (we cache the value, but then need an additional check if w

[2013-08-22 06:59] StephanEwen opened #67 "Add HBase Tests"
The HBase Table Input- and OutputFormats currently lack tests.
We need to add some tests that mock the HBase infrastructure and verify correct setup and correct conversion of the returned data.

[2013-08-22 23:22] StephanEwen commented on #66
We have this issue on the ToDo list under the name GlobalVariable or BroadcastVariable.

Are you interested in implementing this feature? I'd be happy to introduce you into the code that you would need to change. It is a good project if you want to learn the entire stack. (API, compiler, dataflow generator, runtime).

[2013-08-22 23:44] StephanEwen commented on #65
### Current plans to address this problem

This is actually mainly a symptom of the fact that all runtime operators are actually just a specific UDF and there are no built-in aggregation operators. Further more, the runtime API is record-oriented, requiring everything to be implemented as a record-oriented UDF.

There are several efforts underway to change that:

1) The Nephele API is changed to a

[2013-08-22 23:54] StephanEwen commented on #39
Merged Paris Hackathon HBase access formats in 8f7484000ae40ae1b5c68e2d21b9e5a44d984234.

Keeping the issue open until Kostas/Marcus have verified that the functionality matched the requirements. If not, please comment with missing pieces.

[2013-08-23 06:40] dimalabs commented on #24
Implemented in b394c0b5e44e6c90df140eb18b9b37a2413190e5

[2013-08-23 06:40] #24 closed, assigned to nobody

[2013-08-30 14:19] andrehacker opened #72 "ozone build fails for non-yarn hadoop (pact-hbase fails)"
Compiling ozone for a non-yarn version is no longer possible. I tried with the latest stable version 1.2.1.

`mvn -P hadoop_v1 -D hadoop.version=1.2.1 -DskipTests clean compile`

The reason is that pact-hbase uses the constructor `TaskAttemptIDsPattern(String jtIdentifier, Integer jobId, TaskType type, Integer taskId, Integer attemptId)` which is available in yarn only.
Yarn: http://hadoop.apache.

[2013-09-06 13:47] dimalabs opened #75 "Port Yarn support to ozone"

[2013-09-06 14:09] dimalabs opened #76 "Redesign stratosphere.eu website"

[2013-09-06 14:09] dimalabs opened #77 "Documentation: Github readme, quickstart guide ..."

[2013-09-06 14:10] dimalabs opened #78 "Setup issues with instance types"
This task is for Tobias and Andreas (I don't know their github accounts)

[2013-09-06 14:12] dimalabs opened #79 "Startup time of jobs"
Fix slow RPC service
Scalable algorithms in execution graph state machine

[2013-09-06 14:13] dimalabs opened #80 "Progress monitoring (Webinterface)"
Evaluate Cloudera Hue
Re-evaluate Jim Dowling's tools

--> Build a tool to monitor progress of running tasks in stratosphere.

[2013-09-06 14:14] dimalabs opened #81 "Replace PactRecord Datamodel"
This is a joint task with Andreas.

[2013-09-06 14:15] dimalabs opened #82 "(Hash) Aggregators (fold style)"
This issue depends on issue https://github.com/dimalabs/ozone/issues/81

[2013-09-06 14:15] dimalabs opened #83 "Global (Boradcast) Variables"
Something like Hadoop's DistributedCache

[2013-09-06 14:16] dimalabs opened #84 "Wasteful Memory Management"

[2013-09-11 10:29] rmetzger opened #86 "Simulate remote network transfers for debugging and testing"
There are at least two cases of bugs which were only visible when running Stratosphere on a distributed system. (The deadlock bugs uce fixed and a null pointer exception reported by André).
We should cover the distributed operation of our system in testcases, since this is our primary use-case.

It seems that nephele does only use network transfers if task managers have different ip  adresses or p

[2013-09-11 15:49] rmetzger opened #87 "Extend collectors to specify target sink"
This is an enhancement proposal for Stratosphere.

It is possible to have multiple outputs for a given PACT, like the figure below illustrates:

[code]

All records are going to all sinks.
It would be preferable sometimes to select a sink for a record .. For example each group into a separate file (yes, I know, one could add a filter before each sink)

We could add another collect() method like th

[2013-09-12 12:37] uce opened #88 "Start scripts not working on Mac"
The start scripts `bin/start-local.sh` etc. are not working correctly on Mac OS X.

[code]

I think this was introduced by Issue #60.

The problem seems to be the `expr substr` calls in `nephele-config.sh`. On OS X the manpage for `expr` says the following:

On Linux systems `expr substr` works fine.

[2013-09-12 16:20] andrehacker opened #93 "slaves file requires blank line at end (otherwise last slave won't be started)"
The conf/slaves file requires an empty/blank line at the end.
If there is no trailing empty line, the start-cluster.sh (and maybe other files) will not start the last slave.

This issue - and a possible workaround - is described [here](http://linux.derkeiler.com/Mailing-Lists/SuSE/2008-11/msg00196.html).

[2013-09-13 07:08] rmetzger opened #94 "Deadlocks / Failed Tests on Travis-CI"
It seems that tests are randomly failing on travis https://travis-ci.org/dimalabs/ozone.
In order to fix these issues, I'd like to document all failed tests to (hopefully) find a pattern.
Please comment if you see failed tests (with build number)

72.5 eu.stratosphere.pact.runtime.sort.AsynchonousPartialSorterITCase
69.1 eu.stratosphere.pact.test.cancelling.MatchJoinCancelingITCase
60.1 eu.stratos

[2013-09-13 12:37] andrehacker opened #95 "Building for Hadoop v1 and v2 (yarn)"
### How to build

We now use the profile activation via properties (-D), and no longer via profile (-P)
#### Build hadoop v1 (default)

Build the default (currently hadoop 1.2.1)
`mvn clean package`

Build for a specific hadoop v1 version
`mvn -Dhadoop-one.version=1.1.2 clean package`
#### Build hadoop v2 (yarn)

Build the yarn using the default version defined in the pom
`mvn -Dhadoop.profile=2 c

[2013-09-13 19:17] fhueske opened #98 "Temp Files are not removed if job fails"
If a job fails, temp files such as sorted runs might not be removed.

[2013-09-14 20:58] andrehacker opened #99 "Reducer with ALL_GROUP causes error in pact-web visualization"
Plans with a keyless-Reducer cause the pact web visualization to fail:
`Unknown local strategy 'ALL_GROUP' in JSON generator.`

The switch statement in `PlanJSONDumpGenerator` has to be updated (anything else?). The bugfix seems to be simple, however I did want to talk to someone about this before adding a pullrequest.

Stephan recently reimplemented keyless-reducers, see https://github.com/dimala

[2013-09-14 21:15] andrehacker opened #100 "Pact API Proposal: Add keyless CoGroup (send all to a single group)"
I propose to add a keyless version of CoGroup that groups both inputs in a single group, analogous to the keyless Reducer version that was added in https://github.com/dimalabs/ozone/pull/61

[code]

I have a use case where I need to process the output of two contracts in a single udf and I currently have to use the workaround to add a constant field and use this as grouping key.

Adding a keyless

[2013-09-16 07:38] rmetzger commented on #72
@andrehacker: I think we can close this issue now, because https://github.com/dimalabs/ozone/pull/71 fixes it

[2013-09-16 07:40] andrehacker commented on #72
I agree!

[2013-09-16 07:40] #72 closed, assigned to nobody

[2013-09-16 07:40] rmetzger commented on #22
This is related: https://github.com/dimalabs/ozone/pull/90

[2013-09-16 20:03] rmetzger commented on #76
Preview of @aalexandrov's work: http://rmetzger.github.io/ozone/

[2013-09-17 10:48] andrehacker opened #101 "Pact Configuration API: Contract.setParameter and Configuration.getString/Double/... inconsistent"
To pass parameters via configuration I use `Contract.setParameter` in the plan assembler and `Configuration.getDouble/String/...` in `open()`. There is an inconsistency:
Contract offers only 3 implementations of `setParameter`: String, boolean and int.
Configuration, however, additionally offers: getDouble, getFloat, getLong, getBytes.

I think this is a bad user experience for a very common taks

[2013-09-17 12:07] rmetzger commented on #101
I totally agree. Being able to pass arguments via the constructor would greatly improve the user experience!

[2013-09-17 15:50] aalexandrov commented on #76
New version of the website is available, minus the input from @ktzoumas , at http://aalexandrov.github.io/ozone. I encourage everybody to check for errors (dead links, inappropriate text, etc.). The homepage will probably be reworked in the coming weeks but this is not time critical.

Once we have the full text for the Stratosphere workshop I'll merge the gh-pages branch with the main repository.

[2013-09-18 16:31] uce opened #103 "KMeans example and outlier centers"
Running the KMeansIterative example job I noticed the following:

If one of the k centers has no point attached to it (after computing the point to center distances and assigning the nearest center to every point) the job output does not contain all k centers. I had the following centers file (generated by the sample data generator):

[code]

The resulting centers file contained only a single poin

[2013-09-18 16:48] #88 closed, assigned to nobody

[2013-09-19 14:25] aalexandrov commented on #76
Closed by pull request #104.

[2013-09-19 14:57] #76 closed, assigned to nobody

[2013-09-21 13:45] rmetzger commented on #95
This bug produces the following error message for me, when using pact-client.sh to submit a job:

[code]

[2013-09-21 14:46] rmetzger opened #109 "Deadlock (probably in LocalBufferPool)"
The JVM did not do anything anymore.

The job plan that caused this behavior is quite large. I set the DOP to 1, Stratosphere was running in cluster mode.

This stack has been obtained using `jstack`.

[code]

[2013-09-21 17:29] rmetzger commented on #109
The `ByteBufferedChannelManager.logBufferUtilization()` method shows the following stats when the system is in locked state (thanks to @uce ):

There seem to be more buffers requested than designated.

[code]

[2013-09-22 08:31] andrehacker commented on #99
merged

[2013-09-22 08:31] #99 closed, assigned to nobody

[2013-09-22 09:43] rmetzger commented on #95
Okay, I created a little sample project that demonstrate the problem: https://github.com/rmetzger/maven-bug

You mentioned the following bug:

My sample project does not have this behavior. I guess it's because I did not not use the `dependencyManagement` tag in the profiles. If I do so, it does not find the hadoop package.

Sadly, I can not reproduce the behavior. Can you help me?

[2013-09-24 11:49] aljoscha opened #112 "Union on DataSinks does not work"
When you have a DataSink with several inputs you get this error message:
13/09/24 13:48:09 ERROR client.JobClient: ERROR: eu.stratosphere.nephele.executiongraph.GraphConversionException: Job and execution vertex <Unnamed File Data Sink> have different number of inputs
    at eu.stratosphere.nephele.executiongraph.ExecutionGraph.createInitialGroupEdges(ExecutionGraph.java:409)
    at eu.stratospher

[2013-09-24 13:11] uce opened #113 "Configuration setup"
I find it confusing to have configuration parameters set in different places. Besides the XML files in `conf` we also have configuration parameters in `bin/nephele-config.sh`. We could unify this by providing a script `conf/nephele-env.sh` which sets the respective environment variables and is included by `bin/nephele-config.sh`.

Any ideas or comments on this?

I would also appreciate a general d

[2013-09-24 13:17] fhueske commented on #113
+1 for configuration in a single place.

I think the XML config is fine. It is easy to understand by humans and can be parsed or generated by machines (given an XML parser).

[2013-09-24 13:29] asteriosk commented on #113
Yes, it should be kept in a single place - it's always preferable.

The XML file is ok though: the current configuration is pretty flat
(property that has key and value) isn;t this an overkill? Simple key=value
should also work. Unless the XML is there for a specific reason, I prefer
simple, .ini-style configuration files - easier to edit and add new values.
Plus, you don't need an XML parser to d

[2013-09-24 13:30] rmetzger commented on #113
+1 single file

I'd like to add support for other file formats, such as YAML or JSON. I think it should be easily possible to support multiple formats.

One has to add 4 lines for a single stupid key-value pair

[code]

compared to (YAML)

[code]

Yaml also supports nesting ( See https://github.com/dropwizard/dropwizard/blob/master/dropwizard-example/example.yml ) and everything else one wants ;)

[2013-09-24 13:41] uce commented on #113
Although XML is indeed easy to parse and understand, I find it way to verbose and repetitive (for humans).

I would go with @rmetzger's YAML proposal. :+1:

[2013-09-24 13:42] andrehacker commented on #113
+1 singe config directory.
It is currently very easy to forget the (very important) heap-settings in nephele-config.sh.
Hadoop solves it as described by ufuk (they have a file `conf/hadoop-env.sh`) and I think this is the best way to do it.

I agree that XML is very verbose.
I think JSON is a bad alternative because it does not support comments  (see http://stackoverflow.com/questions/244777/can-i

[2013-09-24 13:43] asteriosk commented on #113
The problem with YAML is that it is not trivially parseable from a bash
script. And in any other language, it will add an extra almost unneeded
library.

Lots of times I have regretted not using the simplest and most universally
accepted way of doing something (in this case, a key=value syntax).

In order to respond to the question  on the best candidate, could someone
answer these questions?
- ho

[2013-09-24 13:45] aalexandrov commented on #113
+1 for YAML. Not sure how we're gonna parse this from the shell scripts though.

[2013-09-24 13:54] andrehacker commented on #113
Being able to parse the config files from bash has an advantage: We could even get rid of an additional nephele-config.sh file and all configuration would be in the same folder AND in the same format (including taskmanager and jobmanager heapspace and processid folder which is currently defined in a .sh file).

This might be an answer to @asteriosk question "will we ever need to read from bash?"

[2013-09-24 13:57] rmetzger commented on #113
Okay,

I'm still more convinced by YAML, because its a known format and has a full
fledged parser.

There are currently around 15 values. But there are a few more (I'd say 50 in total) that are not contained in the default file.

Yes. For jvm options. (See Andre, who was faster ;) )

[2013-09-24 14:07] asteriosk commented on #113
I agree that YAML is everywhere and in fashion. But I'm still not convinced
that we need it: we would need it only if we need nesting (or else, it is
"key: value" instead of "key=value"). Thus, (since we _need_ to read from
bash) if we need nesting and you can provide a simple, no-hack way of
reading _nested_ YAML files from bash, I'm 100% with you! If not, I would
keep it simple.

cheers,
Asterio

[2013-09-24 14:15] rmetzger commented on #113
How about using the YAML format, without using a Java-YAML parser. (Just as you said a simple class that splits lines and ":")
We can than pretend that we are super cool. If there is ever the need to use more advanced YAML features, we can keep the existing configuration files and use a more advanced parser.

[2013-09-24 14:38] asteriosk commented on #113
For me it does not make a difference. My only point was to make sure that _we
can parse from bash_. If this is done, I don't care what the separator is
or what the file extension is. But in the end of the day, what's the point
of having: (1) ":" instead of "=" as separator, and (2) .yaml instead of
.conf as file extension, when we do not implement nesting and we actually
implement a classic, good

[2013-09-24 18:19] rmetzger commented on #113
Hi,

You are right, there are technically no differences between ':' and '=' (also for bash-based parsing).

But by being compatible to YAML, we are using a _standardized_ file format. Other applications can easily read and write it, there are syntax checkers out there and there is no need to write additional documentation on the file format.
If we will ever have the need to use more than just key

[2013-09-24 19:16] rmetzger opened #114 "Mailing List for Ozone-Development"
Hello,

I created a Google Groups-based mailing list for all ozone developers.

You can find the Group here: https://groups.google.com/forum/#!forum/stratosphere-dev
The address of the mailing list is: stratosphere-dev@googlegroups.com

This is not any kind of official mailing list or so. I did not ask anybody for "permission" to create it. I just have the feeling that we need a tool to discuss th

[2013-09-24 21:22] ktzoumas commented on #114
Great! We agree :-) Change the welcome message to something more welcoming to newcomers, put a link at the ozone README, and let us use this from now on

[2013-09-25 08:35] ktzoumas commented on #113
I think that Robert's solution satisfies all cases. So let us go for this
unless someone speaks up today. The important thing is to have a single
configuration file in a format that is familiar and friendly to modern
developers.

On Tue, Sep 24, 2013 at 8:19 PM, rmetzger notifications@github.com wrote:

[2013-09-25 09:18] rmetzger commented on #94
It happened again (without a code change),
 93.3 https://travis-ci.org/dimalabs/ozone/jobs/11768081

[code]

[2013-09-25 10:51] aljoscha commented on #113
I like ini files.

[2013-09-25 11:00] sscdotopen commented on #113
http://bikeshed.com/

[2013-09-25 11:07] asteriosk commented on #113
Let's just go on - this is getting too long compared to its importance. Non-nested YAML does the work and everybody is happy with it.

[2013-09-27 19:05] rmetzger commented on #94
101.6
eu.stratosphere.nephele.services.iomanager.IOManagerITCase: No output for 10 minutes

[2013-09-30 11:55] rmetzger opened #117 "Usercode classes should be preferred over system-classes"
I have a Stratosphere job that has jodatime as a dependency. It seems that for our hadoop-yarn build, pact-hbase pulls jruby-complete.jar as a dependency. Jodatime is extracted into jruby-complete.
If I call a yodatime function inside my user code, the wrong (outdated) version is called, which causes an exception.

I think we need to configure the classloader in the TaskManager properly.

[2013-09-30 13:32] rmetzger opened #118 "Add scala-frontend to stratosphere"
@aljoscha is about to finish the Scala frontend-implementation.

I'd like to discuss here if we are going to add the frontend into the main ozone-codebase or if we are going to let it stay in the ozone-scala repository.

It is not possible to (git) merge the two repositories, so if we add scala to the main code, we have to copy the files into the repo.

I vote for adding scala into the main reposi

[2013-09-30 13:42] aalexandrov commented on #118
The current version depends on an old Scala compiler version and from my experience has a painful to almost impossible setup process depending on your environment (Eclipse version, etc.). I think Andre has a similar experience.

As long as these problems are solved with the next version, I would prefer it to be in the same repository.

On the other hand, we also have to think about users who will

[2013-09-30 15:43] andrehacker opened #119 "Accumulators"
There is currently no support for global counters and histograms in ozone. To workaround this lack of expressiveness a user currently has to output the things he wants to track in pact records and merge later, which is pretty complex.

Hadoop + Spark have it (they call it accumulators and even mention it in their overview as a main concept, see [here](http://spark.incubator.apache.org/docs/latest/

[2013-09-30 15:57] aljoscha commented on #119
I thought about this and I see some difficulties when it comes to complex data flows where multiple UDFs could run concurrently. Hadoop and Spark have a very linear flow of execution. Even in spark where there are more complex concepts such as joins and iterations you know which UDFs run after which other UDFS. In stratosphere we do not have that luxury, unless I'm wrong, of course.

[2013-09-30 18:48] rmetzger opened #120 "New Front-Page for stratosphere.eu"
Just to let everybody know, I started to rework the stratosphere.eu website together with @uce.

This is a very early preview, with placeholder texts: http://rmetzger.github.io/ozone/

[2013-09-30 21:45] aalexandrov commented on #120
Looks great, I'll help you with that tomorrow.

[2013-09-30 21:58] rmetzger commented on #120
I'll be late tomorrow or probably won't even come. But Ufuk is there.

On 30.09.2013, at 23:45, Alexander Alexandrov notifications@github.com
wrote:

Looks great, I'll help you with that tomorrow.

—
Reply to this email directly or view it on
GitHubhttps://github.com/dimalabs/ozone/issues/120#issuecomment-25409145
.

[2013-10-01 07:19] aljoscha commented on #118
It would be nice to have it compile the various frontends conditionally. So they would not be in the ozone repository but in their own repo and then when you check them out into the ozone root folder (possibly using git submodules) the maven build picks that up and stratosphere-dist puts everything in the created distribution.

Anyone knows whether that's possible?

[2013-10-01 08:15] fhueske commented on #118
My opinion is to keep it simple. Maven profiles, git submodules, come on... People don't want to read a 40 page manual to learn how to build the system.
Wasn't one of the main goals to simplify things and lower the setup effort?

[2013-10-01 08:29] ktzoumas commented on #118
I assume that scala is stable. If so, I am in favor of adding it to ozone,
as this is a major feature of the November release. We could have an option
in maven to build the system with or without scala and/or meteor

On Tue, Oct 1, 2013 at 10:15 AM, Fabian Hueske notifications@github.comwrote:

[2013-10-01 14:57] rmetzger commented on #94
106.1 https://travis-ci.org/dimalabs/ozone/jobs/12010811
eu.stratosphere.pact.runtime.task.chaining.ChainTaskTest

[2013-10-01 15:14] rmetzger commented on #120
Hey guys,

@uce and me are a bit unhappy with the current Stratosphere logo. What do you think about these two ? See it as a source of inspiration. Its just a draft (I did not create them)

What do you thing about the Idea of changing the logo?

![1376666_642095089157579_406820309_n](https://f.cloud.github.com/assets/89049/1246248/665447d4-2aab-11e3-8cd2-bf20988302ab.jpg)
![1374658_642095082490913

[2013-10-01 15:19] ktzoumas commented on #120
Does the current logo even appear in your website design?

On Tue, Oct 1, 2013 at 5:14 PM, Robert Metzger notifications@github.comwrote:

[2013-10-01 15:22] rmetzger commented on #120
No it does not appear (I don't know the most recent changes from @uce). But I think we want to add the logo to the site.

This is the current logo:
![currlogo](https://f.cloud.github.com/assets/89049/1246392/0e4e9f24-2aad-11e3-8f46-4b726ac3f786.png)

[2013-10-01 15:22] uce commented on #120
No, it doesn't. But mainly because we didn't like it. For example it says Strato**S**phere (at least the version we got from Fabian), which is inconsistent with how we write it.

Of the two proposals, I think I like the second one more (but I am unsure if we need/want a cloud in it ;)).

[2013-10-01 15:24] aljoscha commented on #120
I think both of the new drafts are better than the old one.

[2013-10-01 15:25] rmetzger commented on #120
@uce: I don't know if we want the term "cloud" in our logo. The cloud hype is over, and our logo should not change too often ;)

Please write if you have any other ideas for logos! We could also improve the current logo .. something that has to do with the stratosphere.

[2013-10-01 15:31] ktzoumas commented on #120
Agreed about the "above the clouds", we also removed the cloud references
recently in some posters. If we don't need a logo for the website right
now, let us not use one. But let us not discuss this in this mailing list,
I would rather hire a designer to do that if we decide to change it.

On Tue, Oct 1, 2013 at 5:25 PM, Robert Metzger notifications@github.comwrote:

[2013-10-01 15:32] fhueske commented on #120
Actually, the old logo is related to the stratosphere. The blue circle resembles the earth and the gray ring the stratosphere...
Please be also aware that changing the logo is not only a question of style or taste.

[2013-10-01 18:51] sscdotopen opened #122 "Remove generated comments"
I suggest to remove all Eclipse-generated comments from the source like

[code]

Such comments offer zero value to a reader.

[2013-10-01 18:56] aljoscha commented on #122
I agree, we just need the resident regex wizard to come up with the all-powerful regex to remove all that stuff.

[2013-10-01 19:01] rmetzger commented on #122
+1

I think that we also wanted to remove all `@author` tags.
We should probably do this with as few pull requests as possible (@uce has a large pull request pending).

[2013-10-01 19:08] aljoscha commented on #122
We should first merge in the big stuff because after changing basically every file a merge (or rebase) can get quite nasty.

[2013-10-03 07:16] aljoscha opened #123 "Strange (and faulty) Iterations Behaviour"
In KMeansIterative, when you add an identity mapper after the reduceClusterCenter reducer you get:
java.lang.RuntimeException: : BUG: The task must have at least one output
    at eu.stratosphere.pact.runtime.task.RegularPactTask.registerInputOutput(RegularPactTask.java:248)
    at eu.stratosphere.nephele.execution.RuntimeEnvironment.<init>(RuntimeEnvironment.java:194)
    at eu.stratosphere.nephe

[2013-10-03 07:38] sscdotopen commented on #123
I suggest you open another issue for the second error as it seems to be a different thing. Could you also add a stacktrace from one of the machines for the case where you saw the stalling? I've seen stalling two, it can either be caused by deadlocks in the network layer or by the compiler failing to insert dams at the correct points.

[2013-10-03 07:58] aljoscha opened #124 "Strange (and faulty) Iterations Behaviour #2"
I have a new example job to calculate a transitive closure (both java and scala frontend) where I have a union of the iteration input after using the input earlier. The udf with the union will just stall and nothing will happen. It does not happen when I unroll the iteration and it does also not happen when I emulate the reducer that has the union using a CoGroup.

Source Code: https://github.com/

[2013-10-03 08:00] aljoscha commented on #124
@sscdotopen I don't have a stacktrace, the job will just stall and there will be no more output. I'm using the LocalExecutor, by the way.

[2013-10-03 08:13] sscdotopen commented on #124
You can take one with jstack or your IDE

[2013-10-03 08:22] aljoscha commented on #124
Ok, I'll do that when I'm at DIMA tomorrow where I have the code.

[2013-10-04 07:19] rmetzger commented on #117
This commit by @AHeise https://github.com/dimalabs/ozone/commit/aca4323c1c0f05d29afcdfce5e4564663adc41e0 could fix the issue. It was merged with the maven-central deployment pull request.
I'm going to validate the fix once I'm working on that task again.

[2013-10-04 07:46] rmetzger opened #125 "Versions, Artifact IDs, Maven Central"
Hello,

I recently merged this https://github.com/dimalabs/ozone/pull/64 pull request  by @Aheise into the main code line.
It automatically uploads successful builds to the Sonatype OSS Snapshot repository (https://oss.sonatype.org/content/repositories/snapshots/eu/stratosphere/ozone/).
I therefore changed the version of Stratosphere to `0.4-ozone-SNAPSHOT`.

You can now add us as a dependency by

[2013-10-04 08:02] rmetzger commented on #120
I think one thing is missing from the current website draft (http://rmetzger.github.io/ozone/). There is no description of what Stratosphere does on the front page! It only tells features. But if someone does not know anything about our system, it is hard to find out, what it is about.

I think we should have two sentences explaining our system.
"Stratosphere is a distributed data processing syste

[2013-10-04 08:09] aljoscha commented on #125
What is your problem with having to include pact-clients and pact-common instead of "ozone"?

[2013-10-04 08:20] rmetzger commented on #125
Nothing.
I somehow thought that it should work by including just the `ozone` artifact. Based on my experience with open source projects, you usually only have to include one artifact to use the project.
It is also dissatisfying for me not to understand, why it is not working!

[2013-10-04 08:27] aljoscha commented on #125
I think the difference might be that other projects only have one pom to begin with. For us the "ozone" pom is just the parent pom of the project, it does not contain any code artifacts. I think it is more correct to have to include the exact pom that you want. If it where not like that you would always get the whole shebang (scala, meteor, nephele stuff, tests) even if all you want to do is devel

[2013-10-04 08:40] aljoscha commented on #125
In spark you add spark-core as a dependency, this is not the top-level pom of spark.

[2013-10-04 09:20] rmetzger commented on #39
Is there any sample code on how to write into hbase?

[2013-10-04 11:11] aljoscha commented on #124
I've added the stacktrace. It seems that all the tasks are waiting for something.

[2013-10-04 11:15] rmetzger commented on #124
This reminds my of an issue that I have with the telecom use-cases https://github.com/dimalabs/ozone/issues/109
It also involves the sorter.

[2013-10-04 11:35] aljoscha commented on #124
But you didn't solve that one yet, right?

[2013-10-04 11:40] rmetzger commented on #124
No, I have a workaround that is not applicable to you.

(I have two `FileDataSource` for the same file, so that each contract that
needs the data can read it from its own source). The workaround is based on
various experiments. I did not understand the problem. I'm also unable to
create a smaller sample job that repeats the error

On Fri, Oct 4, 2013 at 1:35 PM, Aljoscha Krettek
notifications@gith

[2013-10-04 12:30] rmetzger opened #127 "Create Sample/Quickstart Stratosphere Project"
This is an idea from @asteriosk (I could not find any issues or comments describing this, so I created one.)

He suggested to add a project skeleton for Stratosphere Jobs. It should contain
- an maven pom with all the required dependencies
- a main() method with the LocalExecutor
- Some documentation on where to put the code, how to run locally and distributed

Should we add this sample code into

[2013-10-04 12:36] fhueske commented on #127
Isn't that exactly what a Maven Archetype should provide?

[2013-10-04 14:05] sscdotopen opened #128 "Duplicate keys after chained reducers"
Hi guys,

I'm trying to create the homework assignment for my course and as example I wanted to write a PACT job that computes the degree distribution of a graph (=how many vertices have outdegree x). The input is a file with "source target" ids per line.

I have a Map that parses the data and emits (vertexID, 1), then a reduce that sums up the degree per vertexID and emits (degree, 1). The last r

[2013-10-04 14:19] fhueske commented on #128
Hej,

I had a short look at your code. I don't know the solution for your problem, but your code contains another bug.
You tagged both reducers as combinable, but your stubs are only counting records not summing up the "one"s.
This means, that the Reducer will count the pre-counted values of the Combiner and produce wrong results.

Fabian

[2013-10-04 14:24] fhueske commented on #128
Btw. what do you mean by chained reducer? Simply that there are two subsequent reducers or is the second reducer actually chained (local-forward connection) behind the first?
Have you checked the plan?
Can you export it as JSON (via ./bin/pact-client.sh info ...) and attach to this issue?

[2013-10-04 15:14] sscdotopen commented on #128
Thank you for finding the bug,  I fixed it. By the way, only the last reduce is marked as combinable. With chained reducers, I simply mean two subsequent reduces. Still getting the error.

I'm using the LocalExecutor, not sure how to retrieve the plan from that.

[2013-10-04 19:21] rmetzger commented on #128
I'm going to look into it.

[2013-10-04 20:08] rmetzger commented on #128
In `SumDegrees.reduce()`:

[code]

I did not really understand the bug and I validated with a very very small input data set, so I'm not 100% sure if this is right. But I guess that's the fix. I'll have a more detailed look tomorrow.

[2013-10-05 05:43] aljoscha commented on #128
Why would this change anything?

[2013-10-05 10:22] uce commented on #86
What's the status on this? What needs to be done? I think that this is a really nice (and long overdue) addition to the LocalExecutor.

What about adding an extra argument to the execute methods of `LocalExecutor` instead of having a new `DistributedLocalExecutor`?

[2013-10-05 17:40] rmetzger commented on #86
Okay, I created a Pull Request. I'll prepare a second pull request for the test-integration and a combined LocalExecutor

[2013-10-06 12:13] rmetzger commented on #128
Stratosphere reuses PactRecords internally. So if you have a `map()` method, you'll receive the same `PactRecord` object over and over again. The runtime changes the contents of the underlying memory buffer.
The same applies to `reduce()` methods. If you would copy the references you receive from the `iterator.next()` calls into a List, it would contain multiple references to the same object.
It s

[2013-10-06 12:31] aljoscha commented on #128
Ah no, I get it. The last call to hasNext() loads the first record of the next reduce group into the record referenced by first record. And therefore we emit that wrong key. (and might also possibly alter the count for the next group.)

But this shouldn't be like that, users should not have to worry about the internal behaviour of the system. This is a very hard bug to track down if you don't know

[2013-10-06 12:37] rmetzger commented on #128
I totally agree with you. The user experience is really bad with this.

The slightly messed up documentation in our wiki explains this too: https://github.com/dimalabs/ozone/wiki/pactrecord#mutable-objects

I was thinking if there is a way to check if the user is doing anything wrong, in a special (probably very expensive) debug mode. We could enable this mode for example with the LocalExecutor.

[2013-10-06 13:05] sscdotopen commented on #128
Thank you, Robert. I fixed the code now.

I already said years ago at the IMR hackathon that the API of the ReduceStub is broken, with putting the burden on the user having to get the key out of the iterator of PactRecords... I think it needs to be changed to give the key(s) as an extra argument. And we should not load the contents of the next group before the reduce method is finished.

[2013-10-07 08:37] fhueske commented on #128
I agree, that this is really a tricky bug to find and fix.
However, mutable objects are quite commonly used to improve performance. Hadoop does it as well.
The bad thing in the Stratosphere code is, that two different objects seem to be returned to the user code and one of them is a look-a-head record into the next group (the one that is modified by the hasNext() call).

I thing, we should fix the

[2013-10-07 17:37] StephanEwen commented on #109
This bug did not use to occur. I wonder if it is an effect of the refactoring that removed file buffers. I remember that the logic for asynchronous events was removed. I would have a look at that code in a previous revision and see whether it could have implications to announcing asynchronous buffer availability.

[2013-10-08 08:04] rmetzger commented on #109
I also had this thought and tested the Job on the commit before my pull request. The same error occurred.
The only thing that happened when an asynchronous event was registered was replaying a checkpoint.

I think the bug has something to do with the complexity of the Job. It has 3 input files, about 20 output sinks, many joins, maps etc.

[2013-10-08 08:05] andrehacker opened #132 "Ozone Memory Layout"
Hi residents of the Stratosphere,

I found it a bit difficult to get a big picture of the memory usage of Ozone so I created this small comparison graphic (ozone vs. yarn). You can ignore yarn...

Can someone confirm that it looks like this on the high level?

![memory](https://f.cloud.github.com/assets/659564/1288867/19996e3e-3018-11e3-93bb-dd6bfca4ed1e.png)

Having such high level picture in the

[2013-10-08 10:55] rmetzger commented on #132
Yes, (Network)Buffers are taken from the heap space, as byte arrays. This was changed by https://github.com/dimalabs/ozone/pull/53.

8+4 makes 12, how should this work with 10 GB heap space?

I don't see any problems with your picture, but you should probably ask @StephanEwen. You could consider renaming "Rest for UDFs .." to "Java Objects: UDFs ..."

[2013-10-08 11:37] rmetzger opened #133 "Change dimalabs to "stratosphere", rename "ozone" to "stratosphere"."
Hi,

I was able to get the @stratosphere GitHub account!
In a meeting earlier today, we discussed to move ozone to "stratosphere-eu". But I think @stratosphere is just the best account name that is possible!

What I like to do is the following:
- Delete the @stratosphere account
- Rename @dimalabs to @stratosphere
- Rename the repository from "ozone" to "stratosphere".
  Depending on what happens

[2013-10-08 11:42] aljoscha commented on #133
Did anyone check whether renaming would work if the other account was just deleted. We should test that with some  new accounts.

[2013-10-08 11:43] sscdotopen commented on #133
Please don't do it this week. The code for the AIM3 course is also
living inside the @dimalabs account, if you change stuff, this might
cause havoc to my students here. The course is over next week, so than
the migration should be fine.

Thx,
Sebastian

On 08.10.2013 13:37, Robert Metzger wrote:

[2013-10-08 11:44] rmetzger commented on #133
Okay, seems like the @stratosphere references are not working. This is the url of the current account: https://github.com/organizations/stratosphere (but it is only there for blocking the username).
I think I will not turn the account into an organization, because the URL is not nice!

[2013-10-08 11:45] rmetzger commented on #133
@sscdotopen Okay, sure.

[2013-10-08 11:52] temptest1 opened #134 "Replacing Nephele's IOReadableWritable with Hadoop's Writable interface"
I was wondering if we should remove our `IOReadableWritable` interface and use Hadoop's `Writable` instead. Despite a small difference in the name of the read method, they are identical:

[code]

[code]

This would allow Hadoop users to directly work with their `Writable` implementations in Stratosphere (for example Mahout's `VectorWritable`).

Does anybody see problems with this?

[2013-10-08 11:53] uce commented on #134
OK, sorry. This was me with my still logged in temporary account (because auf #133). :baby:

[2013-10-08 11:54] sscdotopen commented on #134
BIG +1 on that. Would be a great step towards integration with the rest of the world.

[2013-10-08 12:04] ktzoumas commented on #133
What about transfering the ozone repository? It seems to be the "correct" github way: https://help.github.com/articles/how-to-transfer-a-repository

What would be the problem with that?

[2013-10-08 12:05] ktzoumas commented on #133
Could you also ask the GitHub help team what would be the best way to do this?

[2013-10-08 12:08] aljoscha commented on #133
If a repo transfer would also transfer issues and all the discussion (which I feel it will) then this would be the way to go I think.

[2013-10-08 12:20] ktzoumas commented on #133
Yes, let us ask the GitHub help team to make sure it does

On Tue, Oct 8, 2013 at 2:08 PM, Aljoscha Krettek
notifications@github.comwrote:

[2013-10-08 12:26] StephanEwen commented on #134
I am also in favor. Are there any other implications? I can think of:
1. Delete the nephele Record type and the Pact Value type, both will be replaced by the Hadoop type.
2. Adjust all Examples...
3. The richer value types which allow the runtime to do some extra stuff must inherit from the Hadoop type.

What about our key type? Should it inherit from WritableComparable?

[2013-10-08 12:28] rmetzger commented on #133
I asked them.

[2013-10-08 12:29] StephanEwen commented on #132
It looks good to me, and I agree with Roberts comments.

In the case of using Yarn with Stratosphere, each Yarn Container will use its memory like the TaskManagerHeap. In Addition, yarn has a container daemon running on each machine (afaik) which monitors the resource consumption of the JVMs running inside the individual containers.

[2013-10-08 12:45] StephanEwen commented on #128
I think the underlying problem is this: The general (unwritten) contract of all UDFs is that any object returned by an iterator is invalidated as soon as the next() function is called. You can never hold a reference to a PactRecord or any of its fields across next() calls. As long as you obey this, everything works.

That is, however, a contract that is easily and unconciously violated. I would su

[2013-10-08 12:51] StephanEwen commented on #39
@mleich Can you answer the question?

[2013-10-08 13:22] andrehacker commented on #132
Okay, thanks for confirmation and the link to #53 - so we don't use any direct buffers any more.

My picture of Hadoop refers to Hadoop Yarn and MapReduce. Yes, every node runs a NodeManager killing containers that use too much memory, which is the only resource considered currently.
There is a lot of overhead involved for MapRed+Yarn since it first acquires a new Container (=JVM) for the MapRedAp

[2013-10-08 13:24] fhueske commented on #128
A similar option could be used to mark that user code does not modify incoming records.
In case of Match or Cross, records can be given multiple times to the user code. Currently such records are deserialized for every user code invocation to ensure that their data was not modified in a previous user code call.

[2013-10-08 13:43] rmetzger commented on #133
Okay, I got the answer:

So everything seems to be fine with moving "ozone" to the stratosphere organization.
@sscdotopen would even be unaffected by this. (But I will still wait because your students probably also access the ozone repo).

But I suggest (if @aljoscha agrees) to move the ozone-scala repository to stratosphere. This could be a perfect testbed. (Should we also rename it to stratosphe

[2013-10-08 14:07] aljoscha commented on #133
Yes, you can move (and rename) it.

[2013-10-08 14:08] mleich commented on #39
There is a fragment of a TableOutputFormat from the Hackathon. Chances are it's not functional out of the box.
Will pass it on to @rmetzger

[2013-10-08 14:25] rmetzger commented on #133
Done

[2013-10-08 14:59] aljoscha commented on #124
@StephanEwen I have added a failing test case for this in https://github.com/aljoscha/ozone/tree/iteration-with-union-bug

[2013-10-08 15:00] aljoscha commented on #123
@StephanEwen I have added a failing test case in https://github.com/aljoscha/ozone/tree/chained-mapper-bug

[2013-10-09 13:45] sscdotopen opened #136 "Problems with WorksetConnectedComponents"
(1) The comments in WorksetConnectedComponents obviously refer to K-Means

(2) The wiring of the iteration seems to be wrong, the next workset is produced by joinWithNeighbors not by updateComponentId

[code]

[2013-10-09 15:39] fpompermaier opened #138 "WordCount total ordering not working?"
Hi to everybody,
I tried to slightly modify the WordCount example to obtain a single output file ordered by word occurrence but I always get an error.

This is the plan of my WordCount:

[code]

The error I receive is:

java.lang.Exception: The data preparation for task 'Count Words' , caused an error: Invalid local strategy provided for CombineTask.
       at eu.stratosphere.pact.runtime.task.Reg

[2013-10-09 16:24] fhueske commented on #138
Flavio, thanks for reporting this bug!

That looks like a bug in the Pact compiler to me.
The compiler should choose the correct execution strategies and something seems to go wrong here.
Will look into this issue later this evening. Maybe there's an easy fix for the problem.

Best,
Fabian

[2013-10-09 16:28] rmetzger commented on #138
I was not able to reproduce the error. I used the wordcount in `pact-examples` and added `reducer.setDegreeOfParallelism(1);` and `out.setLocalOrder(new Ordering(1, PactInteger.class, Order.DESCENDING));`

Did you change anything else?
How did you execute your Plan? Using the LocalExecutor?

[2013-10-09 16:47] rmetzger commented on #94
124.2 https://travis-ci.org/dimalabs/ozone/jobs/12317633
Running eu.stratosphere.pact.runtime.task.MatchTaskTest
java.util.ConcurrentModificationException

This is the third time for the `MatchTaskTest`. So I think we need to investigate this!

[2013-10-09 16:47] fpompermaier commented on #138
I run the test with this:

[code]

[2013-10-09 16:48] rmetzger opened #139 "MatchTaskTest sometimes fails with ConcurrentModificationException"
According to https://github.com/dimalabs/ozone/issues/94 there are at least 3 cases on Travis-CI where the MatchTaskTest failed.

Someone needs to investigate this issue.

[2013-10-09 16:52] rmetzger commented on #138
Thank you. I was able to reproduce it.

The error only occurs with numSubTasks > 1. (But with numSubTasks = 1, the output isn't sorted ;) )

[2013-10-09 17:15] rmetzger commented on #138
It seems that the error is caused by `reducer.setDegreeOfParallelism(1);` and a default DOP > 1.

Even though no exception occurs, the output is not sorted! So we have at least two bugs here.

[2013-10-09 17:23] asteriosk opened #140 "Migration of wiki documentation"
Hi,

today I made a couple of scripts and migrated the old dokuwiki to the github wiki:
https://github.com/dimalabs/ozone/wiki

Some issues remain however. We have to:
- find broken links to code that are broken because of the refactoring of Ozone
- resize images when needed

Thus, I would like to ask you to do a pass over the documentation in order to find possible problems and fix them. You can

[2013-10-09 17:23] asteriosk commented on #140
I am taking over the following pages and their "subtree":
-   **[Setup &  Configuration](#"wiki:")**
  -   [Cluster
    Setup](#"wiki:clustersetup")
  -   [Cloud
    Setup](#"wiki:cloudsetup")
  -   [Instances and Parallel
    Scheduling](#"wiki:instancesandscheduling")
  -   [Configuration
    Reference](#"wiki:configreference")
  -   [Using Nephele with Channel
    Compression](#"wiki:nephelecom

[2013-10-09 19:05] sscdotopen opened #142 "Unable to compile workset iteration, URGENT"
Hi, I tried to create a simple incrementally iterative algorithm for the homework for the course here in Trento.

Unfortunately, I can't get the compilation of workset iterations to run.

I get an exception saying that I try to change the partition in the Match updating the solutionset (which I think I don't do :))

Could anyone have a look at the code? Its very urgent as I have to hand out the as

[2013-10-09 20:30] fhueske commented on #138
I found the following bugs in the Pact compiler:
1. The Pact compiler assigns the same DOP to combiners as to the corresponding reduce tasks. Instead, combiners should get the same DOP as the preceding operator by default.
2. The valid driver strategies for chained and non-chained combiners differ. Chained combiners allow only PARTIAL_GROUP. Non-chained combiners allow only SORTED_GROUP. I do not

[2013-10-10 08:28] StephanEwen commented on #142
Hey!

I think the issue is exactly as the error message says: You are missing an annotation that tells the optimizer that the keys are preserved.

Please add a @ConstantFieldsFirst to the class containing the MatchStub and try it again!

[2013-10-10 08:37] sscdotopen commented on #142
Why do I have to add this annotation? If the Match changes the partitioning, our iteration implementation doesn't work anyways, right?

Adding the annotation gives me another error:

[code]

[2013-10-10 08:50] StephanEwen commented on #142
That is exactly the point. If the match changes the partitioning, the current code path does not work. It would need to add an extra partitioning step and update the solution set elements deferred ( #21 ). Since that has not been implemented, yet, the compiler needs to reject the job.

What are suggestions to handle this until the deferred index updates are implemented?

I'll look into the other b

[2013-10-10 09:07] rmetzger opened #143 "Simple Webinterface for Jobmanager"
assigned to Markus Holzemer
Simple jetty server running inside the Jobmanager.

("nice to have" - for release)

[2013-10-10 09:09] rmetzger commented on #140
We decided to create a comprehensive introduction/tutorial on the website.
Scala is the primary languages for the examples.
Assigned to @asteriosk (and @uce)

We are going to have a new Java programming interface that is similar to Scala's.

[2013-10-10 09:23] rmetzger opened #144 "Add meteor to the new "stratosphere" account."
Meteor stays in its own repository (unlike Scala).

It will be part of the 0.4 release of Stratosphere.

Add travis and sonatype deployment.

[2013-10-10 09:31] rmetzger commented on #66
@aalexandrov is going to take care of the implementation of broadcast variables.
Write once, read only.

(Stratosphere 2 is probably going to add a more advanced implementation in the feature)

[2013-10-10 09:47] sscdotopen commented on #142
I'm just saying I found it not user-friendly to have to use the annotation. It doesn't add any value to my code and prevented me from using the Workset Iteration :)

[2013-10-10 12:19] #118 closed, assigned to nobody

[2013-10-10 12:35] StephanEwen commented on #142
The system can currently not handle situations where the matcher with the solution set changes the key. We can either say we accept all jobs, optimistically assuming they do not change the key, and potentially produce erroneous results or error reports, or we reject these jobs and only accept the ones where we are sure (the ones with the annotation). We currently does the later, but we can change

[2013-10-10 12:38] sscdotopen commented on #142
I think that what is going to happen is that users will simply add the annotation to their code even if their code does not adhere the rules :)

[2013-10-10 12:46] StephanEwen commented on #142
Okay, so we need to get the general code path working as fast as possible. Then the annotation is a performance thing only, and like all semantic assertions, will cause incorrect behavior if the code actually violates it.

[2013-10-10 13:19] fhueske commented on #138
I just issued a pull request to fix the issues with the combine task.
However, this does not solve the non-working sorted output. See #146

[2013-10-10 13:30] fhueske opened #146 "Sorted output not working"
The Pact API allows to specify sorted output.
This feature is currently not working due to open issues with range partitioning.
However, the user is not notified that this is not working.

I suggest that we address this issue as follows:
- As a quick fix, add a compiler exception for jobs that request output sorting.
- As a partial solution, enable locally sorted output (and fully sorted on sinks

[2013-10-10 13:59] rmetzger commented on #146
How much work is it to enable locally sorted output?
(Isn't it only fixing the localStrategy for the Sink? )

[2013-10-10 16:50] StephanEwen opened #147 "Make Stub and Input/Output Formats Serializable"
Currently, all stubs need to manually declare serializability, to be able to be shipped as code. This causes non-runnable stubs, if they forget this declaration (easy trap) and ugly user code.

We should either
- declare serializability in the Stub, so it does not need to be added to all implementations. It still required to either ignore the serializability warning, or declare a serial version ui

[2013-10-10 17:05] aljoscha commented on #147
At the beginning I declared serializability in the stub. I decided against this though because serializability does not just mean implementing Serializable, you also have to make sure that your class is actually serializable. It has to be a deliberate choice by the user.

[2013-10-10 17:09] rmetzger commented on #147
I don't know if you know that @aljoscha's implementation is able to handle both, classes and objects as stubs.

I think Hadoop users are used to define classes in their stubs and configure them using the Configuration. If (advanced) Stratosphere users want to pass objects, they have to take care of serializability.

[2013-10-10 17:15] physikerwelt opened #148 "Failing tests"
The junit tests still fail.

[2013-10-10 17:16] physikerwelt opened #149 "Readme outdated"
The readme file is outdated.

It's said
cd stratosphere-dist/target/stratosphere-dist-0.2-ozone-bin/stratosphere-0.2-ozone/
this folder does not exist.

[2013-10-10 17:20] aljoscha commented on #148
Which tests are failing?

@all Shouldn't the "mvn verify" that is run on each pull request catch them?

[2013-10-10 17:23] aljoscha commented on #149
Thanks for the hint. :smile:

[2013-10-10 17:24] rmetzger commented on #148
I am aware of one unit test that contains an error. But if executed with maven surefire in the specified version (of the surefire plugin) the overall tests succeed.

We run the integration tests using "mvn clean verify".
Please add more details on how to reproduce the error you reported.

@aljoscha: Yes, they should, but they actually don't. There is one case: If a test has an error, it is not fai

[2013-10-10 17:26] rmetzger commented on #149
I guess the fix is not valid, since our version (currently!) is 0.4-ozone-SNAPSHOT ;)

One other thing, you should probably add to the README is a little note that your eclipse plugin links are only for eclipse x.y.

[2013-10-10 17:32] physikerwelt commented on #148
Jenkins compiles with goal package. Feel free to take a look to the jenkins configuration. (If you are at DIMA.)

[2013-10-10 17:35] aljoscha commented on #149
Ok sorry, maybe I was a bit to quick there.

[2013-10-10 17:45] StephanEwen commented on #142
The bug is fixed in 0e53fe573f5bbbd6f33647f746d99fe70153ece7

[2013-10-10 17:45] #142 closed, assigned to StephanEwen

[2013-10-10 17:49] aljoscha commented on #142
@StephanEwen By the way, if you refer to an issue in your commit message or pull request the issue is closed automatically with a link to the commit that closed it. See here: https://help.github.com/articles/closing-issues-via-commit-messages

[2013-10-10 18:43] StephanEwen opened #150 "Clean up Scala Example Code"
- Remove Aljoscha specific paths in the examples
- Remove printouts for global schane

[2013-10-10 19:09] rmetzger commented on #94
131.4
MatchTaskTest: https://s3.amazonaws.com/archive.travis-ci.org/jobs/12381122/log.txt

[2013-10-10 19:16] StephanEwen commented on #94
The source of the problems seems to be the following: The hash iterator code performs the following on close:
1. Close the hash table
2. Release the memory

While the hash table checks if it was closed before (even if not atomically), the memory release may be attempted multiple times concurrently. The treatment of the segments themselves is guarded by the memory manager's lock, but the iterator i

[2013-10-10 19:20] StephanEwen commented on #94
Looking at the memory manager code, there is quite a bit of bookkeeping done. Especially maintaining a set of all memory segments per task is intensive, unless it is bulk released. At the moment, each segment is individually added and removed form/to a hash set.

We may want to reduce this at some point, as it will impact large memory setups. Especially when operators are initialized multiple time

[2013-10-10 19:38] StephanEwen commented on #94
Here is a quick fix for one possible scenario.

https://github.com/StephanEwen/ozone/commit/a33e1a39a15f5360a2ae671e682108ff61dc024a

This is only a quick fix to reduce odds of problems. I think most components have potential concurrency issues when close()/release() is called multiple times concurrently. This could be an issue for clean canceling/failing. A really clean approach would require eit

[2013-10-10 19:39] StephanEwen commented on #139
Refer to #94 for detailed comments.

[2013-10-10 20:10] uce commented on #147
I would be curious to see how much we would gain by using Kryo instead of Java serialization (see https://github.com/eishay/jvm-serializers/wiki for some numbers).

Scala classes need some extra setup though (https://code.google.com/p/kryo/#Scala).

Spark for example uses Java serialization for closures (see `spark.closure.serializer` at http://spark.incubator.apache.org/docs/latest/configuration.

[2013-10-10 20:17] aljoscha commented on #147
But we only use java serialization in non-performance-critical stuff, right? So I wouldn't worry about this to much.

[2013-10-10 20:19] uce commented on #147
Yeah, sure. I think I wanted to say that we might also think about the performance-critical stuff in the long term.

[2013-10-11 08:47] rmetzger commented on #117
The mentioned commit by @AHeise introduces a much bigger problem, currently being in the main codeline:

[code]

[2013-10-11 08:58] aljoscha commented on #117
@rmetzger This is in your telekom use-case? This seems to be a problem with the move to allow objects in addition to classes for user-code. There should only be a UserCodeWrapper<AvroInputFormat> in the task config.

[2013-10-11 09:08] rmetzger commented on #117
Stephan is on it.

[2013-10-11 09:15] rmetzger commented on #117
Full stack

[code]

[2013-10-11 14:18] StephanEwen opened #154 "Cancelling tests do not work properly and spuriously fails"
The cancelling tests do not actually report errors while cancelling and may hang.

[2013-10-12 08:26] rmetzger commented on #154
(This is a little brain dump from yesterdays meeting with Stephan. I hope I remember everything correctly)
The idea of the cancelling tests is to verify that failed tasks are properly shut down.

The current implementation of the testcase is a bit wrong.
There is a main thread (a) that starts another thread (b) which is going to be cancelled eventually. (a) waits until (b) has been cancelled..
But

[2013-10-12 08:29] rmetzger commented on #87
I talked with @StephanEwen about this and it seems to be very simple to implement this feature.
It is more important to find a nice API for users to integrate this feature. I don't have time right now to figure this out and implement it. But I try to find time in the future.
But I'm always happy if somebody else is interested in this ;)

[2013-10-12 09:42] StephanEwen commented on #154
There is a thread (c) that calls cancel on the tasks. (a) then waits for (b) and (c) to finish.

When the cancelling logic is faulty itself, (c) will terminate without letting the testcase know that something went wrong.

[2013-10-13 14:56] #149 closed, assigned to nobody

[2013-10-14 08:42] rmetzger commented on #133
I'm going to do the move in the next few hours.

[2013-10-14 12:10] fhueske opened #158 "Filter methods for Cross and Match"
It would be nice to have filter methods also for the result of the join and cross methods, i.e., on pairs of records.
That would it make easier to "return nothing" from match and cross.

[2013-10-14 12:18] fhueske opened #159 "Scala Frontend: Better support to return no or multipe records"
Currently it is cumbersome or not possible to return no or multiple records from match, cross, reduce, and cogroup.
When implementing the triangle enumeration example, I found this to be the most difficult part.
As many MR algorithms require this feature, I think we should have good support for these usecases.

On approach to enable this emitting an arbitrary number of records could be to "collect

[2013-10-14 12:43] fhueske opened #160 "Scala Frontend: PactList Serialization Bug"
I tried to reimplement the Java version of the ComputeEdgeDegree example as a Scala Pact program.
The job requires to return multiple records from a reducer (one per input record). However, currently the Scala reducer can only return a single record. I tried to solve this issue by returning a Scala list from the Reducer that contains all emitted records and to flat out that list using a flatMap. T

[2013-10-14 12:49] rmetzger commented on #133
Move and rename done.
The website is still up.

now, everybody should update the urls of the remotes.

[2013-10-14 13:43] rmetzger commented on #133
Okay. I changed all links on the website.
Travis seems to work with the new name.

The only thing we noticed is that some issues are not assigned anymore.

[2013-10-14 15:18] StephanEwen commented on #159
Returning a Sequence should work, if it can be implicitly converted to an Iterator, I guess.

I agree, though, that a collector based signature would be good addition.

[2013-10-14 16:17] #160 closed, assigned to aljoscha

[2013-10-14 18:12] fhueske commented on #159
Now that #160 is fixed, returning lists and unnesting them with flatMap works fine.
I think unnesting lists / sequences is such a common operation, that having a build-in function to do that instead of using flatMap with an UDF would be a good idea.

A collector based interface similar to the Java interface would also be nice.

[2013-10-14 20:53] andrehacker commented on #159
I just want to add that it would be good if our system/compiler can differentiate what we return.
I see 3 main scenarios:
- always return one
- return none or one (a filter as mentioned in #158)
- return none, one or multiple

This information is very relevant for the Pact compiler. Ideal would be if I can emit whatever I want (sequence or single record) and the Scala compiler just figures out wha

[2013-10-14 23:27] StephanEwen commented on #159
@andrehacker That is a good observation.

Indeed, the original design idea was to represent this exactly through
- map (always one)
- filter (zero or one)
- flatMap (zero to n)

This is however only implemented on the base Monad (DataStream). The Match/CoGroup/Cross results are treated differently at the moment and only have map/flatMap. It makes total sense for consistency and also efficiency to

[2013-10-15 06:06] aljoscha commented on #159
@StephanEwen I'll add filter to join and cross when I am at DIMA. Do you think it makes sense to have filter for something like reduce and cogroup?

[2013-10-15 06:43] fhueske commented on #159
I already opened an issue for that: #158
The semantics of filter on tuple-at-a-time streams is clear. For group-at-a-time streams however the semantics are not so easy. In addition, resetting the values iterator is currently not supported by the runtime.

Aljoscha Krettek notifications@github.com wrote:

[2013-10-15 08:04] andrehacker commented on #159
@StephanEwen Thanks for the explanation. Just for understanding, do you mean `Contract.getCompilerHints().setAvgRecordsEmittedPerStubCall(n)` by "Annotations on cardinality bound"?

My main motivation to write was to collect as many cardinality+cost information as possible, also in the higher levels. Maybe that's already the case...
For example, if Scala knows that it is a 1:1 cross/reduce..., it

[2013-10-15 08:12] rmetzger commented on #143
Hello guys,

Markus started to work on this task today.
We need to specify how we would like to have the webinterface.
I suggest that we orient us on the JobTracker interface of Hadoop.
So a list of waiting, running and completed jobs.
An interface to view logfiles.
A very basic progress overview.

[2013-10-15 08:15] aljoscha commented on #159
In the scala frontend it would work. No idea what the lower layers make of all that. :worried:

[2013-10-15 09:22] StephanEwen commented on #143
There is no notion of waiting jobs right now, so I guess we should go with the running ones (most likely only one most of the time) and then the completed ones.

I think that hadoop is using a dedicated server for job histories, because in YARN, the jobmanager lives only for a single job typically.

[2013-10-15 09:42] andrehacker commented on #143
Regarding the logfiles I think it is very important to be able to view the logs for a specific job only.
Logs include the things written to log (from the system or UDF) and std-out (from UDF).

I can confirm what stephan writes about yarn, there is a separate job history daemon. They even added a log aggregation feature called "yarn.log-aggregation-enable" to copy all aggregated logs for a job to

[2013-10-15 10:15] fhueske commented on #143
I see two main use cases for the web interface:
1) Progress monitoring of running job
- Show status of currently running tasks
- How many subtasks of each task are in which status (scheduled, started, running, finishing, finished, ...)
- Dependencies of tasks (Which tasks is input of which task (should be displayed as a graph in the end, but right not some text format might be sufficient)

2) Perf

[2013-10-15 11:41] rmetzger commented on #95
i asked at the m2e mailing list yesterday, how the profile activation works with Eclipse. It seems that it is very cumbersome to activate it. But somebody recommended the JBoss Eclipse tools that contain a tool to switch maven profiles.
This is the update site for kepler: http://download.jboss.org/jbosstools/updates/stable/kepler/
The plugin is called `Maven Profiles Management   1.5.0.Final-v2013

[2013-10-15 11:44] uce commented on #95
@rmetzger Did you try it? Is it working? If it is too cumbersome for you even, I won't bother trying. :palm_tree:

[2013-10-15 11:51] rmetzger commented on #95
If you want profile support with m2e, you need to open the projects according to the profiles.
You have to set to profile for every sub-project.

The JBoss Plugin seems to work! At least the jars in the classpath seem to be correct. Even though the Dependency Hierachy in Eclipse looks wrong (it ignores the profiles).
I think we need to create a "Stratosphere Eclipse Plugin" that pulls all the plug

[2013-10-16 07:27] fhueske commented on #112
Yes, that should be a quick fix. But AFAIK this would result in one additional thread and serialization overhead, since [DataSinkTask](https://github.com/stratosphere/stratosphere/blob/master/pact/pact-runtime/src/main/java/eu/stratosphere/pact/runtime/task/DataSinkTask.java)s cannot be chained behind [RegularPactTask](https://github.com/stratosphere/stratosphere/blob/master/pact/pact-runtime/src/

[2013-10-16 10:12] StephanEwen commented on #112
That Nephele Class hierarchy has has always bothered us with respect to duplicate logic in souce and sink tasks. The Regular Pact Task has many static methods to set up outputs for example, such that the logic can be called from an input task. We can do similar things for the union (as a quick fix).

We should think about changing that class hierarchy, such that all tasks inherit from the same tas

[2013-10-16 10:20] uce opened #165 "Rework Nephele Task Hierarchy"
I'll keep it short and just quote @StephanEwen from #112:

I think the timeline here should be post release, right?

[2013-10-16 10:23] uce commented on #112
Yes, I agree with redoing the task hierarchy. I just quoted you and opened a separate issue #165.

On Oct 16, 2013, at 12:12 PM, Stephan Ewen notifications@github.com wrote:

[2013-10-16 11:09] StephanEwen commented on #165
Probably post release, yes.

The other fixed will for now duplicate code from RegularPactTask into DataSinkTask (like @fhueske did for the sorted sink fix)

[2013-10-16 13:06] uce commented on #78
Some questions regarding this:
- Do we actually need to distinguish between different instance types at all?
- Wasn't this only relevant for the EC2 cloud manager which we removed?
- Doesn't  YARN make different instance types (which we need to manage) obsolete?

Can someone educate me on this issue? :bowtie:

[2013-10-16 14:25] fhueske opened #168 "Add support for sorted groups"
Add support for sorted groups (aka secondary sort) for groupBy and coGroup data streams.
In the generic case of custom sort comparators for groupBy this could look for example like:

[code]

There should also be shortcuts for (asc, desc) sorts on tuple fields.

[2013-10-16 15:10] fhueske commented on #146
Globally sorted output requires working range partitioning #7

[2013-10-16 15:39] rmetzger opened #169 "Re-design ContextChecker"
The `ContextChecker` is a little component in the compiler that checks if all inputs are set in the different contracts.
It seems that the checker is currently not called at all, so weird exceptions from the compiler occur if one forgot to set an input.

It also seems that the Checker hasn't been implemented very well and it also has not been maintained, so it is probably not compatible to the Ite

[2013-10-16 15:44] rmetzger opened #170 "Introduce manual memory configuration"
It is currently not possible to influence the optimizer/compiler in its decision to distribute the memory among the different tasks.
A way to weight the different operators, or to prioritize them somehow would greatly help to improve the memory utilization (in terms of performance gain).

Probably we could also add an overbooking of memory.

[2013-10-17 09:42] fhueske opened #171 "Meaningful names for Pact contracts generated by Scala frontend"
Currently, the Scala frontend does not specify meaningful names for the generated Pact contracts. These names are forwarded to Nephele tasks. Therefore, it is hard to debug a Scala program because Scala operators cannot be "mapped" to Nephele tasks.

Is it possible to extract the names of the Scala values from the code and use these to name the tasks? This would be a good start but not completely

[2013-10-17 09:43] fhueske commented on #127
We could have separate Archetypes for the Java and the Scala programming interfaces.

[2013-10-17 09:45] fhueske commented on #80
Duplicate of #143.

[2013-10-17 09:45] #80 closed, assigned to nobody

[2013-10-17 09:51] aalexandrov commented on #171
I think the proper way to do this is to add an optional parameter to the higher order functions representing PACTs in Scala, e.g.

[code]

[2013-10-17 09:53] aljoscha commented on #171
@aalexandrov You cannot currently do this. I have some ideas, though, for a possible scala-frontend on the next scala version (2.11).

I will try to come up with something else that would make debugging easier.

[2013-10-17 10:12] rmetzger commented on #127
Based on the experience I had yesterday with the Big Data Beers Meetup in Berlin, I'd say we need to go for the most convenient and simplest solution.
We need to have something fast instead of the perfect approach in 2 months.
I think it is possible to hack together a very simple "SDK" in less than 1 hour. I think I'll do that today..

Is it possible to create a project with maven archetypes with

[2013-10-17 10:17] fhueske commented on #127
A Maven archetype generates a POM file(incl. all dependencies) and some code templates (AFAIR).
When starting a new Maven project in Eclipse you can select an archetype which will do that automatically.
I'm sure other IDEs offer similar functionality.

That's the way to go instead of some custom shell scripts, IMHO.

[Apache Maven documentation for archetypes](http://maven.apache.org/guides/introd

[2013-10-17 10:18] StephanEwen commented on #171
What happened to the auto-namer code? The previous version tried and name the contracts like the variables they were assigned to. That was kind of neat and could be used as a fallback if no special name is used.

I know that using macros, that is harder, because you need to see the AST beyond the macro lambda.
@aljoscha Have you checked whether there is a way to get the AST of the entire compilati

[2013-10-17 10:23] StephanEwen commented on #127
Archetypes are good. But nothing contradicts having an additional shell script that calls maven to create a project based on an archetype. If the hipsters like that ;-)

[2013-10-17 10:25] rmetzger commented on #127
https://github.com/rmetzger/stratosphere-sdk

[2013-10-17 12:13] aljoscha commented on #171
I did not look into it because there are more pressing things to work on.

[2013-10-17 13:54] #114 closed, assigned to nobody

[2013-10-17 14:22] fhueske commented on #170
Currently, memory is evenly distributed among all memory consumers in an execution plan. Memory consumers are primarily Pact operators but can also be introduced by the optimizer, e.g., temp nodes to avoid deadlocks or combiners.
The fact that some of the memory consumers are not really visible to the user complicates manual memory settings.

Putting this problem aside, I see two options to use me

[2013-10-17 15:28] uce opened #172 "Nephele visualization not working on OS X"
[code]

[2013-10-17 16:19] rmetzger commented on #127
Okay.
The quickstart archetype is on Sonatype.

Try it out:

[code]

The sonatype server is a bit slow and I had a NullPointerException in Maven ;) ;)

[2013-10-17 16:46] StephanEwen commented on #127
Nice, looks good to me.

Btw: I have seen that people start using

[code]

instead of

[code]

Is that really an advantage? I have seen problems with path translation on our cluster that happens when going through env, but which work when going to bash directly.

[2013-10-17 19:29] #150 closed, assigned to aljoscha

[2013-10-17 20:06] rmetzger commented on #127
For Linux, it does actually not really matter. But other Unixes like BSD or solaris has some strange path's for the bash, so this seems to be the way to go.

[2013-10-17 20:21] rmetzger commented on #127
You should also take a look into this issue https://github.com/dcramer/mangodb/issues/23 (also read the comments)

[2013-10-17 23:46] StephanEwen opened #173 "Detect and reject programs consisting of multiple disjoint data flows"
We need to catch programs consisting of multiple disjoint data flows in the pact layer to produce a meaningful message. Otherwise the JobManager will throw a GraphConversionException at runtime, stating that the job graph is not weakly connected.

Below is are two  simple example for such a program. The first is caught by the current logic, the second is not caught in general (depends on order in

[2013-10-18 00:12] StephanEwen commented on #138
Local ordering should be working now. Global ordering requires the range-partitioner and histogram builder to be forward fitted.

[2013-10-18 07:50] StephanEwen commented on #172
To make it work, you need a different version of the swt dependency. Unfortunately, last time I checked, Maven central had no appropriate one for Mac OS x, but that may have changed now.

That problem is one more reason to migrate to a Web-based solution.

[2013-10-18 08:22] rmetzger commented on #127
Okay. I moved the repository into @stratosphere. The archetypes are now automatically pushed to sonatype using travis.

I'm going to update the website's QuickStart soon with the archetype.

@aljoscha needs to create a Scala Quickstart.
@AHeise could, if he wants, also add a meteor quickstart.

I'll close the issue, once @aljoscha is done.

[2013-10-18 09:25] aljoscha opened #176 "Add spark-inspired LocalExecutionContext and ClusterExecutionContext"
I would like to propose a new way to submit jobs since I find the currently existing way to cumbersome. The idea is heavily inspired by spark, but still valid.

With the new way you would do something like this:

val ec = LocalExectionContext()
val input = ec.textFile("<file>")
val counts = input.flatMap { _..split(" ") map { (_, 1) } }
  .groupBy { case (word, _) => word }
  .reduce { (w1, w2) =>

[2013-10-18 09:25] aljoscha commented on #176
Do you think this is something I should pursue?

[2013-10-18 09:36] rmetzger commented on #120
I'm not happy with the white bar on the front-page.

[2013-10-18 09:37] rmetzger commented on #133
Meteor and stratosphere-testing has been moved, too.

[2013-10-18 09:37] #133 closed, assigned to nobody

[2013-10-18 09:38] rmetzger opened #177 "New Quickstart on the Website"
Please review the new Quickstart site on our website:
This is a preview: http://rmetzger.github.io/stratosphere/quickstart/

It is "task focused", and reflects what users actually want.

Can somebody do the same for the Scala frontend?
Pull requests against the branch are welcome: https://github.com/rmetzger/ozone/tree/new-quickstart

[2013-10-18 09:39] #158 closed, assigned to aljoscha

[2013-10-18 09:42] fhueske commented on #176
I like the idea to simplify job submission. Doing this via a main method is a nice idea.
However, there are some things that should be possible with low effort:
- Choosing the execution environment for a job (local, cluster, yarn) without changing the code and having the user to implement different paths to select the context.
- Changing job parameters (obviously)

How about having an abstract cla

[2013-10-18 09:44] fhueske commented on #176
In any case, I think we should try to keep the Java and Scala program submission as similar as possible.

[2013-10-18 09:46] aljoscha commented on #176
How would this work with file paths? i.e. "file:///" vs: "hdfs:///"

[2013-10-18 09:51] fhueske commented on #176
The main method has a number of fixed parameters for the execution environment and other common configuration stuff (e.g., sync. or async job submission) and variable parameters for the job that is executed, such as input and output files which need to be fully specified incl. the filesystem.

[2013-10-18 10:00] fhueske commented on #177
Nice, but I also have some comments ;-)
- The "cd quickstart" on the Java Job quickstart is indented.
- I find the font color and background of the code snippets a bit too similar.
- What do you think about including the wordcount job into the archetype? Modifying something that works is usually easier than starting on green ground.

[2013-10-18 10:06] fhueske commented on #177
Also the text in the right box is to much. How about:
"Set up and run an example"

[2013-10-18 11:37] uce commented on #176
A big :+1: from me.

What would be the problem of providing something similar for Java job submission?

Is it possible to figure out the jar to be shipped automatically (e.g. dependency visitor) for cluster submission?

[2013-10-18 11:41] asteriosk commented on #176
Great idea!

[2013-10-18 11:42] asteriosk commented on #176
Especially useful for local debugging and testing on a cluster deployment from within your IDE.

[2013-10-18 11:43] aljoscha commented on #176
@uce It might be possible, I talked about this with @StephanEwen once. But right now the spark guys also require you to specify the jar file.

[2013-10-18 13:39] fhueske opened #178 "Memory-Temping Data Sink / Source"
One of Spark's most popular features is caching the result of computations in memory. This enables much more interactive data analysis.

We could add a similar feature by proving a memory-temping data sink and data source. The Pact runtime already offers a ResettableReader which writes data into memory and eventually to disk. Currently, all data structures are destroyed as soon as a job finishes.

[2013-10-18 14:39] rmetzger commented on #177
Related: https://github.com/stratosphere/stratosphere/issues/77

[2013-10-18 14:40] rmetzger commented on #148
I think the issue is fixed. Please reopen if not.

[2013-10-18 14:41] #144 closed, assigned to rmetzger

[2013-10-18 14:41] #95 closed, assigned to rmetzger

[2013-10-18 15:38] fhueske opened #180 "State Maven 3 as a requirement"
Our quickstart guides and other documentation states Maven as a requirement.
However, we need to be more specific and ask for Maven 3.

Maven 2 is still around in some settings and causes builds to fail.

[2013-10-18 15:46] rmetzger commented on #180
Agree

On Fri, Oct 18, 2013 at 5:38 PM, Fabian Hueske notifications@github.comwrote:

[2013-10-18 18:33] StephanEwen commented on #173
Fixed in 0d82ed2985dc51149629e387a1de861d631bce82

[2013-10-18 19:28] StephanEwen opened #181 "Travis Testing often hangs and terminates on correct tests"
There seem to be frequent issues with Travis hanging in tests, even if these tests are singlethreaded and without I/O operations.

For example this test

[code]

hung in the PactrecordITCase, which is a CPU intensive test that takes a while (normally some 10-20 seconds), but is single threaded and isolated.

It seems that the Travis VMs frequently freeze more or less, causing tests to take very lo

[2013-10-19 08:06] aalexandrov commented on #177
I would swap the positions of the right and left boxes and rename them as follows:
- Set up Stratosphere
- Write a job in Scala
- Write a job in Java

[2013-10-19 08:43] fhueske commented on #177
I agree with Alex.

[2013-10-19 10:25] rmetzger commented on #177
I agree with the shorter names.
But I'm not sure if we should put "Set up .." first. Because there isn't a lot to see ;)
I'm going to track the quickstart interactions with google analytics to see how they are used.

Yes. I'm in general not very happy with the theme/coloring. But it is really hard to decide such stuff.

It is actually a good idea. BUT I'm really unhappy with the current word count

[2013-10-19 10:42] uce commented on #177
Ok, I'll try to adjust them this weekend. I'll also look at the white bar and other stuff that doesn't seem to work correctly. I think we got 80% of the way really fast, but somehow dropped everything after that.

I'll propose a simpler one (e.g. simple Java String splitting etc.) and then we can decide if we want to include it.

And one important thing: we need an overview page. Can somebody prop

[2013-10-19 11:07] rmetzger commented on #177
Yes, we need a 5 sentence text to explain stratosphere (as I already said here 15 days ago https://github.com/stratosphere/stratosphere/issues/120#issuecomment-25682079)

[2013-10-19 14:50] aljoscha commented on #147
So, will we close this issue?

[2013-10-19 15:00] uce commented on #147
Yes, I think so.

A different issue would be to think about using classes instead of objects in the examples if we think that @StephanEwen points (easy trap + ugly code) are valid.

[2013-10-19 23:10] rmetzger opened #182 "start scripts depend on "bc", which is not available on a fresh ubuntu."
Introduced by https://github.com/stratosphere/stratosphere/pull/163

I'm running a fresh ubuntu 13.04 ([advertisement]from our new demo-vms: https://github.com/rmetzger/stratosphere-vms [/advertisement])

[code]

I hope there are other ways in bash to add two numbers

[2013-10-19 23:13] rmetzger commented on #182
More stuff is not working:

[code]

[2013-10-19 23:14] uce commented on #182
I think, we would only need bc for floating point numbers.

Try:

[code]

Is this working?

[2013-10-19 23:15] rmetzger commented on #182
Yes

[code]

[2013-10-19 23:17] uce commented on #182
OK, this last one is a bug I seem to have introduced in the last commit changing the YAML config.

We have two options (I was going with the first one, but maybe we should rethink that):
- Add the following to `pact-webfrontend.sh`:

[code]

I chose to set the env variables only in the needed files, e.g. if you don't run a script which needs to set the pid dir, it won't get set.
- Put every env se

[2013-10-19 23:24] rmetzger commented on #182
1) fixes the Problem.

You have to explain me the background more detailed. Lets discuss this in person (except somebody else wants to know the details, too).

[2013-10-20 08:32] rmetzger commented on #181
I asked travis.

[2013-10-20 10:42] rmetzger commented on #182
Can you also change back the port of the webinterface to 8080. All the existing documentation is using this port!

[2013-10-20 10:44] uce commented on #182
yes, sure. must have been an accident. didn't mean to change it to 8088.

On Oct 20, 2013, at 12:42 PM, Robert Metzger notifications@github.com wrote:

[2013-10-20 11:03] rmetzger commented on #177
Please review the newest preview, with @aljoscha's contribution (Scala Quickstart).

I'm going to publish the new quickstart this evening, because we need it for tomorrow's Scala Intro tutorial.

[2013-10-20 13:20] rmetzger commented on #177
Could you also review our first blogpost?
http://robertmetzger.de/stratosphere/blog/2013/10/21/open-source.html

[2013-10-20 16:12] rmetzger commented on #177
Okay, new Quickstart guide and reworked contact page is online.

[2013-10-20 18:19] #182 closed, assigned to nobody

[2013-10-20 18:24] StephanEwen commented on #78
Since instances do not appear in the configuration any more, this issue is not visible to users any more.

The internal workings of the instance manager need to be rethought, but it should currently work if there is always just one simple single default instance against which all instances are matched.

[2013-10-20 18:36] rmetzger commented on #78
This issue dates back to our first Stratosphere open source meeting. The "bug situation" has changed, so I'm moving this issue to a later release.

[2013-10-20 23:37] StephanEwen commented on #124
This turned out to be a more general problem in the nephele channels and readers. Union readers and events don't seem to work together in general, it is actually not iteration specific.

[2013-10-21 00:07] StephanEwen commented on #124
It seems like the logic in the UnionReader is fundamentally broken. I assume that this streches to more cases then we have discovered, yet.

With #25 this would get fixed as well. It would be good to have a fix for this fast, though. #25 is not prioritized right now.

[2013-10-21 08:54] uce commented on #124
@StephanEwen Will you look into this? Or should I try my luck? I was planning to start today with looking into the iterations stuff.

Alternatively I would sync with @vasia and pick something else.

[2013-10-21 08:56] fhueske commented on #146
@StephanEwen What needs to be done here? For the first step (partitioning without automatic histogram computation) it should be the following, right?
- Enabling the RangePartitioner code in the Runtime
- Enabling RangePartitioning strategies in the optimizer
- Checking in the programming interface that histograms can be passed.

[2013-10-21 09:08] physikerwelt commented on #148
Unfortunately there are still many commits that lead to failing tests. It would be nice to check that before merging something to the master branch.
See
http://gerrit.formulasearchengine.com:8081/#/q/status:open,n,z
for details

[2013-10-21 09:14] StephanEwen commented on #124
I will try to concoct a quick fix. Extending the iterations is more pressing right now, I suggest you go ahead with that.

[2013-10-21 09:18] StephanEwen commented on #148
Can you post specific tests and stack traces?

We have the issue that some tests become very low (almost freeze) on travis such that builds get killed and marked as broken, but that seems to be to a large extend an issue travis has with very cpu intensive tests.

Locally, tests have been running successfully for a long time now, at least on my machine, and as far as I know also for @aljoscha , @rm

[2013-10-21 09:27] StephanEwen commented on #123
Fixed in eec2840d831637e05a55a16bdd5a3e039a7d1ce0

[2013-10-21 09:27] #123 closed, assigned to StephanEwen

[2013-10-21 09:37] physikerwelt commented on #148
Ok.
One example:
https://github.com/stratosphere/stratosphere/commit/c583dc0527a179764032558692888376202c007d
The log is quite long...
[INFO] ------------------------------------------------------------------------
[INFO] Building pact-tests 0.4-ozone-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-clean-plugin:2.3:clean (default-cle

[2013-10-21 09:38] fhueske commented on #148
For me it looks like Gerrit is also checking intermediate commits.
We only merge branches into Stratosphere master that do pass the tests. However, we do not ensure that each individual commit of a branch passes. Hence, the latest version of the main branch should pass all tests, however intermediate states might not.

I am pretty sure that my commits which Gerrit correctly marks as failing, were

[2013-10-21 09:40] fhueske commented on #148
So, the question is whether we want all commits to pass all tests or only ensure this for the latest version.

[2013-10-21 09:41] uce commented on #148
Isn't the actual stategy to squash all commits to a single one (via rebase) so that we always go from stable to stable?

Or am I misunderstanding something about the problem here? :see_no_evil:

[2013-10-21 09:42] StephanEwen commented on #148
I would suggest that we use rebase to squash issues into a single commit before merging. Ore one commit per logical unit of that issue. As such, these commits would be passing. But that is only a guideline, I would not enforce it strictly.

@physikerwelt Can you check your gerrit configuration to only test the HEAD after a version change is detected?

[2013-10-21 09:44] fhueske commented on #148
I didn't do that. That's why there were failing commits.
But sure, that policy sounds reasonable and should be communicated. ;-)

[2013-10-21 09:44] rmetzger commented on #148
I would say no, because this would make our work quite annoying. Pull requests are our unit of work-transfer. So each pull request is a transition from a stable state to another stable state.
I don't want to change my workflow for a system. The systems have to respect our workflow.

I'm against forcing each pull request into one commit. Each commit should be a logical unit of work. If a pull reque

[2013-10-21 11:02] physikerwelt commented on #148
Adjusting workflows to systems seems to be wrong approach in general.
The traceable git-history is written in terms of commits.
Pull requests are specific to github and hard to trace via git log. That's an argument for stable commits.

However, most important for me, is that there is stable master branch.
It would be nice if there would be way to navigate through the former stable state in order t

[2013-10-21 12:06] mleich commented on #172
Last time I checked, there's also a bug in the UI code, that prevents the user from selecting a job for visualization. If it's still there, I'll create a pull request.

[2013-10-21 12:08] uce commented on #172
I used it last week on Ubuntu and was able to select different jobs for visualization.

[2013-10-21 12:21] mleich commented on #172
It's a Mac OSX specific bug.

[code]

checks whether a widget has been selected twice within the double click interval (this is probable meant to just check whether a widget has been double clicked upon).
On Mac OSX, once a widget has been selected with one click, the system will _not_ issue another selection event if the widget didn't get deselected before.
In short: the double selection event th

[2013-10-21 12:27] aljoscha commented on #123
So it just does not chain them, the mapper is a separate operator for now?

[2013-10-21 12:27] uce commented on #172
(In my last comment I thought that you mean that there was a general bug with selection.)

I think your outlined change is fine. It seems to be the simplest thing to do to get it working and since the long term goal is to get to a web-only interface, I wouldn't invest more time than necessary.

[2013-10-21 12:31] aljoscha commented on #148
I must admit that that I have also managed to create a broken commit now and then. In general, though, I think it is nice to have every commit be a working commit.

I do also realise however that right now it is the wild west out there. We are frantically fixing bugs and cranking out commits, so, I don't know ... :smile_cat:

[2013-10-21 12:38] StephanEwen commented on #123
The last operator in an iteration must always be separate now, because the runtime uses the main operator's output collector (and config parameters) for the back channel.

@uce Is reworking the tail tasks anyways, I would suggest to include a proper fix in the reworkings there.

We should actually rework the chaining idea into something more elaborate, such that we have proper trees of operators i

[2013-10-21 13:03] physikerwelt commented on #148
As far as I have understood there is only one major difference between  gerrit/jenkins workflow and github/travis:
In gerrit/jenkins commits can be merged, if they pass the specified tests. Travis seems to check the commits/pull requests after they were merged.
For the github workflow the commits seem to be atomic. In gerrit you change your commit until it passes all tests. That way it glorifies t

[2013-10-21 13:10] mleich commented on #172
In #187 you can find the fix for the job selection issue.

[2013-10-21 14:52] rmetzger commented on #148
I had a little conversation with @physikerwelt and we resolved the issue.

We won't change the current development process, so that new contributors are not discouraged to help. But we advise everyone to commit only stable code.

[2013-10-21 14:52] #148 closed, assigned to nobody

[2013-10-21 17:17] rmetzger commented on #172
Is it this library? https://code.google.com/p/swt-repo/

[2013-10-21 20:42] StephanEwen opened #189 "Remove IPv4 Stack Hint"
Nephele has in many scripts hints to Java to run an IPv4 stack. If I recall correctly, the hint was necessary for the discovery manager broadcast-message-discovery in cloud setups.

Since we do not use that mechanism any more, we should be able to remove these hints from the scripts and test setups.

[2013-10-22 09:15] StephanEwen opened #190 "Migrate Pact Tests to TestBase2"
The original TestBase has problems with tmp files that may cause test failures and frequently does not remove its tmp files. The new TestBase is also easier to use.

All new tests should go against TestBase2. When an old test is fixed, it should be ported.

[2013-10-22 10:12] StephanEwen opened #191 "Move pact-compiler tests to pact-tests"
In order to simplify the mess of so many maven projects, we can reduce pact by one project if we move the compiler tests to the pact-tests project.

[2013-10-22 11:50] rmetzger commented on #191
+1

[2013-10-22 11:51] lukacsg opened #192 "SingleInputContract deadlock"
The problem usually occurs when I'm running a PACT plan on large input file and I use a single input contract (extending SingleInputContract<T>, eg. Map, Reduce) with two inputs (according to the documentation, public Builder input(Contract ...inputs) lets us to use the union of the multiple input parameters).

In many cases, but not always, stubs are running, but nothing happens - they reach a de

[2013-10-22 11:53] lukacsg commented on #192
Maybe connecting to:
#issue109: #109
#issue124: #124

[2013-10-22 12:40] StephanEwen commented on #109
Has been known to be a weakness in the plan enumeration's deadlock detection algorithm. We need to rework/extend the compiler for that. Runtime turned out to be fine, manual adjustment of the execution strategies resolved the problem.

[2013-10-22 12:40] StephanEwen commented on #124
Fixed in 1228a5ec60452200e12cb77a9bb0623d340e87d2

[2013-10-22 12:40] #124 closed, assigned to StephanEwen

[2013-10-22 12:41] StephanEwen commented on #192
Just pushed a reorg of some of the input channel logic, as part of another bug.

Please check if the bug still exists after commit 1228a5ec60452200e12cb77a9bb0623d340e87d2

[2013-10-22 12:51] uce commented on #192
I just checked the code and I also ran into a deadlock with DOP > 1.

@lukacsg Does the code compile for you without the generic type arguments of the Iterator (or without casting the return value of next())? I added them to make the code compile but other than that didn't change anything.

I will check @StephanEwen's changes now and write again.

[2013-10-22 12:54] StephanEwen commented on #172
The select issue is fixed in ebba4fd74adf7caa5ea5f9f46351ff90ee6c4cb0

@rmetzger That is the library. I thought the cocoa versions are not compatible with the latest MacOS X, but a Mac guy would have to verify that.

[2013-10-22 12:55] uce commented on #172
Will do :bowtie:

[2013-10-22 12:56] StephanEwen commented on #172
Eclipse comes with swt, so there is a version that works with the latest MacOS X. Let's try and find a repository for that.

Do we add maven profiles then for visualization on different platforms?

[2013-10-22 12:58] mleich commented on #172
Cocoa is just fine on the latest Mac OS X (didn't test the one that's supposed to be released today).

Stay away from anything that has "Carbon" in its name, though.

[2013-10-22 13:09] StephanEwen commented on #136
Comments are fixed in 83e209b037dcf1f2c53d3a006c765bf5d77df133

The wiring is correct. There are multiple ways to express the job. You can rotate the operators around The loop formed by the workset feedback, since the workset feedback is logically just another edge. In your variant, the join with the edges is the last operation before the feedback, in the example variant, it is the first after.

[2013-10-22 13:09] #136 closed, assigned to nobody

[2013-10-22 13:09] uce commented on #192
I've tried it with @StephanEwen's latest commit 1228a5ec60452200e12cb77a9bb0623d340e87d2 and it fixed the issue for me. The job finishes without problems now.

We just recently detected the bug in #124, so the timing couldn't have been better. :smile: There was a problem with the union readers, which in your case are used when you specify multiple inputs to the reduce.

Thank you very much for pos

[2013-10-22 13:10] StephanEwen commented on #192
@uce Can you turn the example job into a test case and add it?

[2013-10-22 13:11] uce commented on #192
Was just doing that. :-)

On Oct 22, 2013, at 3:10 PM, Stephan Ewen notifications@github.com wrote:

[2013-10-22 13:16] StephanEwen commented on #138
Preconditions for this fix are #7 and #8.

[2013-10-22 13:33] fhueske commented on #8
@andrehacker The purpose of this feature is different from #119.
Here, the system should automatically sample data to construct a histogram that can be used to decide about the partition borders for a range partitioner. This should happen totally transparent to the user.
If I understand #119 correctly, you want a user interface to manually populate a histogram. In that case, these are 2 different

[2013-10-22 13:44] andrehacker commented on #8
Okay, understood the difference (yes, you understood correctly)
I thought that maybe we can reuse the internal functionality for both use cases, but not sure.
I will update #119 in a minute to clarify something else...

[2013-10-22 13:48] andrehacker commented on #119
I talked to aljoscha afterwards and we saw there was a misunderstanding.
The global counters (and histograms) should only be accessible after the job ended. Similar to the counters in Hadoop.
So I did not mean a global variable where one can write to in one udf and read from in another.
I will update the issue to clarify.

[2013-10-22 16:05] lukacsg commented on #192
Yes, the fix works in the scenarios above:)

Thanks for the (very) quick response!

[2013-10-22 16:05] #192 closed, assigned to nobody

[2013-10-22 20:34] fhueske opened #194 "Typo and Redesign Funding Page"
The current funding page of the website looks quite unstructured and can be improved in my opinion.

There is also a small typo in the first sentence
-->   "Deustche Forschungsgemeinschaft"

[2013-10-22 22:11] StephanEwen commented on #177
Please see also comment https://github.com/stratosphere/stratosphere/pull/184#issuecomment-26857457

[2013-10-23 08:39] aljoscha opened #196 "LocalExecutor does not properly stop."
Very often when executing a plan using the LocalExecutor and calling stop() it happens that there are lingering threads and the program won't stop. It does not seem to happen when simply starting the LocalExecutor and then stopping.

Does anyone have any idea why this is happening. It is really annoying and I want to use this in the upcoming ExecutionContext.

[2013-10-23 08:43] rmetzger commented on #173
The issue is not fixed.

I have a program that does not contain a disjoint data flow, but is rejected by the compiler.

[code]

[2013-10-23 08:55] StephanEwen commented on #196
The RPC Service has some lingering Threads, that is a known problem. Do you see any other ones?

[2013-10-23 09:09] StephanEwen commented on #173
Okay, it seems the checks are overly aggressive.

I will remove the check for now. Seems that we can rather live with a disjoint flow than falsely rejected plans.

[2013-10-23 09:17] StephanEwen commented on #173
Fixed in 119a023137b1d9e22a32e35973241e49b859ce30

[2013-10-23 09:17] #173 closed, assigned to StephanEwen

[2013-10-23 09:49] StephanEwen commented on #191
Fixed in 0ea61264481a1db37dd6bb2ef4172ef629989807

[2013-10-23 09:49] #191 closed, assigned to nobody

[2013-10-23 10:02] aljoscha commented on #196
No, only the RPC threads. I tried manually closing them somehow in the NepeheMiniCluster but had no luck.

[2013-10-23 10:35] StephanEwen commented on #196
The rpc service is pretty crappy, it needs to be changed as part of the JobManager reworking. Does the service mark its threads as daemons, or do they keep the vm alive?

[2013-10-23 10:41] aljoscha commented on #196
If have no idea, and no time to look into it right now.

[2013-10-23 15:33] uce opened #198 "SequenceFileInputFormat"
Along the lines of #134 I think it would make sense to have a `SequenceFileInputFormat` delivered with Stratosphere.

Has anyone ever implemented this?

[2013-10-23 15:52] StephanEwen commented on #198
There is a sequence file format implementation by Michael Hülfenhausen. We can merge that one in. Onto the core project or into an extensions project?

[2013-10-23 15:55] uce commented on #198
I think core is fine.

[2013-10-23 16:02] rmetzger commented on #198
+1

[2013-10-23 16:05] rmetzger commented on #198
@StephanEwen: Is there any other valuable code lying around at the TU?

We should get everything usable we have into the project.

[2013-10-23 17:45] fhueske opened #199 "Add a dedicated pact-connector Maven submodule"
We have code that connects Pact to other software, such as input formats for HBase, Avro, Hadoop Sequence files, etc.
We already had discussions whether to extract this code into a dedicated repository but in the end decided to keep it in the main repo for now.

However, I think it makes sense to have at least a dedicated Maven submodule for such code. This could for example be named pact-connecto

[2013-10-23 17:54] fhueske commented on #198
see #199

[2013-10-23 18:44] StephanEwen commented on #199
Sounds reasonable to me.

[2013-10-23 19:16] fhueske opened #201 "Combiner is cannot be chained if Reducer DOP differs from the DOP of its input."
Currently, the DOP of the combiner is set to the DOP of the reduce task. In case, that the Reduce task has a different DOP than its input, an inserted combiner is not chainable since this requires an identical DOP with the sender task.

This bug was detected and described in more detail in this issue #138.
Since, #138 also includes another bug, I created a new issue.

[2013-10-23 19:30] fhueske commented on #201
I have implemented a fix for this bug, but for some reason it causes another test to fail.
The fix is in a branch of my repository [combinerBugFixes](https://github.com/fhueske/ozone/tree/combinerBugFixes).

The failing test is the compiler test [IterativeKMeansTest](https://github.com/fhueske/ozone/blob/combinerBugFixes/pact/pact-tests/src/test/java/eu/stratosphere/pact/compiler/iterations/Iterat

[2013-10-23 20:54] uce commented on #199
I don't like the separate repo idea, but having a separate module sounds really good. I also like the name proposals. :v:

I assigned the release milestone to this issue.

[2013-10-23 21:02] fhueske commented on #199
Btw, what is contained in the pact-array-datamodel module?

[2013-10-23 21:24] uce opened #202 "Workset Iterations: "No Match Found" Behaviour of Solution Set Join"
If I do a solution set match and there is no corresponding entry in the solution set index a RuntimeException is thrown and the job fails. Therefore the initial solution set must already contain every element which will be in the final solution set.

I'm not sure if this is a real limitation, but I find it inconvenient. When I was playing around with the workset connected components I couldn't jus

[2013-10-23 21:32] uce commented on #199
Some magic  :blush: which allows you to do stuff like:

[code]

But was this really the question? Are you asking whether we should move it into `pact-connectors`? Or if we should remove it?

I've never used it and always find it inconvenient when Eclipse proposes classes from it for auto complection when I actually want the quasi default PactRecord stuff. :grin: But that's just me... it also demon

[2013-10-23 22:10] uce commented on #189
OK, this was kind of a fail. First I didn't check out the new branch from master, which I noticed after doing the PR. Then I noticed that @StephanEwen had conflicting changes on our master branch in a pom file.

So that's why it says that I reference this issue three times. :zzz: :punch:

[2013-10-23 22:51] StephanEwen commented on #202
The exception if no element is found is a unwanted restriction for lack of support in the hash index. We definitely want to support this.

There is ongoing work to refactor the hash table / hash join to support these operations. It is linked with issue #162. W

[2013-10-24 05:45] rmetzger commented on #199
I also like the idea of an additional maven module for (in|out)put formats / connectors.
But, there is currently one issue with `pact-hbase`. We include this module only when building with the Hadoop 2.x (YARN) profile.

[2013-10-24 11:50] sscdotopen opened #205 "Syntatic sugar for flatMap"
Allow users to directly return an instance of IterableLike without having to call .iterator

[2013-10-24 12:02] fhueske commented on #205
This refers to #159

[2013-10-24 12:20] aljoscha commented on #205
Right now, when you import eu.stratosphere.scala.operators._ you will get implicit conversions from Traversable/Array/Option to Iterator. So you can leave of the .toIterator.

[2013-10-24 12:25] AHeise opened #206 "Secondary Sort for Reduce and CoGroup is not working"
Please reenable the secondary ordering as it is essential for data cleansing algorithms.

To reproduce, given input:
(1, x, b)
(1, y, c)
(1, z, a)
And reducer on first field with secondary sort on last, I would expect to get the ordering
(1, z, a)
(1, x, b)
(1, y, c)
But I receive the original order.

I could provide a TestPlan test case.

[2013-10-24 13:23] sscdotopen commented on #205
Awesome, thx!

[2013-10-24 13:23] #205 closed, assigned to nobody

[2013-10-24 17:41] StephanEwen commented on #206
I will take a look at that in a bit.

[2013-10-24 22:32] physikerwelt opened #208 "Enhancement: Expand test coverage"
I propose to configure travis in a way that changes in stratosphere/stratosphere trigger re-running the tests in in other project that depend on stratosphere i.e. stratosphere-sopremo and other essential projects.
By that we could expand the "test coverage" without much effort and would have a chance to discover errors that are hard to detect manually, especially if there are dependencies to the -

[2013-10-24 23:11] StephanEwen commented on #208
Can you change that independently in your build server setup?

I think the crux of the issue is actually that meteor and other projects depend on a snapshot version. These version are bound to change on ways that cause problems for dependent projects.

My feeling is that a correct software engineering solution would be to push a version, say 0.3.0 or so, that represents the current snapshot and wi

[2013-10-24 23:51] physikerwelt commented on #208
Yes. I completely agree with you about the version numbers... and I think I'm not the only one.
However, I think a retrigger all tests would be nice for fixes and pre release checks.
I think we have to expect hotfixes for released versions and should think about a process how to deal with them. (Maybe in terms of version numbers?)

[2013-10-25 09:52] aljoscha opened #209 "BulkIteration does not work with Array Datamodel"
Things go bad starting here:
https://github.com/stratosphere/stratosphere/blob/master/pact/pact-compiler/src/main/java/eu/stratosphere/pact/compiler/postpass/GenericRecordPostPass.java#L150

It seems that the schema is not correctly propagated from the nodes inside the iteration.

@StephanEwen Any clue what could be the problem?

This is the execption I get:

Exception in thread "main" java.lang.I

[2013-10-25 09:54] StephanEwen commented on #209
The array data model is not really tested well. I thought it a proof-of-concept of how you can implement different datamodels (such as a specific one for scala, a nicel tuple-based one for java, or so).

Should we rather remove it from the project? Or do you think it is promising and should be improved further?

[2013-10-25 09:56] aljoscha commented on #209
I find it quite nice to work with actually. Except for the bug I have now, of course. I have an implementation of ALS using the PactRecord model and now I ported it to the Array model to see whether this makes a difference in performance in this case.

[2013-10-25 09:59] StephanEwen commented on #209
Okay, let me try to look into the problem...

[2013-10-25 10:01] sscdotopen commented on #209
Off-topic: A good way to increase the performance for this problem is to use JBlas for solving the least squares problems occurring. For larger ranks this makes a huge difference. I have a JBlas-based solver, let me know if you want to use it.

[2013-10-25 10:02] StephanEwen commented on #209
Here is a thought I have been carrying for a bit: We create a similar data model, but not on arrays, but on tuples. We either use the scala tuple classes, or we generate ourselves 22 tuple classes in a similar way. We would then have type safety. The cost is that the generics in java are always verbose (no type inference).

[2013-10-25 10:04] StephanEwen commented on #209
A big advantage of the array/tuple data model is that the schema is fully known. So the runtime could (I don't think it array model utilities support that, yet) use fix-length algorithms for many things.

[2013-10-25 10:08] aljoscha commented on #209
@sscdotopen Yeah, that would be cool. Right now the stratosphere version is slower than the numpy/scipy based python version. (On a single machine, which I somewhat expected given the overhead. But still ...)

[2013-10-25 10:10] aljoscha commented on #209
@StephanEwen I'm also looking into it, the code seems to be taking the schema of the PartialSolution, and this seems to be empty. Could it not take the schema of the NextPartialSolution, which would in this case be an ArrayModelStub. I'm not sure how the traversal in the PostPass works, so it's just an idea...

[2013-10-25 10:27] StephanEwen commented on #209
I think the schema you get from a stub is always its input schema. You need the output schema of the last operator in the step function.

It would be nice to have access to both (input schema of the step function, output schema of the step function), then we could verify at that point that the types match.

[2013-10-25 10:30] StephanEwen opened #210 "Pass Objects instead of Classes for DataSource and DataSink"
The same object passing mechanism should be available on data sources and data sinks as well. Especially for formats that require a lot of configuration (record input and -output formats), this would greatly simplify the API.

[2013-10-25 10:37] aljoscha commented on #210
It is available, just check any example.

[2013-10-25 10:48] aljoscha commented on #209
Ok, but this seems to work for the PactRecord datamodel, why not for the arrays?

[2013-10-25 10:50] StephanEwen commented on #209
In PactRecord, we make the assumption that the programmer knows what he is doing, because we cannot check the schema ;-)

In array model, we could in theory check the schema. If we do not have it and infer it from the tail of the iteration, we make again the assumption that the programmer worked correctly, instead of checking it. Which is fine for now to make.

[2013-10-25 12:02] rmetzger commented on #172
If someone can tell me the exact coordinates of a OS X maven dependency, I can easily create a specialized profile for that.

You can activate profiles based on the operating system (http://maven.apache.org/guides/introduction/introduction-to-profiles.html ) (OSX users have to build their own statosphere then)

[2013-10-25 13:04] uce commented on #172
https://code.google.com/p/swt-repo/

(See your _own_ comment :laughing:)

[2013-10-25 13:21] aljoscha opened #212 "Map after BulkIteration does not work"
This is the exception I get:
eu.stratosphere.pact.compiler.CompilerException: An error occurred while translating the optimized plan to a nephele JobGraph: null
    at eu.stratosphere.pact.compiler.plantranslate.NepheleJobGraphGenerator.postVisit(NepheleJobGraphGenerator.java:556)
    at eu.stratosphere.pact.compiler.plantranslate.NepheleJobGraphGenerator.postVisit(NepheleJobGraphGenerator.java:1)

[2013-10-25 15:06] mleich opened #214 "Remove Java 1.6 compatibility?"
In stratosphere-sopremo we consider removing JDK 1.6 compatibility. One thing less to worry about.

While stratopshere-sopremo could throw out support for 1.6 it does not make sense to do so, if Stratosphere retains support for 1.6.
It would be incoherent and in the worst case, people run Stratosphere with 1.6 on one system, Sopremo with 1.7 on another and don't understand why things stop working.

[2013-10-25 15:13] StephanEwen commented on #212
We cannot chain to iterations nodes. This is a one line fix, I'll get onto it...

[2013-10-25 15:18] physikerwelt commented on #214
I think we could remove jdk 1.6 support without long discussion, if the intersection of the jdk 1.6 users and the stratosphere 0.4-users is an empty set.

[2013-10-25 15:23] StephanEwen commented on #212
31dbfe65e46d8419d0da8d670b5958407adbdbf2 fixes the mapper chaining issue.

I'll look into the case where the iteration result has two consumers...

[2013-10-25 15:23] StephanEwen commented on #212
@aljoscha Do you have a minimal test case for that?

[2013-10-25 15:26] StephanEwen commented on #214
Is it really bad if Meteor/Sopremo requires 1.7 and the lower layer does not? You can state that as a Meteor requirement.

If someone starts with Stratosphere without Meteor and then adds meteor, he might have to upgrade Java. Is an impractical requirement? I am not sure...

[2013-10-25 15:27] StephanEwen commented on #210
Okay, I see the data flow nodes support it. It is however not exploited with the RecordInputFormat, there is no way to pass parameters as variables. only through config parameters.

[2013-10-25 15:39] StephanEwen commented on #168
If we want this to work properly with the current optimizer and runtime, we should use field selectors in the sorting clause. Similarly as we set ordering now not through a comparator, but through fields.

What you suggest would work, I guess, on the iterators in the groups. Should be possible to express that as part of the function even now. Iterator-> toList -> sort (comparator)

Do you think we

[2013-10-25 15:41] physikerwelt commented on #214
Who said that it's bad? mleich pointed out that that it would be incoherent.
I'm not 100% sure how coherent software is defined, but I guess it's correct so state that the coherence decays  if the requirements diverge.

[2013-10-25 15:50] StephanEwen commented on #214
I am a bit uncomfortable with any restriction that is not needed.

So, I wonder, does it really make a difference for Sopremo users if the lower level has fewer requirements?

Concerning coherency: Componentization of software is exactly to allow for divergence in development cycles and requirements. Higher layers may pose more requirements than lower ones.

[2013-10-25 16:03] rmetzger commented on #214
Which issues do you have with 1.6 in Sopremo?
Did anybody prove that Sopremo with 1.7 and Stratosphere with 1.6 don't work together?
We use apache commons-io in version 2.2 which is compiled for java 1.5. So backward compatibility should be given.

Why should we drop support for something that is working perfectly fine.
Even if we run on java 7 jvms, our code is compiled for java 1.6.

I can not r

[2013-10-25 16:09] physikerwelt commented on #214
@rmetzger So you say cloud-11 is the user that requires java 1.6?

[2013-10-25 16:14] rmetzger commented on #214
We are currently doing a research cooperation with the Deutsche Telekom,
evaluating Stratosphere.
Java 6 is on their server as well.

On Fri, Oct 25, 2013 at 6:09 PM, physikerwelt notifications@github.comwrote:

##

Robert Metzger, Kontakt: metzgerr@web.de, Mobil: 0171/7424461

[2013-10-25 16:17] sscdotopen commented on #214
I don't understand the problem. Sopremo can move to Java 7 and without any problems use a Java 6-based Stratosphere.

[2013-10-25 16:19] physikerwelt commented on #214
There is no problem, if less coherence is not is a problem.

[2013-10-25 16:20] aljoscha commented on #212
I think we can close this, right? And the other thing is also fixed.

[2013-10-25 16:20] aljoscha commented on #210
Oh yeah, it is not exploited anywhere so far.

[2013-10-25 16:21] #214 closed, assigned to nobody

[2013-10-25 16:21] sscdotopen commented on #214
You trade two things off here: Easier development through a more modern version of the language vs the size of a possible user base

There are no problems with coherency. Java is so successful, because you can always use your old code with new versions of the language.

[2013-10-25 17:01] StephanEwen commented on #212
Okay, close it if your problem is solved. I am adding a test case for the case of an iteration followed by a multiple consumers.

[2013-10-25 17:11] StephanEwen commented on #194
Already merged.

[2013-10-25 17:11] #194 closed, assigned to nobody

[2013-10-25 17:13] StephanEwen commented on #181
Seems that we must accept that test spuriously fail. My last test failed because the maven artifact download took forever and the build timed out.

We may want to remove the build status image,though, because we will get failures marked publicly that are actually no failures.

[2013-10-25 17:13] #181 closed, assigned to nobody

[2013-10-25 17:33] StephanEwen commented on #206
Fixed in 633e3e6a7ed8bc903a749b7f21902c5b4ec5099b

[2013-10-25 17:33] #206 closed, assigned to nobody

[2013-10-25 20:19] rmetzger commented on #18
Since I'm working on the Yarn integration (https://github.com/stratosphere/stratosphere/pull/137) (which breaks the Discovery service anyways) it seems to be reasonable to remove it completely together with adding Yarn support.

[2013-10-25 20:24] StephanEwen commented on #18
The taskmanager needs to figure out its public IP. That part, the discovery service did well, in my opinion, although I am not sure how it would work if a computer was in two or more subnets at the same time.

Do we have a good alternative to that?

[2013-10-25 20:27] rmetzger commented on #18
We could just use the mechanism to detect the TMs own public IP.
I think we could try on each public IP to reach the JobManager (whose address we know for sure from the configuration file)

I need to look more closely into the code. If you are okay with removing the autodiscovery feature (which seems to be dead anyways), I'll see what I can do.

[2013-10-25 20:31] StephanEwen commented on #18
Auto-discovery should go. That one rarely works.

If you manage to detect the right IP Address without the UDP ping, that would be perfect. Saves us one more port that is currently not configurable.

[2013-10-26 12:25] #127 closed, assigned to nobody

[2013-10-26 12:33] rmetzger commented on #93
This needs to be reworked (its easy to do).

Our system should be able to handle empty lines in the slave file.
Currently, you have to exactly ONE newline at the end of the "slaves" file.
If you have two at the end, you'll get this exception

[code]

And this error from the `start-cluster.sh` script:

[code]

[2013-10-26 13:33] rmetzger opened #215 "Wordcount example broken"
I guess introduced by https://github.com/stratosphere/stratosphere/pull/195

Calling Wordcount without any arguments causes a NPE.

Calling it with the correct arguments (`2  hdfs:///user/robert/datasets/hamlet-wc hdfs:///tmp/stratosphere-dev/wc`)

Causes this

[code]

No stacktrace.

[2013-10-26 13:34] rmetzger commented on #215
I think we should set the LocalExecutor as the default execution method for WordCount.

The current variant requires the user to setup stratosphere and start it in Local mode.

[2013-10-26 13:38] rmetzger commented on #215
The `LocalExecutor` does not work as well:

[code]

Executing the wordcount example does not work on the cluster:

[code]

results in

[code]

I think I've done nothing wrong.

[2013-10-26 14:26] rmetzger commented on #77
The current documentation on the website is in a non acceptable state.

Links are not working, the Getting Started guide is helplessly outdated, the Images are not in the right proportion.

[2013-10-26 14:28] uce commented on #77
Btw do we also want to publish the javadocs in the near future?

In parts they are also in a non acceptable state.

On Oct 26, 2013, at 4:26 PM, Robert Metzger notifications@github.com wrote:

[2013-10-26 15:12] StephanEwen commented on #215
Part one fixed in b2af1d9a1bd3d1af6ae166925c069d5febdf0eba

[2013-10-26 15:15] StephanEwen commented on #215
The problem that the hdfs path do not work is the following:
You need either a compete hdfs uri that specifies host and port of the namenode. Or you need a default hdfs configuration registered with stratosphere, in the config file.

We need a much better error message, though!

[2013-10-26 15:47] StephanEwen commented on #215
The local executor cannot run with HDFS, because the distributed file system is in the nephele-hdfs project, which is not in the dependency path. I will add it there...

[2013-10-26 16:28] rmetzger commented on #215
Just as a documentation:
You need to set
`fs.hdfs.hdfsdefault: /share/hadoop/hadoop/conf/hdfs-site.xml` to your Stratosphere config.

And this file must contain the value

[code]

Or you specify the namenodeHost with your file URI:
`hdfs://namenodeHost:40010/fancyFile.seq`

[2013-10-26 17:07] rmetzger commented on #40
I totally agree on this issue. We need automated deployment in cloud infrastructures.

I think the issue is fixable within one day. Its only a matter of api's and some automated configuration, we don't have to change anything on the code.

These projects could be helpful.
http://whirr.apache.org/
http://jclouds.incubator.apache.org/

Hadoop has ec2 support since years.

I'd like to test stratosphe

[2013-10-27 00:04] uce commented on #40
This is on my agenda.

[2013-10-27 07:41] rmetzger commented on #40
Lets have a meeting about this

Sent from my iPhone

On 27.10.2013, at 02:04, Ufuk Celebi notifications@github.com wrote:

This is on my agenda.

—
Reply to this email directly or view it on
GitHubhttps://github.com/stratosphere/stratosphere/issues/40#issuecomment-27158876
.

[2013-10-27 18:46] fhueske commented on #168
You're right. Key selectors are required to make it work with the optimizer and runtime. I didn't consider that.

Sort orders that cannot be expressed with key selectors can still be done within the user code (= without runtime support and additional execution costs). Not sure if a build-in function is necessary. It might hide the additional costs and users might prefer it over the "free" key sele

[2013-10-27 18:57] fhueske commented on #7
@aalexandrov are you still looking into this issue or may I take over?

[2013-10-27 19:42] physikerwelt commented on #208
I found that with a random work approach http://mojo.codehaus.org/buildnumber-maven-plugin/usage.html
I'm not yet quite sure if it's helpful or distracting but it would at least allow to set unique references.

[2013-10-27 23:11] rmetzger commented on #208
Hey,

so I think in general, its a good idea to somehow store the version (e.g. the git revision id) in the snapshots, so that we can see which version a user has.
The best solution in my opinion is to write the id into the README.txt file.
I'm really against changing the name of the build again. (We would have to update all the documentation and examples etc.)
I don't see that the buildnumber-mav

[2013-10-28 08:25] rmetzger commented on #93
@markus-h is assigned to this task.

[2013-10-28 08:26] #180 closed, assigned to nobody

[2013-10-28 09:12] fhueske commented on #208
I agree with @rmetzger.
Having a VERSION file with an ID that can be linked to the last commit of the build is a very good idea and will help to identify bugs in user settings.
A new version number for each commit sounds a bit heavy weight to me.

[2013-10-28 09:54] aljoscha commented on #215
@StephanEwen fixed this, right?

[2013-10-28 10:02] AHeise opened #216 "Automatic hardware extraction unstable"
Occasionally, the hardware inference of Nephele does not work as expected. As can be seen in the following excerpt, sometimes too few free memory is assumed and thus the memory manager fails to initialize.
This error cannot be reproduced by running a single test, so that I suspect that prior tests fills the memory with short-lived objects, but not full enough for the garbage collector to run. This

[2013-10-28 10:16] physikerwelt commented on #208
OK. We are moving a little bit into the "How to do releases?" Question.

In a former thread Robert explained, that the master branch moves from a stable state to the next stable state in terms of pull requests.
Stable state was defined as "all stratosphere tests are passed".
I propose to change the definition of stable state in the following:
"All stratosphere tests and all tests of important depe

[2013-10-28 10:43] fhueske commented on #208
I agree that sopremo is an important dependent project, but I think the definition of stable state should only depend on the project itself, as @StephanEwen suggested.
Dependent projects that request a stable version should refer to a stable version and not a development version.

Otherwise, updates such as changing the programming interface, which might still happen since we are not in a version

[2013-10-28 10:59] physikerwelt commented on #208
@fhueske I think that's a little bit problematic. The example jobs and scala are tested and sopremo is not tested.
To which stable version dependent projects should refer?  To 0.2? or 0.4 that is not yet released, and which probably won't be stable if it is released soon?

[2013-10-28 11:39] StephanEwen commented on #215
Should be fixed in 159088dc0abf0e217a0441badea0e899a488b31b and b2af1d9a1bd3d1af6ae166925c069d5febdf0eba

[2013-10-28 11:39] #215 closed, assigned to aljoscha

[2013-10-28 11:50] StephanEwen commented on #146
I would say the steps are as follwos:
1.  Create a histrogram representation to describe distributions of keys such that a balanced range partitioning can happen. Also, users may want to pass histograms for fixed split boundaries.
2.  Create a range partitioner that gets the histogram and uses it for distribution. There is code for the pact-record range partitioner, you can have a look if it is an

[2013-10-28 12:52] rmetzger commented on #216
Does it make sense to call `System.gc()` before determining the free memory?

We should also fix the TODO there in the code.

[2013-10-28 12:56] AHeise commented on #216
No, System.gc() is only a hint. Also with Java 7 and its concurrent GC, I doubt that this method would ever block.

http://docs.oracle.com/javase/7/docs/api/java/lang/System.html#gc%28%29

There are a couple of suggestions (aka Hacks) around, but basically you can never really estimate sufficiently enough how much main memory is left. I would rather suggest to take a percentage of overall memory i

[2013-10-28 13:38] rmetzger commented on #216
Assigned to @markus-h

[2013-10-28 16:44] rmetzger opened #217 "TestBase2 is not platform independent (WINDOWS)"
A student from IMPRO-3 who is using Windows 7 reported a bug with Testbase2.

The methods "getTemp*Path()" have the prefix "file://" hardcoded.

I assigned @markus-h to this issue, since he is a Windows user.
I think there is a way in java to find the platform's way to separate directories.

use "mvn verify" to trigger the bug.

[2013-10-28 17:35] StephanEwen commented on #201
Fixed as of 80551cb783a5e3bf47c20f6c1b4059dd8c691220

[2013-10-28 17:35] #201 closed, assigned to nobody

[2013-10-28 17:36] StephanEwen commented on #212
Fixed in d1498502482d4e5045880c21a8e5b4fab2caa1b4

[2013-10-28 17:36] #212 closed, assigned to nobody

[2013-10-28 17:36] StephanEwen commented on #189
Fixed as of 361e469bb9ac742bd3c2ddaf930cdebe160300f1

[2013-10-28 17:36] #189 closed, assigned to nobody

[2013-10-28 17:38] StephanEwen commented on #208
We decided to solve this problem with periodic publications of minor releases that higher level layer projects like Metor/Sopremo can reference.

[2013-10-28 17:38] #208 closed, assigned to nobody

[2013-10-28 17:39] StephanEwen commented on #177
Are there any remaining issues? If not, @rmetzger  please close this issue.

[2013-10-28 18:57] #177 closed, assigned to nobody

[2013-10-28 22:33] StephanEwen opened #218 "Replace Cross by CrossWithSmall and CrossWithLarge"
The Cross operator is currently very dangerous. Until we have incremental plan rollout, the optimizer has to rely on fallback heuristics when estimates are not available. Unfortunately, there is no proper fallback heuristic for Cross: One side needs broadcast, which can kill any plan if it is the wrong side.

In the spirit of robustness and stability, I would like to take the Cross temporarily out

[2013-10-28 22:40] rmetzger commented on #218
I would not recommend to put any effort into this, if there is no user complaining.
Could be, that you spend 5 hours for a feature that is first needed in two years.

I think having a specialized interface makes the user aware of the situation, so I think your suggestion is in general a good idea.

[2013-10-28 22:54] uce commented on #218
I know that @andrehacker has complained about this. I would go for the change. :baby_chick:

[2013-10-29 08:23] rmetzger opened #220 "Create Download Page on Website"
Hi,

I need someone to create a "Download" Page on our Website!

It should contain the various methods to get Stratosphere:
- Maven
- Binary Build
- From Sources (with description for profiles)
- The quickstarts
- Virtual Machine Demo
- Vagrant
- As a Debian Package  (not yet done)
- Using Puppet (not yet done)

There should be always two variants of each method. One for hadoop 1.2.1 and one for y

[2013-10-29 11:06] markus-h commented on #217
I started working on the issue. Looks like not only file paths need to be adjusted in the testings but also most exec commands.
Moreover I tried to use the shell scripts to start the server (eg start-local.sh), but they seem not to work under cygwin for me. Would perhaps be a nice enhancement?

[2013-10-29 11:09] rmetzger commented on #217
We had once a PR that claimed to make Stratosphere Cygwin compatible.

Where do we have exec commands? Do you mean the scripts in /bin ?

[2013-10-29 11:10] uce commented on #217
What is the problem with the scripts?

I remember @aljoscha adding a function to change the filepaths on cygwin installations. The changes we introduced afterwards only affected the call to `uname` to figure out on what kind of system we are running. Strange.

[2013-10-29 11:10] rmetzger commented on #220
Assigned to @markus-h  (Sorry for assigning issues to you without talking to you first. I'll be in the office tomorrow. Or ask here.)

The binaries are here: http://dopa.dima.tu-berlin.de/bin/
The VMs are accessible from: http://dev.stratosphere.eu/vm/
The Vagrantfile is also there.
The scripts that generate the VMs are located in https://github.com/stratosphere/stratosphere-vms
How the maven snap

[2013-10-29 11:27] StephanEwen commented on #217
I think the only problem we are facing here is that the file URI prefix is hard coded.

It should do to replace

[code]

with

[code]

Se we need to externalize the path prefix which contains the scheme

[2013-10-29 11:29] uce commented on #217
Yes, sure. @rmetzger checked it yesterday on a Windows machine and indeed `file:\\` does the trick.

But @markus-h's problem with the scripts sounds independent of this to me. Afaik there are no hardcoded paths in the scripts.

[2013-10-29 11:49] StephanEwen commented on #93
Fixed in bb5d7708d8ddd7791d61b7a3f145cdbfbefa6fc3

[2013-10-29 11:49] #93 closed, assigned to markus-h

[2013-10-29 16:17] ktzoumas commented on #218
Better not change the interface twice. Perhaps keep the name cross and
instruct the users to put the large (partitioned) data stream first?

On Mon, Oct 28, 2013 at 11:54 PM, Ufuk Celebi notifications@github.comwrote:

[2013-10-29 16:29] StephanEwen commented on #218
How about introducing the two new versions (which are essentially like the original Cross plus a compiler hint) in addition? We can advise users to stick with those for the near future until the incremental optimization works.

I have the feeling that the Hadoop ecosystem programmers like the idea of having concise explicit control, which is what these two new versions would give them.

That way w

[2013-10-29 16:29] fhueske commented on #218
Why not keep cross with undefined order and simply add one of crossWithSmall or crossWithLarge.
Having a cross with an explicitly specified input order might always be helpful.
Until the optimizer is able to do a good decision here, we advice to use cross with explicit order.

The problem that I see with giving users the advice to put the large stream first, is that the processing strategy might c

[2013-10-29 16:36] asteriosk opened #222 "Change name of ScalaPlan to just Plan?"
Should we rename the ScalaPlan to one of the following?

StratosphereJob or
Job or
Plan

ScalaPlan feels a bit awkward.

What do you think? @ktzoumas also agreed with this.

[2013-10-29 16:39] sscdotopen commented on #222
+1 for Plan, simple and concise
Am 29.10.2013 09:36 schrieb "Asterios Katsifodimos" <
notifications@github.com>:

[2013-10-29 16:45] andrehacker commented on #218
+1 for adding the two explicit versions until non of the other approaches is taken. I like the naming!

The problem is significant, because for any Cross with a file, the file broadcasted (at least if the other output is not from file and therefore the size in bytes is unknown. This is a common case as long as we use Cross as a solution for closures/global variables).

Here the picture from such a

[2013-10-29 16:45] StephanEwen commented on #222
I think this is a good question and applies to more than just the ScalaPlan. The current Java-based programs are also called Plan, which is an unfitting name, imho.

We could collect all these names and make one coordinated rename before the release.

Here are some suggestions to start with:
1.  **ScalaPlan** and **Plan** to whatever (I personally do not like Plan)
2.  Along the same lines, **Plan

[2013-10-29 16:49] StephanEwen commented on #222
I just saw @sscdotopen  is in favor of _Plan_. Everybody has a different intuition there ;-)

[2013-10-29 16:53] fhueske commented on #222
How about "Program"?
"Job" could refer to the execution of a program.

I agree with @StephanEwen in doing a consistent renaming of the user interface including Contracts and PlanAssember.

[2013-10-29 17:05] ktzoumas commented on #222
Is creating an object even necessary?

On Tue, Oct 29, 2013 at 5:53 PM, Fabian Hueske notifications@github.comwrote:

[2013-10-29 18:06] markus-h commented on #217
The issue for the hard coded URI prefixes is quite easy to resolve, like StephanEwen mentioned.

But there are multiple exec calls out of Java in the testcases (Runtime.getRuntime().exec(cmd)). For example in ExternalProcessFixedLengthInputFormatTest, ExternalProcessInputFormatTest and even in the ExternalProcessInputFormat class. These seem to be a little bit harder to resolve in windows.

[2013-10-29 18:53] fhueske commented on #217
As the name suggests, an ExternalProcessInputFormat starts an external process and parses its output into records.
The process is of course not OS independent. Not sure if the tests can be adapted in a way that the call to Runtime.exec() call or Process that represents the external process is mocked.

Is there a way in Maven to provide platform dependent tests or disable certain tests for differen

[2013-10-29 19:01] StephanEwen commented on #217
I think it would be file to do a OS detection in the test. If the OS is
windows, the tests are skipped (the test method just returns directly). We
still get the test coverage on the Linux systems, which is where we build
anyways, and I would not want to invest too much time in having this very
specific test platform independent.

On Tue, Oct 29, 2013 at 7:53 PM, Fabian Hueske notifications@github.

[2013-10-29 20:05] fhueske commented on #217
I agree, sounds like a plan.

[2013-10-29 20:09] rmetzger commented on #217
+1

[2013-10-29 23:57] uce commented on #222
:+1: for keeping it simple.

I actually like Job more than Program (but I think @StephanEwen and @fhueske already had a consensus somewhere to prefer programs over jobs). One way or the other... can't we just stick with one of the two? Probably nobody will care and everybody will mix it anyways.

In spirit of simplicity: Can't we also rename Match to Join? I think we almost always find ourselves e

[2013-10-30 00:00] sscdotopen commented on #222
+1 for Program and Join
Am 29.10.2013 16:57 schrieb "Ufuk Celebi" notifications@github.com:

[2013-10-30 10:48] StephanEwen commented on #222
+1 for Join: What is now the Match is simply a join with a UDF.
+1 for Program or Job

@ktzoumas Creating an object is not necessary in many cases, when we use the shell or execute embedded. I think we should still have packaged programs that you can start from the command line. The program just describes what results the user wants, plus some global parameters (like desired degree of parallelism)

[2013-10-30 10:49] StephanEwen commented on #222
For these objects, we can have the same for Java and Scala.

[2013-10-30 11:03] ktzoumas commented on #222
@StephanEwen, I understand that, but I was wondering whether this can be
done without asking the user to type it in.

Otherwise, I vote for Job

On Wed, Oct 30, 2013 at 11:49 AM, Stephan Ewen notifications@github.comwrote:

[2013-10-30 11:29] rmetzger opened #225 "Make Stratosphere ready for deployment to Maven Central"
Maven Central has some requirements for packages.
These are listed here: https://docs.sonatype.org/display/Repository/Sonatype+OSS+Maven+Repository+Usage+Guide#SonatypeOSSMavenRepositoryUsageGuide-5.Prerequisites

While working at https://github.com/stratosphere/stratosphere/pull/219 I tried to release the artifact, which failed with the following unmet requirements:
- Signature Validation (e.g. w

[2013-10-30 21:55] fhueske opened #228 "Evaluate HCatalog"
[HCatalog](https://cwiki.apache.org/confluence/display/Hive/HCatalog) is a metadata store for different file formats (CSV, JSON, ORC, SequenceFile, RCFile, etc.) and provides a schema mapping into records.
I also read that it might provide statistics at some point in time.
HCatalog is part of Hive but also other project offer connectors to HCatalog such as Pig.

We should have a look at HCatalog a

[2013-10-31 08:03] rmetzger commented on #217
@StephanEwen: `f.toURI().toString()` will result in paths like `file:/tmp/input` (if `f instanceof java.io.File`). For some reason I don't understand, we usually use `file:///tmp/input` for local paths.
I think it will work with `file:/tmp/input` too, because `eu.stratosphere.nephele.fs.Path.toUri().getScheme()` is able to extract "file" as the scheme.

I know the URI's for HDFS must contain `hdfs

[2013-11-01 14:02] rmetzger opened #230 "Job Cancellation does not work properly: "Cannot find execution graph to job ID""
Hi,

I noticed this error message on a failing Job.

[code]

The errors occurs quite often:

[code]

The TaskManager also reports errors:

[code]

[code]

I also saw this

[code]

I did not see this behavior before, so it could be new (I did not do any major changes on the job)

[2013-11-01 17:15] StephanEwen commented on #230
This is part of a faulty logic in the ExecutionGraph state machine, as
reported in issue #15

The state machine is not able to handle asynchronous events properly, as
they occur in the presence of failures and canceling.

On Fri, Nov 1, 2013 at 3:02 PM, Robert Metzger notifications@github.comwrote:

[2013-11-01 17:45] rmetzger commented on #220
Okay, we got a Debian package (which should be listed on the Downloads page too):

[code]

[code]

We should do some polishing on the package details:

[code]

I think we should also test the debian package to see if it does everything as we want it.

[2013-11-03 14:47] StephanEwen opened #233 "Show cluster status info in JobManager Web Frontend (such as number of registered machines)"
It would be good to have additional information in the JobManager Info Frontend, such as the number of worker machines that are registered, etc. Saves the check in the log if all machines went up successfully...

[2013-11-03 14:56] rmetzger commented on #233
+1 I suggested exactly the same.
There is code for that in my LocalDistributedExecutor
(JobManager.getNumberOfTaskTracker()) pull request (which is still not
ready :( )

On Sun, Nov 3, 2013 at 3:47 PM, Stephan Ewen notifications@github.comwrote:

[2013-11-04 09:49] rmetzger opened #235 "Stratosphere does not work out of the box on Mac OS X"
The TaskManager fails to allocate memory.

[2013-11-04 12:26] rmetzger opened #236 "Downloading Sources not possible from within Eclipse"
We generate source attachments, but eclipse is unable to download them.
I think I'm going to fix this.

https://github.com/stratosphere/stratosphere/pull/126

[2013-11-04 12:34] rmetzger opened #237 "Downloading sources not possible from Eclipse"
We generate source attachments, but eclipse is unable to download them.
I think I'm going to fix this.

https://github.com/stratosphere/stratosphere/pull/126

[2013-11-05 09:33] markus-h commented on #220
I have a first preview of the download page here: http://markus-h.github.io/stratosphere/download/

[2013-11-05 09:50] asteriosk commented on #220
Hi Markus, most of the work is already there.

Here are my comments:
- I would say that we should keep this a real Download page. Meaning: you can remove the quickstart.
- I would avoid using a table because it makes the page complicated and cluttered. Try to keep things as they already are in the rest of the pages meaning: use headings.

If using headings, here is how I would structure the page:

[2013-11-05 15:10] rmetzger commented on #220
I added some texts: http://robertmetzger.de/stratosphere/download/

[2013-11-05 15:19] rmetzger commented on #220
So I have to admit, the table was my idea. You are right, it does not look very nice.

The reason why I initially suggested having a download page was that we need a central page that contains all the different ways to get Stratosphere. In the past, there had been many issues on github, some other places in the web etc. to get Stratosphere. This page should be a central point for everybody.

I don

[2013-11-05 15:39] uce commented on #220
Hidiho,

I actually find our solution better (but maybe that's due to the medication I'm currently taking :dragon:). The other solutions are kind of overwhelming on a first visit.

(I was sick the last days, maybe I will propose something tonight to get back into business :smile:)

[2013-11-05 20:02] rmetzger opened #240 "Builds on Travis-CI currently not working"
There seems to be an issue with Travis and or sonatype.

I've already asked here: https://groups.google.com/forum/#!topic/travis-ci/ZQWQUc6cjKA

Ideas to fix this are very welcome.

[2013-11-06 09:34] uce commented on #220
This is my take on this. It doesn't resemble @rmetzger's proposals, but it could still be OK.

Preview: [http://uce.github.io](http://uce.github.io)

The sidebar on the left has a problem with the last sections, because they don't contain enough content (at most resolutions at least) for scrolling to "make sense".

The links are not functional. If we want this, I'll incorporate the changes and do

[2013-11-06 09:43] aljoscha commented on #220
I prefer @uce's to the table based layout.

[2013-11-06 09:50] asteriosk commented on #220
+1 for @uce's version! Great!

[2013-11-06 10:47] StephanEwen opened #241 "Create FAQ section on the Website"
Create an FAQ Section in the Wiki and link it from the Website (next to Documentation?)

[2013-11-06 11:06] StephanEwen opened #242 "Exclude the pact-examples and pact-scala-examples from being copied to lib"
Curretly, the maven project jars are copied to lib. That means the classes are part of the bootstrap classpath. When one wants to run a modified example, it fails becasuse the classes are already in the class path (in an older version).

[2013-11-06 12:40] sscdotopen opened #243 "Support for custom objects in Scala-frontend"
It is extremely important to support the usage of complex custom objects (e.g. the Vector classes from mahout math). Nobody will want to rewrite those to be able to use Stratosphere. The ability to register a custom serializer for those should be sufficient as a first step.

[2013-11-06 12:52] AHeise opened #244 "Cannot access RuntimeContext in open()"
Invoking getRuntimeContext() in open() inside a RegularPactTask always causes an IllegalStateException.

In RegularPactTask initLocalStrategies() and thus open() of the stub is called before the RuntimeContext is set with initialize().

Please note that inside a ChainedMapTask it works as expected

Here is the corresponding fragment of RegularPactTask:

[code]

[2013-11-06 13:10] #210 closed, assigned to aljoscha

[2013-11-06 13:24] StephanEwen commented on #244
Are you using a combiner that is executed as part of a local strategy (combining sort) ? That is the only point I can think of where the UDFs have cross-dependencies with the local strategies...

[2013-11-06 13:26] AHeise commented on #244
Yes it definitively breaks in a combiner.

See https://s3.amazonaws.com/archive.travis-ci.org/jobs/13543000/log.txt (search for “runtime context has not been initialized”)

From: Stephan Ewen [mailto:notifications@github.com]
Sent: Mittwoch, 6. November 2013 14:24
To: stratosphere/stratosphere
Cc: Heise, Arvid
Subject: Re: [stratosphere] Cannot access RuntimeContext in open() (#244)

Are you using

[2013-11-06 13:27] StephanEwen commented on #244
Okay, should be a quick fix...

[2013-11-06 14:26] asteriosk opened #245 "No exception when the input format does not match the prescribed type"
I have played with Scala today. Here is what I have written:

[code]

The departments.txt file looks like this

[code]

Note the error in my Department class: the id is defined as a String and the department name is an Integer. What I would expect from the "parser" is to tell me that the file does not match what I prescribed. But if you run this program, there will be no exception and the departme

[2013-11-06 16:01] uce commented on #235
Can you please be more specific? How can I "reproduce"/see this?

[2013-11-06 16:15] uce commented on #220
OK, some further changes:
- Renamed Download to Downloads (with s) since we offer not a single but multiple files to download
- Added a text proposal from @StephanEwen to the startpage

Please check it out.

@rmetzger Please provide specific feedback on what needs to be polished (including real links for downloads etc.), so we can do the PR.

[2013-11-06 16:17] uce commented on #241
Why do we want this as a Wiki?

I would like to have it consistent with the documentation (therefore on the webpage) even though it would be easier to edit with a Wiki.

[2013-11-06 16:33] uce commented on #241
Our Documentation is terribly outdated. :mask: Will also look into it. :cake:

[2013-11-06 16:45] AHeise commented on #206
Secondary Sort works only for PactRecord-based programs.

It boils down to the basic issue that GenericReduceContract do not have Orderings. Hence, only ReduceContracts have a groupOrder that is passed as a GroupProperty by ReduceNode to the optimizer.

The following line in ReduceNode needs to be fixed.

[code]

I either propose to let GenericReduceContract have group orders or provide an interfa

[2013-11-06 17:05] rmetzger commented on #235
Sure,
I was in a hurry during the IMPRO lecture.

If you check out the BigDataClass exercise on MacOS X into eclipse and try
to run the main() method, it will fail with an OutOfMemory exception.

Could be that we can not do anything about this because you can probably
not change the run configuration in eclipse.

On Wed, Nov 6, 2013 at 5:01 PM, Ufuk Celebi notifications@github.comwrote:

##

Rober

[2013-11-06 17:08] asteriosk commented on #235
I had the same problem. But I think there is nothing that could could do about it (apart from mentioning it in the tutorial) as the VM heap size has to be set by the "Run Configuration"...

[2013-11-06 17:26] rmetzger commented on #241
This issue is related https://github.com/stratosphere/stratosphere/issues/77

[2013-11-06 17:37] rmetzger commented on #220
+1 @uce

The Maven Deps are wrong.

[code]

Installation guide link is broken

The buttons seem to be quite large

Someone needs to test the debian package and installation process. This is untested and not automated (sebastian ruf is going to do that)

[2013-11-06 17:41] rmetzger commented on #235
There is a maven-eclipse plugin which can for example add folders to the source path. Someone should dig deeper into that to see if there is a way.

[2013-11-06 18:09] StephanEwen commented on #245
The reason is that the input format skips invalid line. In the above case, all lines are invalid and skipped.

We can
-  Have a lenient and non-lenient mode (lenient filtering erroneous records, non-lenient throwing errors)
-  Have a way to access to rejected rows...

[2013-11-06 18:11] StephanEwen commented on #244
Fixed in 36aabd4e9472659ed3320817e6f2ced4404397b8

[2013-11-06 18:11] #244 closed, assigned to nobody

[2013-11-06 18:23] asteriosk commented on #245
Why was this done this way? Did you have a specific use case in mind?

I think we should throw exceptions in the case of bad input: this can really make you spend days debugging if you have a slight problem in your data (or program).

So, "strict parsing" for me should be the default and we could also provide a constructor that will allow skipping of input lines that are not valid.

What do you th

[2013-11-06 18:55] StephanEwen commented on #220
Looks very good. When you corrected the maven dependencies, please push to the main branch.

[2013-11-06 19:02] StephanEwen commented on #245
Sounds reasonable.

I cannot tell you why exactly it is like that, but we should change it definitely.

[2013-11-06 19:04] fhueske commented on #220
Like it!

[2013-11-06 19:40] StephanEwen opened #246 "Rename Input and Output Formates"
I think we should rename the input and output formats because the names are misleading. Delimited*Format sounds like a CSV style input format, but it is a line input format. Record Input Format has no intuitive meaning to most people.

How about we name them
-  RecordInputFormat to CSVInputFormat (even though delimiters are not necessarily commas)
-  DelimitedInputFormat to LineInputFormat

[2013-11-06 19:47] aljoscha commented on #246
Agreed on CSVInputFormat, but LineInputFormat would make people think that they get individual lines in the records. But they don't, that's what TextFile() (and TextDataSourceFormat) is for.

[2013-11-06 19:55] StephanEwen commented on #246
Okay. What could we call the DelimitedInputFormat? Should we just keep it? Does the term 'delimited' raise confusion with delimited fields?

[2013-11-06 20:08] aljoscha commented on #246
Maybe BlockInputFormat.

[2013-11-06 20:13] uce commented on #245
Lets also rename lenient to "non-strict" (or to strict and change the code logic).

[2013-11-06 20:25] #113 closed, assigned to nobody

[2013-11-06 20:40] fhueske commented on #246
I agree that the formats should be renamed.
CSVIF is fine.
How about ByteRecordIF for DelimitedIF? It splits the data into records of bytes which must be manually parsed, since the IF is an abstract class.

[2013-11-06 21:12] rmetzger commented on #220
Concerning the text on the start page "Stratosphere is a next-generation Big Data Analytics Platform. It combines the strenghts of MapReduce/Hadoop with powerful programming abstractions in Java and Scala and a high performance runtime. Stratosphere has native support for iterations, incremental iterations, and programs consisting of large DAGs of operations.".

I totally agree with having such a

[2013-11-06 21:15] uce commented on #220
OK, I agree. Can you provide an alternative text with your considerations? We should also have the text in sync with the README. Since the release is around the cornor, we should have this sooner than later.

[2013-11-06 21:24] rmetzger commented on #220
Well, actually, I think we should remove everything from the Readme that is stated somewhere else! (check carefully!, I don't want to loose information)
It is hard to maintain documentation in so many places. (I noticed that when we changed the version)

(We should not say "is a next-generation" .. we are "THE next generation" ;))

"Stratosphere is the next-generation open source Big Data Analytic

[2013-11-06 21:55] uce commented on #220
OK, aebcc7ec380a1685c6ed3935ea4851667253b827 closes this issue.

The startpage text is actually a different discussion so I removed it from the changes for now.

[2013-11-06 21:55] #220 closed, assigned to markus-h

[2013-11-06 21:59] rmetzger opened #247 "Test Stratosphere Debian Package"
Derived from https://github.com/stratosphere/stratosphere/issues/220

The Stratosphere debian package has not been tested!

[2013-11-06 22:04] rmetzger opened #248 "Rework Quickstart so that people use the binary instead of building stratosphere"
This page needs to be updated: http://stratosphere.eu/quickstart/build.html

[2013-11-06 22:13] fhueske opened #249 "Start Webfrontend with Jobmanager?"
Currently, the Pact web frontend needs to be manually started by running a separate script. I don't think that running the frontend on another machine as the JM is very common.
Should we start it with the Jobmanager start script (or as another thread of the JM process) with an option to disable it?

[2013-11-06 22:46] aljoscha commented on #249
I don't know how many people use the web interface. I don't, when I can avoid having to.

[2013-11-06 22:50] fhueske commented on #249
Same here.
@StephanEwen integrated the Pact web interface with the JM info interface for a demo. Having both things together in a nice web interface that starts with the JM would be good though in my opinion.

[2013-11-07 08:29] fhueske opened #251 "Website shows "Build Status: build error""
The Travis build status icon on the bottom of the [Stratosphere Github start page](https://github.com/stratosphere/stratosphere) shows "build error".

However, when clicking on the icon, the Travis website says "Status: passed".

[2013-11-07 09:08] rmetzger commented on #251
Mh, so currently, both badges show "build:error" which is correct because the last build failed.

I hope the current build is going through. Lets see if the badge on our readme updates accordingly.

[2013-11-07 17:41] fhueske commented on #251
Hmm, seems to be fine again....
Its probably a Travis issue anyways. I'm closing this issue for know.

[2013-11-07 17:41] #251 closed, assigned to nobody

[2013-11-08 11:23] StephanEwen commented on #245
Default behavior is now that parsers fail on invalid lines (710b12ab97ddf8f8f996959afedb1663da3c1252)

[2013-11-08 11:54] #242 closed, assigned to fhueske

[2013-11-08 12:10] StephanEwen commented on #249
I also would not start the compiler web frontend in any case. it allows to upload stuff, and trigger the execution of arbitrary programs, which is nothing you want generally exposed.

[2013-11-08 12:11] StephanEwen commented on #218
Fixed in cfb20f9362d832fd2f813e9a8f8575aa25f1ca70

[2013-11-08 12:11] #218 closed, assigned to nobody

[2013-11-08 12:19] rmetzger opened #255 "CustomDataTypeTest fails in compiler"
For example:
https://s3.amazonaws.com/archive.travis-ci.org/jobs/13633118/log.txt

[code]

I will look into the maven configuration to properly trigger a failed test.

[2013-11-08 12:53] rmetzger commented on #255
The exception is being catched in the `DataSourceNode` class (Line 125)

[2013-11-08 12:57] matpeters opened #256 "Nephele "loses" data packets"
A pact job dies with the following message: "An error occurred in the channel: Expected data packet 25 but received 27"

The error occurred both in version 0.21 and with the current 0.4-snapshot. Apparently only with bigger data sizes. 15GB Input data worked fine, 22GB crashed. I sent the job, that caused the error to Stephan Ewen.

Full stack trace:
15:32:11,639 ERROR eu.stratosphere.pact.runtime

[2013-11-08 13:02] StephanEwen commented on #255
Okay, the problem is that the compiler has currently no user code class loader. I'll take a quick stab at that...

[2013-11-08 13:03] sscdotopen commented on #256
I might have seen a similar error message some time ago, could it be the erroneous multicast in Nephele?

[2013-11-08 13:04] StephanEwen commented on #256
Nephele multicast is disabled by default in the current version.

I would expect it is faulty logic at channel tear-down (closing).

On Fri, Nov 8, 2013 at 2:03 PM, sscdotopen notifications@github.com wrote:

[2013-11-08 15:05] StephanEwen commented on #243
Fixed in cbfc5c2097f2286f6e1b27beb695d3d2292c9570

[2013-11-08 15:05] #243 closed, assigned to aljoscha

[2013-11-08 15:51] StephanEwen opened #257 "Renaming"
Here is a comprehensive list of all renamings that we want to make before the release. Since renaming will break user code, we should do that once and coordinated, if we do it at all.
-  Match -> Join
-  Contract -> Operation
  -  MapContract -> MapOperator
  -  ReduceContract -> ReduceOperator
  -  MatchContract -> JoinOperator
  -  CoGroupContract -> CoGroupOperator
  -  CrossContract -> CrossOp

[2013-11-08 15:51] StephanEwen commented on #222
Subsumed by #257

[2013-11-08 15:51] #222 closed, assigned to aljoscha

[2013-11-08 15:51] StephanEwen commented on #246
Subsumed by #257

[2013-11-08 15:51] #246 closed, assigned to nobody

[2013-11-08 17:55] rmetzger commented on #257
We have some submodules which are only conditionally included into the build. nephele-yarn and pact-hbase.

Affected by this change
- Users have to change their dependencies + code
- pending pull request
- other unmerged work
- Quickstarts
- BigDataClass.org
- stratosphere2 should also do this change to be able to pull our changes
- Documentation, slides, everything out in the web
- Source code do

[2013-11-09 10:19] rmetzger opened #259 "Remove "Cloud" model from nephele"
Nephele has a lot of code regarding "costs per hour", disc capacity and other instance type related stuff. (see `InstanceType` class)

Since nobody is using the feature, I suggest to remove it.

[2013-11-09 13:03] physikerwelt opened #260 "Gerrit Code Review or Github’s fork"
Just given the open source community a chance to comment on that:
I propose to enable this project for
http://gitenterprise.me/

[2013-11-09 14:02] sscdotopen commented on #260
Do we have any problems with github and the pull requests? If not, we should live like: "Don't fix it if it ain't broken".

[2013-11-09 15:38] physikerwelt commented on #260
https://upload.wikimedia.org/wikipedia/commons/9/98/Ericsson_Taxen_%282%29.jpg

[2013-11-09 16:35] emrehasan opened #261 "JDBC Input and Output format for Stratosphere"
Hi,

I would like to contribute to Stratosphere too. On your page https://github.com/stratosphere/stratosphere/wiki/Starter-Jobs i found the task 'JDBC Input and Output format for Stratosphere'  and would like to get more information on that.

[2013-11-09 16:58] rmetzger commented on #261
Hi,

Cool, we are very happy that you want to contribute to the project!

I would recommend you to start with implementing the JDBC Input Format. Create a class `JDBCInputFormat` that extends from `eu.stratosphere.pact.common.io.GenericInputFormat`.  The overall idea of the InputFormat is being able to read from a database with a JDBC driver.
So I would recommend you to set up a MySQL database (or

[2013-11-09 17:52] rmetzger commented on #257
When doing the renaming, we can also fix this issue https://github.com/stratosphere/stratosphere/issues/122

[2013-11-10 14:29] andrehacker commented on #257
Just one comment: For me, CoGroup was always like a Reduce for multiple inputs.
Therefore I would propose to either change them to "Reduce and CoReduce" or "Group and CoGroup".
Or simply call them both "Reduce" or "Group", with two Builder classes: one for a single and one for multiple inputs.
(All other contracts have a very different semantic, but CoGroup and Reduce are almost the same in terms

[2013-11-10 18:23] ktzoumas commented on #260
Nice phone. I am closing this for now.

@physikerwelt I propose that you open a new issue with an informative text on what problems this can solve for the project, or what processes it can improve on.

[2013-11-10 18:23] #260 closed, assigned to nobody

[2013-11-10 18:55] physikerwelt commented on #260
@ktzoumas gerrithubt simply adds another (maybe simpler) way to contribute to the project (see the link http://gitenterprise.me/ for a detailed comparison). It can be set up within 5 minutes does create only little management overhead.

[2013-11-10 18:59] rmetzger opened #263 "Fix stalling JobManagerITCase.testBroadcastChannels() (on travis)"
The test is currently disabled
https://github.com/stratosphere/stratosphere/blob/master/nephele/nephele-server/src/test/java/eu/stratosphere/nephele/jobmanager/JobManagerITCase.java?source=cc#L530

It does not fail on my own computers, only on travis but not always on travis:
If it fails, it just hangs.
Logs: https://s3.amazonaws.com/archive.travis-ci.org/jobs/13760959/log.txt (https://travis-ci.o

[2013-11-10 19:03] StephanEwen commented on #263
I would ignore (disable) that test for now, because the code it tests is
known to be broken and is not used right now.

On Sun, Nov 10, 2013 at 7:59 PM, Robert Metzger notifications@github.comwrote:

[2013-11-10 20:28] emrehasan commented on #261
Should the PactRecord be filled with just Strings like it is done in TextInputFormat or should the original datatypes be considered? If yes which sql-types shall be considered?

[2013-11-10 20:37] rmetzger commented on #261
It would be nice to map the SQL types to the respective Pact\* types, but I think the most basic types such as int, long, string, bool etc. should be sufficient for a first approach.

If you have types that are absolutely not mappable, map them to string or throw an exception.

[2013-11-10 21:02] emrehasan commented on #261
How should the test be modeled? Shall it just be a test so that i am convinced that the code of my partner and me works or should there be a real test-unit? Therefore we would need an extern configuration-file like in /test/resources so that every dev can run the test after setting up his own database-connections too.

[2013-11-10 21:10] rmetzger commented on #261
I would create a new class called `JDBCInputExample` that shows a whole Stratosphere job (as I described before).
Place the schema of the table you've used either into a comment inside the example job or into the `resources` directory. Ideally, the example schema should contain different data types to test the conversion.

A unit test is not required for a first approach, I would first focus on ha

[2013-11-11 07:41] rmetzger opened #264 "Simplify ./bin/stratosphere (former ./bin/pact-client.sh)"
I was using the pact-client.sh to day, and its interface seems to be a bit over-engineered.

For example

[code]

Its just annoying to enter `cancel -i` if you want to cancel a job. The `-i` does not add any information or value at all!

The `list` action should always list all jobs, the arguments should be seen as filters.

It would be nice to make the `-a` of `run` optional. Everybody is used to

[2013-11-11 09:21] uce commented on #257
If we go with @andrehacker's proposal, we could also think about having just a single builder which decides to use CoGroup or Reduce depending on the inputs.

---

We should also rename the scripts. Replace the `pact-` prefix with `stratosphere-` and for the visualization script remove the `nephele-` prefix.

[2013-11-11 10:00] uce commented on #257
And JobManager and TaskManager are also very Hadoop inspired. Why not rename them to **master** and **worker**?

I know that @rmetzger is against this, because the comments will get out of sync, but they are out of sync already and need fixing anyways.

[2013-11-11 12:19] aljoscha commented on #257
So is this package restructuring still happening? I'm all for it.

[2013-11-11 12:23] aalexandrov commented on #6
Shouldn't we close this now? Seems to be resolved by #238.

[2013-11-11 12:56] uce commented on #257
Just noticed: We also have to rename the config keys (like `pact.parallelization.degree`) if we want to get away from the `pact` name.

---

Btw: I'm also all for it.

[2013-11-11 13:33] fhueske commented on #257
I agree with most changes but I am not sure if it is a good idea to replace Pact by Stratosphere and keep Nephele as it is. Stratosphere is the name of the whole thing and naming only a part of the system like that might confuse people. Pact might not be the best name, but Stratosphere is worse in my opinion.
If Pact should go, I think we should use a new name for that...

[2013-11-11 13:33] fhueske commented on #257
Wrong button, sorry...

[2013-11-11 13:38] rmetzger opened #265 "Improve VM images"
Credientials: vagrant / vagrant

The VMs need some improvements anyways

[2013-11-11 13:45] fhueske commented on #265
Here a few suggestions:
- Use a more meaning full user name(?)
- Change owner of stratosphere and quickstart directories to user login
- Use a VM with a graphical UI
- Install eclipse and set up
  - all eclipse extensions (maven, git, scala, ...)
  - have a workspace for the java quickstart
  - have a workspace for the scala quickstart
  - have a workspace for the system code
- README file and sho

[2013-11-11 14:56] rmetzger opened #266 "Warn user if cluster did not come up as expected"
While I did some work on a cluster, I was wondering why my job did not utilize all TaskManagers.
It seems that I started my job too early (before all TaskManager registered with the JobManager) and therefore, the compiler did not consider them.

We should either make the `start-cluster.sh` script blocking (with a timeout). Or the pact-client.sh should report a warning if less TaskManagers than exp

[2013-11-11 17:25] aalexandrov opened #267 "Compile errors in the stratosphere-quickstart archetype"
I get the following two errors on a freshly created scala quickstart archetype.

First error occurs at line 2

[code]

and says "object Array is not a member of package eu.stratosphere.scala".

Second error is at line 91

[code]

and says

[code]

Seems like the `scala.Array.canBuildFrom` import is not properly resolved.

[2013-11-11 17:46] aljoscha commented on #267
I updated the quickstart to make it work with the latest stratosphere version.

[2013-11-11 18:28] StephanEwen commented on #255
First part is fixed in 80660c6e9dbc65802c6c53ba2f6275d20d98dbe4.

Next step is to provide the compiler with a PlanWithJars instead of only a Plan.

[2013-11-11 19:19] rmetzger commented on #267
Did you test it?

I'm still getting

[code]

BTW: I actually wanted to test if its possible to write a little scala job within 5 minutes. Seems like the test already failed.

[2013-11-11 19:40] aljoscha commented on #267
I just did a:

[code]

It worked just like that.

[2013-11-11 19:47] rmetzger commented on #267
Okay, sorry. Seems that there is something wrong with my eclipse here? You're right, its working: http://showterm.io/a354d7e71755184bdd406

[2013-11-11 19:49] aljoscha commented on #267
IntelliJ for the win... :+1:

[2013-11-11 19:49] #267 closed, assigned to nobody

[2013-11-12 07:46] rmetzger commented on #171
+1
This is how Scala Jobs look in the web interface. You could at least name it "Map", "Reduce" etc.
![scalanames](https://f.cloud.github.com/assets/89049/1519863/701efe38-4b6e-11e3-9c31-a093899563e0.png)

[2013-11-12 08:07] aljoscha commented on #171
Do Contracts not have default names, what happens if a user does not give a name to a Contract?

[2013-11-12 09:25] StephanEwen commented on #171
They actually habe default names. Something like 'unnamed mapper'. Is it
possible you set an empty string as name somewhere?
Am 12.11.2013 09:07 schrieb "Aljoscha Krettek" notifications@github.com:

[2013-11-12 10:25] aljoscha commented on #171
No, I'm not setting a name anywhere.

[2013-11-12 10:30] rmetzger commented on #171
The default names look like html tags. The interface probalby does not
escape the names. So browsers ignore the wrong tags

Sent from my iPhone

On 12.11.2013, at 11:25, Aljoscha Krettek notifications@github.com wrote:

No, I'm not setting a name anywhere.

—
Reply to this email directly or view it on
GitHubhttps://github.com/stratosphere/stratosphere/issues/171#issuecomment-28282634
.

[2013-11-12 10:44] StephanEwen commented on #171
Ah, makes sense. Can you add escape logic, something along the lines of
https://github.com/stratosphere/stratosphere/blob/master/pact/pact-clients/src/main/java/eu/stratosphere/pact/client/web/JobsInfoServlet.java#L119

On Tue, Nov 12, 2013 at 11:30 AM, Robert Metzger
notifications@github.comwrote:

[2013-11-12 10:46] StephanEwen commented on #171
Or more like
https://github.com/stratosphere/stratosphere/blob/master/pact/pact-clients/src/main/java/eu/stratosphere/pact/client/web/PactJobJSONServlet.java#L128

On Tue, Nov 12, 2013 at 11:44 AM, Stephan Ewen ewenstephan@gmail.comwrote:

[2013-11-12 11:05] StephanEwen commented on #249
We resolved the issue as follows:
-  The job manager info web interface is started with the job manager (it already is)
-  The compiler visualization is optional for demo purposes and not started with the job manager

[2013-11-12 11:05] #249 closed, assigned to nobody

[2013-11-12 11:06] StephanEwen commented on #217
Solved by #299 in 385c0be988eef4fe93602e0d13e526c22179c37e

[2013-11-12 11:06] #217 closed, assigned to markus-h

[2013-11-12 13:27] markus-h commented on #171
The current default names look like
&lt;span open=&quot;_5a57eeae3bf674002c5bb1c0aadcb000&quot; class=&quot;opensub&quot;&gt;&lt;unnamed source=&quot;&quot; data=&quot;&quot; file=&quot;&quot;&gt;&lt;/unnamed&gt;&lt;/span&gt;
It wouldn't help that much to escape and to show these, would it?

[2013-11-12 13:33] StephanEwen commented on #171
Why do the names look like this? They should look like "<unnamed source>"
Is there some bug in the logic that builds the html code?

[2013-11-12 13:35] markus-h commented on #171
Oh, sorry, my mistake. The span of course is part of the interface, so the name ist just linke &lt;unnamed reducer=&quot;&quot;&gt;&lt;/unnamed&gt;

[2013-11-15 00:35] zentol commented on #261
Hello, I'm the partner of emrehasan, we work together on the issue.

We were able to retrieve data from a locally setup mysql database.
connection establishment, nextRecord() and reachedEnd() all appear to work as they should.
(no inputsplits as you suggested)

Since getting stratosphere running on windows turned out problematic, we instead put the jdbcinputexample into a junit test (without the c

[2013-11-15 09:43] uce commented on #261
Hey @zentol,

can you also please provide more information on what is not working on Windows?

[2013-11-15 09:46] rmetzger commented on #261
Hi,

we recently added code to fix many bugs on windows (https://github.com/stratosphere/stratosphere/commit/1edf660e85a19772771f4aa50407f7e5dd860385). Did you merge the most recent changes of our main repo into your code line.

If you still have the problems after the merge, please report all bugs you encounter when using Stratopshere on Windows.

[2013-11-15 11:57] zentol commented on #261
it wasnt a problem with stratosphere itself, setting up cygwin, curl and maven properly was the issue. instead of spending time on that we instead opted for using junit to get working code asap.

i actually managed to run the wordcount job, so we're going to create a proper example now.

[2013-11-15 12:10] emrehasan commented on #261
Currently i am developing the next version of the test-unit:
Using Apache Derby was supposed to replace the example later and to satisfy correct running code by just automated tests. It should be implemented with all necessary condition-checkings within the next week.

[2013-11-15 14:53] rmetzger commented on #261
Hi guys,
@zentol: Okay, I understand. I like your pragmatism, don't get stuck by those issues. I thought Stratosphere can run on Windows (I think you have to instruct git to change the line endings or so, but then it should work). We have a Stratosphere developer who will probably switch to Windows soon, he'll figure it out and make Stratosphere compatible. (If you have found bugs that only occur

[2013-11-16 12:42] rmetzger commented on #247
The Instructions on the website are wrong. These are correct:

[code]

The setup does not work

[code]

[2013-11-17 12:53] zentol commented on #261
I just finished the example. While working on it i took a look at other examples/input formats/way-too-many-other- classes and noticed a few oddities.

All other examples use InputFormats that have a parameter-less constructor. They create a datasource, and subsequently create the configuration using datasource.setParameter().

Our constructor on the other hand expects a configuration(to set the c

[2013-11-17 16:32] rmetzger commented on #261
Hi,

Your input format must have a parameter free constructor. The reason for this is, that the input format is created in the following situations:
-  When Stratosphere starts reading data (from files or databases), it first has to create the InputSplits. Therefore, the InputFormat is called by the user (here, you can pass arguments using the constructor (this feature is not often used in the exa

[2013-11-17 16:38] rmetzger commented on #261
Okay, looking at the example (https://github.com/emrehasan/stratosphere/blob/c64e0694e0a042e6fef952e643a8fd6e00989a71/pact/pact-examples/src/main/java/eu/stratosphere/pact/example/jdbcinput/JDBCInputExample.java) I would suggest to use the version with two arguments (config and query).
Could you also add a constructor where the user can enter the jdbc connection as a string. I think they look like

[2013-11-17 17:18] zentol commented on #261
pretty sure i can create a workaround so that both work. the constructor you requested is already done.

Update:

so we got 3 constructors now:

1:()
2:(url,query)
3:(configuration,query)

1 expects that all parameters are passed using datasource.setParameter, including the query
2 expects a complete url that can be passed directly into the getConnection call
3 expects all parameters to be passed

[2013-11-17 18:43] rmetzger commented on #261
Hi,

looks perfect. Thanks!

[2013-11-18 14:35] lukacsg opened #275 "BulkIteration member function is not implemented"
The implementation of the "public void setTerminationCriterion(Contract criterion)" member function in BulkIteration class is missing.

<code>
public void setTerminationCriterion(Contract criterion) {
                throw new UnsupportedOperationException("Termination criterion support is currently not implemented.");
        }
</code>

https://github.com/stratosphere/stratosphere/blob/master/pac

[2013-11-18 14:46] StephanEwen commented on #275
It is on the list for the coming release ;-) Until then, you can use
-  An absolute number of iterations, OR
-  The iteration aggregators to define a convergence criterion.

For the second option, have a look at the PageRank Example on how to use it:
-  An example aggregator (that collects many statistics about evolution of the solution): https://github.com/stratosphere/stratosphere/blob/master/pa