[2014-03-20 16:12] rmetzger commented on #40
@tobwiens is working on this: https://github.com/tobwiens/stratDeployEc2

[2014-03-20 16:14] #78 closed, assigned to nobody

[2014-03-20 16:14] #86 closed, assigned to nobody

[2014-03-20 16:24] rmetzger commented on #101
Fixed with https://github.com/stratosphere/stratosphere/pull/73.

[2014-03-20 16:24] #101 closed, assigned to nobody

[2014-03-20 16:25] rmetzger commented on #100
We should implement this for the new Java API https://github.com/stratosphere/stratosphere/issues/463.

[2014-03-20 16:39] StephanEwen commented on #100
I am actually not too sure about that one. Keyless reducers are mostly only
valuable if they are combinable. What would be the use case for a key-less
cogroup?
Am 20.03.2014 17:25 schrieb "Robert Metzger" notifications@github.com:

[2014-03-20 16:45] fhueske opened #620 "Check at job compile time that CSVOutputFormat works only on DataSet<Tuple>"
Currently, the system will start executing the job and fail with an exception similar to this one:

[code]

[2014-03-20 21:45] qmlmoon commented on #602
When dop = 2, then we'll get 2 collection outputs. How to merge them? They have no idea about how the record fields are grouped. So, do we just simply concat them or leave them like  `List<List<String>> resultCollected` ?

[2014-03-20 21:51] fhueske commented on #602
Good observation.
In most cases, you can simply concatenate them since the order of elements is not important.
If the user specifies sorted output, going for nested lists would be the best thing to do.

For now, I would go with the concatenated lists as it is easier to handle for the user.

[2014-03-20 22:49] fhueske commented on #600
Fixed in b6edba26c3443ebe33a3de4f482900fa424430f2

[2014-03-20 22:49] #600 closed, assigned to twalthr

[2014-03-20 22:50] fhueske commented on #599
Fixed in b6edba26c3443ebe33a3de4f482900fa424430f2

[2014-03-20 22:50] #599 closed, assigned to twalthr

[2014-03-20 22:50] fhueske commented on #597
Fixed in b6edba26c3443ebe33a3de4f482900fa424430f2

[2014-03-20 22:50] #597 closed, assigned to twalthr

[2014-03-21 10:30] StephanEwen commented on #393
I don't think that matters. There are many scrab-repositories under the
stratosphere organization.

[2014-03-21 11:26] fhueske commented on #605
We need a very good integration of optimizer hints with the API.
In production settings, SQL queries are very often hand-tuned. We should give the possibility to allow that for Stratosphere Jobs as well.

Hints include:
- Data and UDF hints, e.g., cardinality, data size, output ratio
- Plan hints, e.g., local and shipping strategies

In addition we need a good plan visualization tool, but that's a

[2014-03-21 11:34] fhueske opened #621 "Add Union operator to new Java API"
Add support to union two (or more) identically typed data sets.
This is possible in the former API, so we need to support it here as well.

[2014-03-21 11:59] fhueske commented on #548
I thought about the operator tests and made a [wiki page of tests that we should run](https://github.com/stratosphere/stratosphere/wiki/Operator-Tests-New-Java-API).
Please review, comment, extend.

Since this is a larger effort, it would be cool, if some of you guys would pick one or two operators and write tests for them.
I started with the tests for [**Filter**](https://github.com/stratosphere/

[2014-03-21 13:54] fhueske opened #622 "Allow Reduce function to specify a starting element."
We could extend `ReduceFunction` by a method `T getStartElement()` that returns the first element to give into the reduce function.

By default this method returns `null`. In this case, the first reduce call is done on the first and second elements of a group.
If `getStartElement()` is overwritten in a ReduceFunction and it returns an object, the first reduce call is done on the start element and

[2014-03-21 16:34] H-Theking commented on #583
Think its ok for now

[2014-03-21 16:34] #583 closed, assigned to rmetzger

[2014-03-21 17:07] StephanEwen commented on #615
At some point we have to be careful not to offer too many methods on
DataSet. Otherwise, people get lost.

How about we offer a specific java mapper (as part of the python project)
that implements the bridge between java and python. We could then use it
the following way:

[code]

[2014-03-21 17:08] StephanEwen commented on #588
Exactly

[2014-03-21 17:24] rmetzger commented on #393
Okay, I'll move it soon.

[2014-03-21 17:29] rmetzger commented on #605
How about a `CompilerHint` class?

[code]

[2014-03-21 17:47] nappy29 commented on #514
I am interested in this issue .where can i begin from?

[2014-03-21 17:50] rmetzger commented on #514
Hi,

if you execute `mvn javadoc:javadoc` in the source folder, you'll see a lot of warnings like

[code]

[2014-03-21 20:10] rmetzger commented on #209
The Array Datamodel has been removed in commit 4bbc6a4c980eee767e6d98c3427ee690e676a88a.

[2014-03-21 20:10] #209 closed, assigned to nobody

[2014-03-21 20:12] #275 closed, assigned to markus-h

[2014-03-21 20:14] #390 closed, assigned to qmlmoon

[2014-03-21 20:15] rmetzger commented on #399
This pull request fixes the issue https://github.com/stratosphere/stratosphere/pull/572. Will close once merged.

[2014-03-21 20:17] rmetzger commented on #474
Fixed in https://github.com/stratosphere/stratosphere/pull/526.

[2014-03-21 20:17] #474 closed, assigned to nobody

[2014-03-21 20:19] rmetzger commented on #602
This is related: https://github.com/stratosphere/stratosphere/issues/478 (for an implementation into the runtime)

[2014-03-22 10:54] rmetzger commented on #604
Depends on #607

[2014-03-23 12:06] StephanEwen commented on #622
This sounds like a fold (or foldLeft) to me. If we need this, I would suggest to add a fold function, rather than making the reduce more complicated.

I am wondering whether it is desirable that the reduce function is called for only one element. What would be a use case for that?

[2014-03-23 13:00] StephanEwen commented on #463
The new API is in the master branch now. Several issues exist for detailed features there.

[2014-03-23 13:00] #463 closed, assigned to StephanEwen

[2014-03-24 13:37] rmetzger commented on #596
Hey @alexff91,

I reduced the checkstyle checks to a minimum. (I updated my "checktstyle" branch)
I think we will incrementally add more rules once we have these very basic rules applied to our existing code base.

Are you still interested in doing this task?
I hope you find a nice way to automate this. The "spaces instead of tabs" is probably doable using regular expressions.

[2014-03-24 16:23] alexff91 commented on #596
Hi, I will try to write script or find some plugin for doing this rules for
the whole project.
24.03.2014 17:37 ÐÏÌØÚÏ×ÁÔÅÌØ "Robert Metzger" notifications@github.com
ÎÁÐÉÓÁÌ:

[2014-03-24 16:39] StephanEwen opened #624 "Cancelling a task may cause the IncomingConnectionThread to die"
If the receiver of a transfer envelope is no longer available, the incoming connection thread can no longer find target buffers to fill and will die with an exception.

[2014-03-24 17:58] StephanEwen opened #625 "Add a fail(Exception) method to the job graph, to report problems detected in RPC calls"
Inside RPC calls, throwing an exception kills only the RPC service. Instead, the job graph needs to be failed by the exception.

[2014-03-25 13:13] carabolic commented on #612
I'm looking into it. It seems to be that type erasure is the biggest problem. The [TypeExtractor createTypeInfo(Type)](https://github.com/stratosphere/stratosphere/blob/master/stratosphere-java/src/main/java/eu/stratosphere/api/java/typeutils/TypeExtractor.java#L79) returns `null` instead of the instance type. There might be a solution using [SerializedLambda](http://download.java.net/jdk8/docs/ap

[2014-03-25 13:15] markus-h opened #626 "Set write mode in new Japi"
I'm writing the output of a job using [...].writeAsCsv(outputPath);
When the file specified by the outputPath does not exist I get the following error:
 _Stream to output file could not be opened: Opening the file output stream failed: File or directory already exists. Existing files and directories are not overwritten in NO_OVERWRITE mode. Use OVERWRITE mode to overwrite existing files and direct

[2014-03-25 13:45] StephanEwen commented on #612
The abstract base classes implemented lambdas are all serializable. I
assume that helps?

[2014-03-25 18:06] alexff91 commented on #596
Hi @rmetzger, I have to create a pool request into ypur brunch? Right?

[2014-03-25 18:10] rmetzger commented on #596
Hi,
You can also check out my "checkstyle" branch, fix the checkstyle errors
and then open a pull request here.

Sent from my iPhone

On 25.03.2014, at 19:06, Aleksandr notifications@github.com wrote:

Hi @rmetzger https://github.com/rmetzger, I have to create a pool request
into ypur brunch? Right?

##

Reply to this email directly or view it on
GitHubhttps://github.com/stratosphere/stratosphere/

[2014-03-25 23:09] StephanEwen commented on #626
Good point. I think in these cases you would need to go with `dataset.write(new CsvOutputFormat(), filepath, writeMode)`

The writeMode parameter does not currently exist for the write(...) function, but we should add it in my opinion. And remove the redundant write(...) variant that takes a path as parameter.

Another option is to return the DataSink from the `write(...)` or `writeAsCsv(...)`meth

[2014-03-25 23:27] StephanEwen opened #629 "Add support for null values to the java api"
Currently, many runtime operations fail when encountering a null value. Tuple serialization should allow null fields.

I suggest to add a method to the tuples called `getFieldNotNull()` which throws a meaningful exception when the accessed field is null. That way, we simplify the logic of operators that should not dead with null fields, like key grouping or aggregations.

Even though SQL allows gr

[2014-03-26 00:00] StephanEwen commented on #620
Fixed as part of 3b3260a6d7013fc8afb4fa9ac9744205aed50f81 (line 204)

[2014-03-26 00:00] #620 closed, assigned to nobody

[2014-03-26 00:01] StephanEwen commented on #613
The solution sounds good to me. I'd be happy to take a pull request for this :-)

[2014-03-26 00:24] carabolic commented on #612
Alright I made tests and it turns out that we don't need `SerializedLambda` as it doesn't seem to help at all. But by using reflection I was able to get the parameter types of the lambda.

Consider the following example:

[code]

[code]

[code]

If we want to extract the actual types for `IN` and `OUT` of the `LambdaFlatMap` (and any other lambda function) interface we could do the following:

[co

[2014-03-26 00:27] carabolic commented on #612
Another possibility is to use the new Type Annotations. The problem with them is, that they are too verbose and I don't think there is a way to enforce them (or the user to write them). Hence forgetting the "mandatory" annotation would lead to a runtime error rather than a compile time error.

[2014-03-26 00:37] StephanEwen commented on #612
Cool, this looks promising!

We need to think whether it is easily possible to refactor the API to support the SAM pattern needed for lambdas.

[2014-03-26 10:55] markus-h commented on #626
I think I like the first no fluid variant better. I will create a pull request shortly.

[2014-03-26 12:27] markus-h commented on #607
I'm on it.

[2014-03-26 12:39] uce opened #633 "Add log view of task managers to web interface"
I think this is really important for more productive debugging.

Currently, we can only view the _job manager logs_ on the web interface. In failure cases, it is important to be able to also read the _task manager logs_.

I also suggest to implement some kind of caching for the logs in the interface as resending it everytime takes some time for large jobs. Furthermore, the current plain text prese

[2014-03-26 16:52] alexff91 commented on #596
Hi, I refactored stratosphere-core and java.. And started to refactor stratosphere-runtime, or I need to make pull request now, so you can see what refactoring doing with code?

[2014-03-26 18:20] StephanEwen commented on #596
Can you do a first pull request ? Then we can have a look and give you some
comments...

[2014-03-26 18:26] carabolic commented on #612
Concerning API support I think there is only little effort needed in order to get stratosphere ready for lambdas. Here is what I did in order to have a "functional" flatMap operator:

[code]

[code]

This would be everything needed to change. But note that in this case the lambda would always use the default implementations for `open` and `close`.

Using the new lambda API and assuming support for

[2014-03-26 18:46] rmetzger commented on #633
You are right with the tail view and the caching.

BUT: There is some kind of error in the system that prevents the TaskManager's exceptions to show up in the JobManager. There is actually code to send the exception to the JobManager. (We even plan to show the exception in the webinterface: https://github.com/stratosphere/stratosphere/issues/483)
So I think it would be very very helpful to fix #48

[2014-03-27 09:26] twalthr commented on #579
At the moment I tested the following types, some types are not handled correctly (no exception is thrown):

Supported types:
- basic types (String, Boolean, Integer etc.)
- tuple with basic types
- tuple with tuples
- subclass of tuple
- custom type
- value type
- tuple of values

Types not implemented (yet):
- array
- tuples with arrays
- custom types with generics
- usage of functions like `clas

[2014-03-27 09:46] rmetzger commented on #596
@StephanEwen: There is a pull request: https://github.com/rmetzger/stratosphere/pull/3 (I'll review it soon)

[2014-03-27 09:59] sscdotopen commented on #596
Doesn't including checkstyle require setting up code conventions?

On 03/27/2014 10:46 AM, Robert Metzger wrote:

[2014-03-27 10:09] rmetzger commented on #596
Yes. We have a wiki page for that: https://github.com/stratosphere/stratosphere/wiki/CodingGuidelines I have to admit the page needs some cleanup.

[2014-03-27 10:43] rmetzger opened #634 "Display the number of connected TaskManagers in the YARN console"
[A user](http://stratosphere.eu/blog/tutorial/2014/02/18/amazon-elastic-mapreduce-cloud-yarn.html#comment-1303039650) was confused why he was unable to submit a Job to Stratosphere.
The YARN console should tell the user once the cluster is fully set up.

[2014-03-27 11:54] uce commented on #633
I was aware of the plans to show the exceptions in the JM interface. But I really meant the whole log. Maybe we should add web interfaces for the TMs as well. I think this is a common approach. For example, Spark has web interfaces for both the master and workers.

[2014-03-27 11:55] uce commented on #633
Still, #483 is a good starting point to improve stuff. :+1:

[2014-03-27 12:37] StephanEwen commented on #579
Please add also Types that implement Hadoop's `Writable` interface. They should have a special serializer that calls the `write()` and `readFields()` method.

[2014-03-27 12:45] StephanEwen commented on #579
How about the following cases (I tried to prioritize them)
- Tuples of custom types, such as `Tuple2<Long, MyJavaClass>`
- Cases where the generic parameters are not in the immediate superclasse:

[code]
- Functions where the return type is dependent on the input type. The type extractor interface needs to be extended to take the input type in order to produce the return type:

[code]
- Cases wher

[2014-03-27 12:47] StephanEwen commented on #579
- Input type may be in the output type multiple times

[code]

[2014-03-27 12:53] StephanEwen commented on #579
### For the cases that we do not support, please give specific error messages for the following cases:
- If someone uses `Tuple`, rather than a specific type of tuple.
- If the type is abstract or an interface
- If the type cannot be found out and does not depend on the input type: `public class MyMapper<E> extends MapFunction<String, E> {}`

[2014-03-27 23:50] StephanEwen commented on #607
I have implemented a port of Spargel to the new java API. It does not use the new Java API classes for delta iterations, but rather directly instantiates the `eu.stratosphere.api.common` classes in the background.

It does however need the java api postpass to be able to handle delta iteration plan operators. Any chance you have gotten to that part already?

[2014-03-28 09:25] markus-h commented on #607
No, sorry, not yet. But it should be very similiar to BulkIterations with
termination criterion, so you can try to do a quick copy paste.

2014-03-28 0:50 GMT+01:00 Stephan Ewen notifications@github.com:

[2014-03-28 21:20] rmetzger opened #639 "Add command line parameter to YARN client to "enforce" certain nodes for the TaskMangers"
See here: https://groups.google.com/forum/#!topic/stratosphere-dev/k7_NTi71O0c

[2014-03-28 21:25] StephanEwen commented on #639
I think this might me most valuable in mode where we have a One-Job-Yarn-Session, i.e., where you do not start a YARN session first and then submit a job, but directly submit a job using a YARN executor.

In that case, the hosts could be taken directly form the generated input splits. Everything would be transparent.

[2014-03-28 21:28] rmetzger commented on #639
There is currently no way to use YARN to submit a job without having a running session.
But I agree that we should automatically detect the split locations in that case.

[2014-03-31 16:16] rmetzger commented on #488
https://github.com/stratosphere/stratosphere.github.io/pull/20

[2014-04-01 06:16] aljoscha opened #641 "Bring Scala API up-to-date with new Java API"
I would like to integrate the TypeInformation work and also provide proper custom serializers, not how they are implemented now, with serializing to PactRecord.

Do you think I should be working on this now that the Java API looks somewhat finished? Or is there bigger fish to fry?

[2014-04-01 07:05] StephanEwen commented on #641
I would like to finish the Java API first. Missing are still the union
operator and the advanced cases in the type extractor.
Am 01.04.2014 08:16 schrieb "Aljoscha Krettek" notifications@github.com:

[2014-04-01 09:09] rmetzger opened #642 "Added automated javadocs for new Java API"
With this commit 33525af0b76e260e4237a1bdb1b217e2d7b2460a travis will automatically create javadocs for the new Java API here: http://stratosphere-javadocs.github.io/

I'm planning to manually add the javadocs of the 0.5 release to the regular website.

[2014-04-01 09:09] #642 closed, assigned to nobody

[2014-04-01 12:42] fhueske opened #644 "Make Combine functions optional for CoGroupFunction."
Currently, the `CoGroupFunction` of the new Java API forces the user to implement a `combineFirst()` and `combineSecond()` method.

We should make this optional, IMHO.

[2014-04-01 13:07] StephanEwen commented on #644
+1!

[2014-04-01 14:31] uce opened #645 "Add .yml as config file extension"
Currently, `GlobalConfiguration` searches the config dir for files ending in XML or YAML.

We should also allow YML as file extension for YAML files as it is quite common.

[2014-04-01 20:06] fhueske opened #648 "Add Projection for Join and Cross Operators"
Currently, two types of joins are supported:
- Default join which emit Tuple2<IN1, IN2> types
- UDF join which calls a UDF for each joining pair and can return any type

We should add a third type of join that allows to project tuple fields.
This will reduce the need boilerplate code when joining tuples and removing redundant key fields.

[2014-04-01 20:41] fhueske commented on #566
Added with #617.

[2014-04-01 20:41] #566 closed, assigned to fhueske

[2014-04-02 07:29] fhueske opened #649 "Add Java 8 to README.md"

[2014-04-02 07:35] fhueske opened #650 "Give user functions access to TypeSerializers for their input types?"
When dealing with mutable objects, users might find it convenient to have access to a `TypeSerializer` to create copies or even de/serialize their objects within a UDF call.
Since the new Java API needs to figure out how to do that anyways, we could provide UDFs with a serializer and make it available to the user through a method like

[code]

What do you think?

[2014-04-02 13:23] twalthr commented on #579
I have rewritten most of the TypeExtractor, but now I'm facing a problem. The TypeExtractor is now able to realize TypeVariables and can e.g. extract the return type of a IdentityMapper mentioned above.

This does work correctly:

[code]

This doesn't work:

[code]

I think this is due to type erasure, right? How should I handle this case exactly?

[2014-04-02 13:54] mleich opened #652 "Runtime Exception when shuffling large Records"
Hi,

I have a job that reads (sometimes) large web documents from HBase and performs entity extraction in those docs.
Between the HBase source and the NER Mapper I randomly shuffle the records to different mapper to compensate for skew in the data.

[code]

Look here for details: https://groups.google.com/forum/#!topic/stratosphere-users/pIw0eyMkLd8

I'm fairly sure the issue is caused by the reco

[2014-04-02 13:57] mleich opened #653 "Add rebalance flag for map/flatmap in new Java API"
It would be nice to have a flag in the new Java API that triggers the input of a mapper to be rebalanced to compensate for skew in the data.

Details can be found here: https://groups.google.com/d/msg/stratosphere-users/pIw0eyMkLd8/lmoCWXw3rz8J

[2014-04-02 14:16] uce commented on #652
Indeed, it seems to be a problem with the network stack.

We reworked large parts of the network stack, but didn't merge it yet. While doing this, I experienced the same problem of missing/skipped envelopes when sending out empty buffers and fixed the problem in the reworked version.

Can you checkout out the my [netstack_rework branch](https://github.com/uce/stratosphere/tree/netstack_rework) and

[2014-04-02 14:23] uce opened #654 "Add TupleBuilder helper class"
If you want to create a `Tuple` data set as follows you have to write some quite verbose code:

[code]

We could add a TupleBuilder along the following lines (this was proposed by @StephanEwen in https://gitter.im/stratosphere/stratosphere):

[code]

[2014-04-02 14:29] uce opened #655 "Rename DataSet.withBroadcastSet(DataSet, String) method"
To broadcast a data set you have to do the following:

[code]

In the operator you call:

[code]

I propose to have both method names consistent, e.g.
- `withBroadcastVariable(DataSet, String)`, or
- `getBroadcastSet(String)`.

[2014-04-02 14:33] uce opened #656 "Add RuntimeContext to open method of functions"
This is minor.

Is it reasonable to add the `RuntimeContext` as an argument to the `open(Configuration)` method of stub functions? Can we do this without breaking stuff?

I would find it nice to replace the possibly repeated calls to `getRuntimeContext().getBroadcastVariable()`, `getRuntimeContext().addAccumulator()`, etc. with something like `context.getBroadcastVariable()`.

[2014-04-02 14:47] fhueske commented on #655
:+1:
I vote for BroadcastSet.

[2014-04-02 15:46] mleich commented on #652
Thanks @uce, good to know it's on the radar.
In the meantime I pushed down some simple filters we had in our program anyways. Turns the large documents that caused to issue should have been pruned anyways.

Time on this specific cluster with this dataset is limited, I'll try to come up with some minimal code snippet so we can reproduce the issue in any other environment.

[2014-04-02 18:21] mleich commented on #652
It turns out that pruning certain large records doesn't fix the problem.
So I tested the branch form @uce, unfortunately, the issue still persists.

[code]

[2014-04-02 18:26] StephanEwen commented on #652
Okay, that's unfortunate. Is it by any chance deterministic, does it always
occur between packets 24 and 27 when you re-run the job?

[2014-04-02 18:43] mleich commented on #652
Not between the same packets, but more or less in the same timeframe (in the first three minutes):

[code]

[2014-04-02 18:53] StephanEwen commented on #656
I am a bit skeptic here. That would definitely break compatibility. It does not add functionality. You can always write `RuntimeContext context = getRuntimeContext()` as the first line in open().

[2014-04-02 19:14] fhueske opened #657 "Add JavaDocs to Function classes"
The function classes such as `MapFunction`, `FlatMapFunction`, `JoinFunction`, etc. do not have any JavaDocs.

[2014-04-02 19:15] rmetzger commented on #657
related https://github.com/stratosphere/stratosphere/issues/642

[2014-04-02 19:16] uce commented on #656
Yes. I was also worried about compatibility.

Sent from my iPhone

[2014-04-02 19:22] uce commented on #652
Will you have time to extract a minimal code snippet with some sample data soon? It's crucial that we fix this.

Btw: How large are the documents/records? I could also try to reproduce the problem.

Sent from my iPhone

[2014-04-02 19:39] mleich commented on #652
I did some more testing
I have 8 nodes and used a DOP of 1, 2, 4, 8, 16, 32.
For dop >= 4 the error occurred within the first 3 minutes.
For dop < 4 I stopped execution after 6-10 minutes, the error didn't occur so far. I assume  that a certain HBase region in the input splits generates a sequence of records that is large enough.

Running the the locally with DOP 4 didn't reproduce the issue.I'm t

[2014-04-02 19:58] uce commented on #652
Ok, thank you!

You could also try to run it locally with the LocalDistributedExecutor (I suggest to look into the LocalDistributedExecutorITCase to see how it's used), which will also use the TCP stack locally instead of just the in-memory channels.

Sent from my iPhone

[2014-04-02 21:51] mleich commented on #652
I managed to make most of my cluster nodes unresponsive, have to wait until the admin fixes them again.
So far my test doesn't reproduce the issue.
Must be some strange mixture of varying records sizes and record inter arrival times.
Going to continue tomorrow.

[2014-04-03 08:09] fhueske opened #658 "Add Group Sorting to CoGroup"
Add group sorting to CoGroup to allow the user to work on sorted input groups in a CoGroup function.
This is analogous to group sorting for Reduce.

[2014-04-03 08:11] fhueske opened #659 "Add Default Cross mode to CrossOperator to work without UDF"
Add a default Cross mode to `CrossOperator` which returns a `DataSet<Tuple2<IN1, IN2>>` similar to default Join mode.

[2014-04-03 09:11] filiphaase commented on #654
I'm starting to work on this issue now, or has anybody already implemented anything?

[2014-04-03 09:18] fhueske commented on #654
I don't think so.
Just assign yourself to the issue and it is yours ;-)

[2014-04-03 12:26] twalthr commented on #579
I implemented it the following way, I hope this is ok?

[code]

[2014-04-03 20:24] fhueske commented on #654
Done in d0aaaa83cd1ec81cfd8d355d157cdf9b05d839fe

[2014-04-03 20:24] #654 closed, assigned to filiphaase

[2014-04-03 20:25] fhueske commented on #602
Issue solved in b032ff3afb10f9e0158e133a8f5c447ad89a90b6
Thanks!

[2014-04-03 20:25] #602 closed, assigned to qmlmoon

[2014-04-04 10:33] rmetzger commented on #621
As far as I am aware, @filiphaase is working on this.

[2014-04-04 10:33] rmetzger commented on #621
Please always write in the issue or open one if you start working on something. We had at least two cases in the past where people were working on the same topic without knowing.

[2014-04-04 10:51] zentol commented on #615
I have started working on this.

[2014-04-04 11:22] filiphaase commented on #621
Okay, thought assignment is enough ;)

[2014-04-04 11:24] fhueske commented on #621
I think either is fine.

[2014-04-04 11:26] rmetzger commented on #621
The problem with assignment is that there will be no email notification.
(And we do not really use the assignment feature).

[2014-04-04 11:27] fhueske commented on #621
@filiphaase please add tests for Union analogous to `stratosphere-tests/src/test/java/eu/stratosphere/test/javaApiOperators/FilterITCase.java` and `stratosphere-tests/src/test/java/eu/stratosphere/test/javaApiOperators/ReduceITCase.java`.

[2014-04-04 11:27] fhueske commented on #621
well, I do. ;-)
And I guess it is exactly for this purpose.

[2014-04-04 19:44] zentol commented on #615
..and ran into an issue.

This is the current state:
there is one generic PythonMapper class

[code]

if you write a plan, you have to create a new class: (which really contains nothing else)

[code]

(using PythonMapper directly results in type errors, this is what i tried first)

then you can (theoretically) do this:

[code]

but now i get this error:

[code]

so, i can't use the generic PythonM

[2014-04-04 19:57] twalthr commented on #615
The current TypeExtractor implementation does not support this complex generic stuctures. I'm currently working on this.

Try my current working branch https://github.com/twalthr/stratosphere/tree/TypeExtractorTests it should fix this issue.

[2014-04-04 20:15] rmetzger commented on #478
With Spark being able to do this and our new Java API suggesting this feature, I was wondering how much effort it would be to implement this. (and how to implement it). The Stratosphere SQL interface will also need a feature like this.

The easiest but probably horribly inefficient way would be using the existing RPC connections.

It would probably make sense to implement this for both ways (sendi

[2014-04-04 22:49] zentol commented on #615
@twalthr thanks! it actually compiles now. but there were 2 issues with your branch i had to fix, ExecutionEnvironment and AvroInputFormat call methods that were formerly in TypeInformation ()and now moved to TypeExtractor) (getForClass() / getForObject())

[2014-04-04 23:03] twalthr commented on #615
ok, thanks for the info. i forgot to refactor my changes in all classes ^^

[2014-04-05 08:30] fhueske commented on #615
Just on a side note. Is it possible to make `PythonMapper` more generic, such that it works on all kinds of input types instead of only Tuples?

[2014-04-05 10:18] zentol commented on #615
@fhueske generally, yes. my plan was to make it work with tuples first, because after than i can encapsulate anything that is not a tuple in a tuple1 and dont have to make substantial changes to any of the underlying classes.

[2014-04-07 04:28] fhueske commented on #648
I am working on Projection for Joins.

[2014-04-07 04:31] fhueske commented on #601
I pushed JavaDocs for DataSet and Grouping. Will continue with the Join classes.

[2014-04-07 09:54] twalthr commented on #579
@StephanEwen In which package should I put a Writable Type? If it should be in the same package than the other types, I need to add a 'hadoop-common' dependency to the Java API...is this intended? If yes, which version?

[2014-04-07 09:56] markus-h opened #662 "JoinFunction with Collector"
The new JoinFunction does not provide a collector for the output. In some cases it could be beneficial to have such an collector as in the previous API. I propose to create an additional function (name to be discusses) that offers a Join with collector (like map <-> flatMap, reduce <-> groupReduce).
This issue came up by the implementation of a PageRank algorithm, where it is currently necessary t

[2014-04-07 11:00] fhueske commented on #662
I would be a bit careful to not overload the API with all possible function combinations.
Could the use-case you described be done by using the DefaultJoin and a subsequent FlatMap?

[2014-04-07 12:15] markus-h commented on #662
Yes that can be done, but it is not very intuitive in my opinion.

[2014-04-07 14:47] uce opened #663 "DOP of sink after all reduce higher than expected"
Consider the following situation: the program DOP is 8; the last transformation is an all reduce (i.e. reduce without a grouping); after this, the result is written out.

How many files should this result in? I was expecting a single file, but found that it will create 8 files.

ATM I haven't checked if the sink still has a higher DOP or if there is a problem with the reduce op.

[2014-04-07 15:22] rmetzger commented on #662
:+1

Sent from my iPhone

On 07.04.2014, at 15:15, markus-h notifications@github.com wrote:

Yes that can be done, but it is not very intuitive in my opinion.

##

Reply to this email directly or view it on
GitHubhttps://github.com/stratosphere/stratosphere/issues/662#issuecomment-39722778
.

[2014-04-07 15:51] StephanEwen commented on #663
At the moment, all nodes will use the default degree-of-parallelism, unless they explicitly state a different one. The AllReduce states a DOP of 1 (by definition). The sinks then have the default DOP again.

I agree that this may be not what you want in that case. Do we need different rules in how to determine the DOP of an operator, or is this simply a special case for sinks?

[2014-04-07 17:54] #645 closed, assigned to nobody

[2014-04-08 07:33] fhueske commented on #663
I'd say this should be a specific rule for DataSinks. A DataSink should adopt the DOP of its preceding task if its DOP was not explicitly defined.
If an AllReduce is followed by a regular operator it might make sense that this operator is run in parallel and we should not change this default behavior.

What do you think?

[2014-04-08 07:41] fhueske commented on #615
Ok, sounds like a good plan!
From my point of view, it would be important that the Tuple1 encapsulation happens under the hood such that the user is not aware of it, i.e., the user instantiates a PythonMapper (and writes the Python function) for the actual data to process and not for a Tuple1 holding the data.

[2014-04-08 08:32] fabiofumarola commented on #610
It is not need to try yourself which is the fast. Have a look at https://github.com/eishay/jvm-serializers/wiki. There is a deeply analysis on jvm serializers performance. My option is that would be better to do overloading on the methods in order to support different serialization frameworks.

[2014-04-08 08:33] twalthr commented on #579
Should `GenericArrayType`s be supported? Theoretically it is possible to extract the TypeInformation from:

[code]

But the `ArrayTypeInfo` currently does not provide the API for that.

[2014-04-08 08:44] alexff91 commented on #610
Thanks for the link @fabiofumarola. I'm trying to do KryoSerializer like AvroSerializer by overloading methods, but I can't find any test which uses AvroSerializer to check if everything is ok.

[2014-04-08 10:58] StephanEwen opened #665 "Remove record examples"
Now that we are having more and more examples for the new Java API, I would like to remove the examples for the record api. Too many (quasi duplicate) examples can be really confusing.

I would suggest to move the record examples to the stratosphere-artifacts repository.

[2014-04-08 10:59] StephanEwen opened #666 "Remove some of the pethora of WordCount examples"
I would suggest to keep the following examples:
- WordCount
- WordCount with collection and accumulators

That should suffice, no?

[2014-04-08 11:01] fhueske commented on #665
In general I am in favor of doing this.
However, we should make sure that we do not cut on test coverage here since many integration tests are based on these examples.

[2014-04-08 11:01] StephanEwen opened #667 "Remove the BroadcastVariableJoin example"
I think that one is not necessary

[2014-04-08 11:05] fhueske commented on #666
:+1:
The `RelQuery` example should also be removed because it is broken.

[2014-04-08 11:23] zentol commented on #615
@fhueske thats exactly how it works (as of 5 minutes ago) for both in- and output.

[2014-04-08 11:31] markus-h opened #668 "API Proposal - NamedDataSets"
@StephanEwen, @aljoscha and me were discussing a further stage / alternative version of the new Java API that we called NamedDataSets. Instead of dealing with specific types that are checked on compile time, users should be able to just use names of fields to operate on. The types would be checked not on compile time but on pre flight time. That would give a feeling more similiar to what SQL is li

[2014-04-08 11:41] uce commented on #668
What just came to my mind: is it possible to have a `NamedDataSet`, where only a subset of the fields is named, e.g. `get3TupleDataSet(env).name(0, "ID")`? The use case would be tuples where you don't reference all fields.

[2014-04-08 11:47] fhueske commented on #615
Great! :smile:

[2014-04-08 11:58] StephanEwen commented on #662
Can we postpone that to after the initial release?

[2014-04-08 11:59] StephanEwen commented on #604
Merged in 253b4cdadacd71247aedf2d647aef34f5d4e0c13

[2014-04-08 11:59] #604 closed, assigned to StephanEwen

[2014-04-08 12:00] StephanEwen commented on #165
I am moving this to version 0.6

[2014-04-08 12:02] StephanEwen commented on #378
We need to wait to resolve the library license issue for this. So I am moving this to version 0.6

[2014-04-08 12:03] StephanEwen commented on #532
Can you post a stacktrace of the taskmanager process that hangs? (using jstack)

That could help us identify the problem...

[2014-04-08 12:19] StephanEwen commented on #655
Here is something I was thinking about for the future:

It is a very common case that the broadcast set/variable is just a single scalar value. It would be nice to support that elegantly as well. We could therefore have:
- `getBroadcastSet(String)` to get a collection of elements
- `getBroadcastVariable(String)` to get a scalar value

[2014-04-08 12:24] markus-h commented on #644
This is done here: #627

[2014-04-08 12:52] vasia commented on #548
Hey! I can work on this, e.g. for Map and FlatMap to start with. Is that OK?

[2014-04-08 13:13] vasia commented on #668
This is indeed a nice functionality to have and also +1 to @uce's comment. In my view, It would be nice to support both behaviors in a dataset, instead of having to explicitly define a NamedDataSet.
Another issue you might want to consider is if (or how) to propagate field names in derived datasets.
e.g. if you fiter a dataset with a field named "ID", will this naming be propagated to the filtered

[2014-04-08 13:17] fhueske commented on #548
Yes, definitely! That would be great! More tests a always very welcome! :smile:

[2014-04-08 14:36] twalthr commented on #655
+1
I also had the case at the Telekom, where only a scalar value sum/average needed to be broadcasted.

[2014-04-08 18:04] uce commented on #655
I agree. But I would propose value instead of variable, i.e. `getBroadcastValue(String)`, which seems more natural to me (you also said "to get a scalar value" and not "scalar variable").

[2014-04-08 19:38] fhueske commented on #655
:+1: for `broadcastSet` and `broadcastValue`

[2014-04-08 19:47] fhueske commented on #668
This would definitely be a great improvement for the 0.6 release!

For now, I think we should focus on the issues that need to be solved for the upcoming 0.5 release rather than starting to implement new features.

This means complementing the current state, improving stability (unit and integration tests) and extending documentation (JavaDocs, example jobs, web site). We are already behind our in

[2014-04-09 11:10] filiphaase commented on #82
I'm going to work on this issue next.
I will start using a Java-objects based-hash map, like proposed by @StephanEwen / @rmetzger.

[2014-04-09 11:38] filiphaase opened #669 "Implement a Filter Operator on Compiler/Runtime Level"
The current implementation of the filter operator is a wrapper around the flat-map operator (see eu.stratosphere.api.java.operators.translation.PlanFilterOperator).

Therefore the compiler handles every filter as a flat-map, meaning that their cardinality estimation for the output size is the same(currently inputSize*5). Since the filter  reduces the number of records, we should fix this issue in

[2014-04-09 19:13] fhueske opened #672 "Make Aggregate transformation use combinable Reduce"
The current implementation of the Aggregate transformation compiles to a non-combinable GroupReduce.

Many aggregation functions can be implemented more efficiently using combinable Reduce operators.

[2014-04-09 20:36] vasia commented on #548
Hey @fhueske, I have pushed my Map operator test [here](https://github.com/vasia/ozone/blob/japi_operator_tests/stratosphere-tests/src/test/java/eu/stratosphere/test/javaApiOperators/MapITCase.java).
Could you take a look and let me know if that's what you had in mind? If yes, I'll continue with the FlatMap operator :) Thanks!

[2014-04-10 00:32] aaronchlam opened #673 "Build Failure - Compilation error in stratosphere-java"
I followed instructions according to the Build from Source instruction in README.md. Encountered a compilation error at stratosphere-java.
Maven output at this link https://gist.github.com/aaronchlam/2633b99ab65a262deec7

[code]

I've checked the pom.xml and the versions match:

[code]

[2014-04-10 06:02] StephanEwen commented on #673
Does this occur reproducibility every time? Looks like a bug in the Java
compiler.

You can probably fix this by updating your Java version to 1.7
Unfortunately, Oracle does not provide patches for 1.6 any more.
Am 10.04.2014 02:32 schrieb "Aaron Lam" notifications@github.com:

[2014-04-10 08:10] fhueske commented on #673
Hi Aaron,

thanks for reporting this issue!
It was identified before (#575) but unfortunately we did not update the pom files. :worried:

Since you asked on the ML for a task to start with Stratosphere, you might want to fix the bug you caught as a first contribution. I will in the mean time update the list of starter tasks and help you to pick on.

Does that sound good to you?

[2014-04-10 08:16] fhueske commented on #575
As found in #673, we need to update configuration of the maven-compile-plugin in the pom file to Java 1.7.

[2014-04-10 08:33] fhueske commented on #589
This issue refers to the untested serializers and comparators in the `stratosphere-core` module in package `eu.stratosphere.api.common.typeutils.base` for the basic data types:
- Boolean
- Byte
- Char
- Double
- Float
- Int
- Long
- Short
- String

The *ValueSerializer classes are for the data types of our old Java API which will be depreciated in the future.

We need thorough unit-tests for all o

[2014-04-10 08:38] fhueske commented on #613
Closed through #632

[2014-04-10 08:38] #613 closed, assigned to nobody

[2014-04-10 08:45] fhueske commented on #505
Fixed in #582

[2014-04-10 08:45] #505 closed, assigned to nobody

[2014-04-10 09:05] StephanEwen commented on #589
I think we should retain the value types of mutable versions of javas
primitives.

[2014-04-10 09:07] StephanEwen commented on #589
Have a look at the string array serializer tests. It uses a serializer test
util that makes it easy to add serializer tests.

[2014-04-10 09:34] fhueske commented on #548
Hi @vasia,
looks very good to me! Thank you!

I'll be working on tests for Join.

[2014-04-10 10:43] markus-h commented on #548
I started working on cogroup

[2014-04-10 11:16] markus-h commented on #548
@fhueske In your wiki page you wrote "check correctness of cogroup a tuple input with key field selector and a custom type input with key extractor"
Currently there is no support for mixing key extractor and field position keys. Should this be implemented?

[2014-04-10 11:42] fhueske commented on #548
Yes, I think we should support that.

[2014-04-10 11:51] markus-h opened #675 "Mixing key extractor and field position keys in new JAPI"
Currently it is only possible to specify either two position keys or two key extractors in Join and CoGroup in the new JAPI.
It would be convenient to also support a mixture of both, for example like:

[code]

[2014-04-10 11:57] markus-h commented on #548
I opened an issue for that: #675

[2014-04-10 12:47] aaronchlam commented on #673
@StephanEwen I reran the build and it gave the same compilation error. See gist  here https://gist.github.com/aaronchlam/379d76443e58a426a8ab#file-stratosphere_compile_failure_rerun
I cloned and ran in a separate directory and ran into the same problem. See gist here https://gist.github.com/aaronchlam/379d76443e58a426a8ab#file-stratosphere_compile_failure_clone_and_build

I'm upgrading my Java now

[2014-04-10 13:35] aaronchlam commented on #673
I've updates to java 7 and updated the pom.xml

[code]

Since this is a duplicate issue, do I put the pull request on this issue or on the issue #575 ?

Also, the README.md's Build from Source Requirements currently states "Java 6 or 7". So I guess this needs to be updated too. Should I open a new issue, modify the REAMDE.md to say just Java 7 as my 2nd contribution?

[2014-04-10 13:38] sscdotopen commented on #673
Is it really necessary to already update to java7 ? If not, I'd vote for
staying at 6, because at lot people haven't updated their clusters yet to
my knowledge.
Am 10.04.2014 15:35 schrieb "Aaron Lam" notifications@github.com:

[2014-04-10 13:43] StephanEwen commented on #589
stratosphere-java/src/main/java/eu/stratosphere/api/java/typeutils/runtime/StringArraySerializer.java
and the associated test.

[2014-04-10 13:45] StephanEwen commented on #673
I agree, I would like to keep the pom file on Java 6. You can still use the
Java 7 compiler that fixed the bug. It will produce Java 6 compatible code
with the old pom.

[2014-04-10 15:31] rmetzger commented on #673
The problem only applies to oracle java 6, not openjdk6.
Also, many users are still at java 6. I guess there is a maven plugin to
check these versions.

Sent from my iPhone

On 10.04.2014, at 16:45, Stephan Ewen notifications@github.com wrote:

I agree, I would like to keep the pom file on Java 6. You can still use the
Java 7 compiler that fixed the bug. It will produce Java 6 compatible code
with

[2014-04-11 10:46] twalthr commented on #579
How should I treat custom objects with generics?

[code]

At the moment I create a GenericTypeInfo with the raw object (without generics). Is this ok? Or should I throw an Exception that this is not suported?

[2014-04-11 12:00] vasia commented on #548
Hey, you can find the test for the FlatMap [here](https://github.com/vasia/ozone/blob/japi_operator_tests/stratosphere-tests/src/test/java/eu/stratosphere/test/javaApiOperators/FlatMapITCase.java). Let me know if you want me to add/change annything, otherwise I'll create a PR for both Map and FlatMap tests. Thanks!

[2014-04-11 13:22] fhueske commented on #563
In commit cf0eff3b1386486ed656aed1c1e8260c0cba5a09 I added JavaDocs to `T ReduceFunction.reduce(T value1, T value2)` function that tell the user that the second input object (`value2`) can be safely returned while the first input object (`value1`) must not be returned (checked by an integration test).
This is not the optimal solution, but I think the best we can do right now.
See also the discussi

[2014-04-11 13:22] #563 closed, assigned to nobody

[2014-04-11 13:35] fhueske commented on #548
Hi @vasia. Looks very good. Please create a PR.
Thank you very much!

[2014-04-11 20:14] StephanEwen commented on #579
I think that is fine from our side. The generic types go right now to Avro.
Can you check if Avro can handle them? If yes, we are good...

[2014-04-13 07:26] qmlmoon commented on #483
Is #482 fixed?

[2014-04-13 21:55] StephanEwen opened #681 "Remove Group Order for incremental Reduce"
I think the group order for the ReduceFunction (not the GroupReduceFunction) makes no sense.

The ReduceITCase also has a test for that which shows how this can really only be exploited with variables outside the function.

I think we should not support/encourage that and define a group order only for the group reduce.

[2014-04-13 21:55] StephanEwen commented on #681
@fhueske Can you comment on this?

[2014-04-13 22:26] StephanEwen opened #682 "TypeExtractor.getForClass(...) should work for subclasses of tuples"
The method currently rejects subclasses of tuple. If the subclass defines all generic parameters, it should be accepted by the type extractor.

[2014-04-13 22:37] twalthr commented on #682
I can do that tomorrow. But than I have to change the API, since a tuple is a `ParameterizedType` not a `Class`.

[2014-04-13 22:56] StephanEwen commented on #682
Which part of the API is affected by that? The method getForClass(...) would still accept a class, right? Are the methods that need to change user facing, or internal?

[2014-04-13 23:00] StephanEwen opened #683 "Type extractor should detect type mismatches"
Currently, the type extractor does not check whether the input type(s) of functions and the TypeInformation of the input data sets match. It would be good to check that, in order to catch cases where programmers omit the generics on the data set and can compile programs where the input type does not fit.

The code below should not result in a successful test.

[code]

[2014-04-14 08:23] twalthr commented on #682
Your right, we could change the argument to `Type`. But actually `getForClass()` is intended for Classes only. One should use `TypeExtractor.createTypeInfo(Type t)` as this supports all types not only Classes.

[2014-04-14 08:25] twalthr commented on #683
I'm working on this.

[2014-04-14 10:05] fhueske opened #685 "Add support for semi-joins"
A semi-join is basically a join filter. One input is "filtering" and the other one is "filtered".

A tuple of the "filtered" input is emitted exactly once if the "filtering" input has one (ore more) tuples with matching join keys. That means that the output of a semi-join has the same type as the "filtered" input and the "filtering" input is completely discarded.

In order to support a semi-join,

[2014-04-14 10:09] fhueske opened #687 "Add support for outer-joins"
There are three types of outer-joins:
- left outer,
- right outer, and
- full outer
  joins.

An outer-join does not "filter" tuples of the outer-side that do not find a matching tuple on the other side. Instead, it is joined with a NULL value.

Supporting outer-joins requires some modifications in the join execution strategies.

[2014-04-14 10:13] fhueske commented on #644
Fixed in 2adafc6a9a59b73b5a0ce0b719db3e7c4d3e6767

[2014-04-14 10:13] #644 closed, assigned to nobody

[2014-04-14 10:19] fhueske commented on #681
I am not so sure about this.
Providing a sorted input to a ReduceFunction can help to have deterministic values for fields that depend on the order of the reduced elements.
Of course you can explicitly look for the minimum or maximum value of such a field in the Reduce function. Not sure if there might exist other usecases.

[2014-04-14 10:59] fhueske opened #689 "Add support to adjust the DOP of a single operator"
Currently, it is not possible to adjust the DOP of a single operator.
We need to add support for this.

[2014-04-14 12:16] markus-h commented on #548
I started to work on cross.

[2014-04-14 13:56] markus-h opened #691 "Cross (and probably Join) not working for custom type objects"
By creating the testcases for the cross operator I noticed that it is currently not possible to use cross on custom type objects.
The reason for that is that the two copy methods in the AvroSerializer are currently not implemented.
The same problem probably applies for the join operator.

I think this issue is quite critical. Testcases for the cross are already created (withoud warranty for correc

[2014-04-14 14:05] markus-h commented on #548
Last but not least: groupReduce

[2014-04-14 14:28] markus-h commented on #588
Is this fixed? I am working on testcases for groupReduce and the descending order seems to be not working. I think this is connected to this issue.

[2014-04-14 14:43] fhueske commented on #588
No, I don't think this is fixed. I have the same issue with a deactivated test in `ReduceITCase`.

[2014-04-14 14:59] twalthr commented on #588
I will do it, tomorrow. ok?

[2014-04-14 18:38] fhueske commented on #681
I thought about this.
You are right. We should remove group sorting for reduce.
Will take it out and adapt documentation and tests.

[2014-04-14 19:35] markus-h commented on #588
:+1:

[2014-04-14 19:37] markus-h commented on #626
Implemented in #630.

[2014-04-14 19:37] #626 closed, assigned to markus-h

[2014-04-14 19:37] StephanEwen commented on #626
Fixed in #630 via 5cc81cdd1f71c740669c7c4284524499d6e8617a

[2014-04-14 19:42] markus-h commented on #662
Yes. Today I had also an discussion with @fhueske whether it would be good to have the possibility to return null values for example in a cross to simulate a join with complex predicate. The way to go for now is to emit empty tuples and filter them out after the cross, since a null return ends up in an exception.

[2014-04-14 22:46] fhueske commented on #681
done with e2818097c8f704f79fa85c5e07b34da86f081857

[2014-04-14 22:46] #681 closed, assigned to fhueske

[2014-04-15 08:27] fhueske commented on #588
I had to remove the GroupSorting test in the `ReduceITCase` because we do no longer support group sorting for the pair-wise `ReduceFunction`.
However, we should check if this solves the problem with GroupSorting (Ascending and Descending) in the `GroupReduceITCase`.

[2014-04-15 08:42] markus-h commented on #588
@twalthr and me are working on it. The simple change mentioned above seems not to work.

[2014-04-15 08:49] fhueske commented on #588
Great! Thanks! :smile:

[2014-04-15 09:00] twalthr opened #694 "Defining TypeInformation with a String"
While implementing test cases for the TypeExtractor, I found it very inconvenient to define TypeInformation manually.

What do you think about a method like:

[code]

I would like to implement it as it would help me at my current task (#683).

[2014-04-15 09:34] markus-h commented on #588
Ok, here are my investigations:
What I do is a `groupBy(1).sortGroup(0,Order.DESCENDING)`. In the compiler post pass the localStrategyComparator of the channel to the reduce is correctly set to [0] LongComparator(asc) and [1] IntComparator(desc). Both comparators are instantiated, but the second one is never used. I set a breakpoint inside the compare() method and it is never called.

So I had a l

[2014-04-15 09:48] fhueske commented on #588
The `BaseTypeComparator`s are bundled in a `TupleComparator` which uses them internally. Depending on the types that the `TupleComparator` needs to check, it might use normalized keys. Whether normalized keys can be used (for a prefix of the sorting key) is checked in the constructor of the `TupleComparator`. For this part, the comparisons are done on binary data and `compare()` will not be called

[2014-04-15 10:12] StephanEwen commented on #694
+1

[2014-04-16 13:19] MoeweX commented on #504
I think we can close this issue, because it was fixed around a month ago... .

[2014-04-16 13:28] StephanEwen commented on #504
Right, closed.

[2014-04-16 13:28] #504 closed, assigned to nobody

[2014-04-16 14:38] fhueske opened #700 "GroupReduce with Key Selection Function does not call combine()"
The `TupleUnwrappingGroupReducer` implements an empty `combine()` which means that a `GroupReduceFunction` that is used on a `Grouping` with `KeySelector` cannot use its combiner.

While digging a bit deeper into the code, I am not sure, if a `GroupReduceFunction` will ever use its combiner (even in `Grouping` with field positions and maybe even when applied without a `Grouping`). The `GroupReduce

[2014-04-16 14:42] fhueske commented on #700
The `GroupReduceITCase` should be extended to check if the combiner of a combinable `GroupReduceFunction` is called for non-grouped, field-pos-grouped, and key-selector-grouped datasets.

[2014-04-16 16:46] StephanEwen commented on #427
Fixed in a1555ce84ae47edb8cd696f672935cbeffd3481b

[2014-04-16 16:46] #427 closed, assigned to qmlmoon

[2014-04-16 16:49] StephanEwen commented on #94
The concurrent modification exception has been fixed.

Sometimes, I/O heavy tasks time out. I guess that is a VM issue, as it happens only sometimes and has never been observed by anyone on his/her local machine. I think we need to accept that some tests time out once in a while.

[2014-04-16 16:49] #94 closed, assigned to nobody

[2014-04-16 16:50] StephanEwen commented on #395
Subsumed by 0.5 release planning.

[2014-04-16 16:50] #395 closed, assigned to rmetzger

[2014-04-16 20:12] fhueske commented on #675
CoGroup has been done and merged into master. Join still needs to be done.

[2014-04-16 20:13] fhueske commented on #649
Done with #699

[2014-04-16 20:13] #649 closed, assigned to nobody

[2014-04-16 20:16] fhueske commented on #691
`CrossITCase` contains a deactivated test case to check for the problem.
Once, this issue is fixed, the test should be activated.

[2014-04-16 20:17] MoeweX commented on #496
Hi, are you still working on it? I think this is a great idea because Stratosphere is a little bit overwhelming at the beginning. If not this issue can be closed ... .

[2014-04-16 20:19] MoeweX commented on #513
Is there still something to do @rmetzger ? Otherwise we can close this issue ... :).

[2014-04-16 20:30] fhueske commented on #548
First of all, @markus-h and @vasia thanks for helping with the tests!

The current state of this issue is as follows:

Only one operator is not covered by integration tests:
- `JoinITCase`: I will take care of it. **DONE**

Unit tests to check for valid parameters similar to `GroupingTest` are missing for:
- Join **DONE**
- CoGroup

A few integration tests need some extensions:
- `CoGroupITCase`:

[2014-04-16 21:42] fhueske commented on #588
I merged #693 which fixes the `compare()` methods of the base type comparators. The comparators need to be checked by tests (#589).

However, #693 does not (fully) solve this issue.

[2014-04-17 04:02] aaronchlam commented on #589
I will be working on *Serializer tests in this issue and then move on to do the *Comparator if someone else does not get to it first.

[2014-04-17 11:06] StephanEwen opened #701 "Change new Java API functions to SAMs"
In order to support a compact syntax with Java 8 Lambdas, we would need to change the types of the functions to Single Abstract Method types (SAMs). Only those can be implemented by Lambdas.

That means that DataSet.map(MapFunction) would accept an interface MapFunction, not the abstract class that we use now. Many UDFs would not inherit form `AbstractFunction` any more. The inheritance from Abstr

[2014-04-17 14:02] MoeweX commented on #288
Hi, is this still something you want to get done? If so, I can put those informations on the website, if someone sends them to me @rmetzger @aalexandrov

[2014-04-17 15:00] markus-h commented on #496
I had a discussion on this issue with some other developers a few days ago and we agreed that it would be really nice to have a more or less complete development overview of the system for new developers. There will be some efforts torwards documentation during the next weeks, so perhaps we should keep this issue open for now.

[2014-04-17 15:15] MoeweX commented on #496
I would appreciate something like this.

[2014-04-17 21:30] fhueske commented on #496
Yes, I definitely agree that we need (better) documentation of the projects internals to help new contributors to get familiar with the codebase.

I think we need a separate section on the website for this purpose.
What do you think?

[2014-04-17 21:40] fhueske opened #703 "Use complete element as join key."
In some situations such as semi-joins it could make sense to use a complete element as join key.
Currently this can be done using a key-selector function, but we could offer a shortcut for that.

This is not an urgent issue, but might be helpful.

[2014-04-18 05:31] JavierJia opened #704 "Spargel can not set convergenceCriterion"
The Spargle iteration packed the `DeltaIteration` as a private field.
There is no way to set `getAggregators().registerAggregationConvergenceCriterion` to indicate to stop the iterations.

[2014-04-18 09:20] fhueske opened #705 "Check if TPC-H resources can be added"
Some of our tests and examples are derived from the TPC-H.
Although we do not import source code or libraries, we should check if it is OK with the TPC-H / Apache license to add SQL DDL or data generated by the TPC-H generator to our distribution.

[2014-04-18 09:51] StephanEwen commented on #496
I would suggest to use the github wiki for that. Also easier to extend and
update. We can link to it from the website.

[2014-04-18 11:03] fhueske commented on #496
Yes, I agree. The Github wiki is the right place to put this information.

[2014-04-18 11:06] uce commented on #496
+1

It's also possible to generate the website docs from the GitHub wiki. I know that netty.io is doing something along those lines. I will look into it later.

Sent from my iPhone

[2014-04-18 18:24] #513 closed, assigned to nobody

[2014-04-22 07:10] rmetzger opened #708 "Test Stratosphere with Apache Hadoop 2.4"
Hadoop has released version 2.4, we need to test Stratosphere regarding YARN and HDFS with that version.

http://hortonworks.com/blog/apache-hadoop-2-4-0-released/

[2014-04-22 07:53] markus-h commented on #700
I started working on this issue.

[2014-04-22 12:33] zentol commented on #615
@twalthr I have a question for you. Currently I have to write this to create and apply a python map function:

[code]

it would be neat if this would be sufficient:

[code]

but this throws

[code]

This would be another option:

[code]

Do you have an idea how i get one of the two latter options to work?

[2014-04-22 12:42] fhueske opened #710 "Aggregate transformation works only with FieldPositionKeys"
In the new Java API, Aggregate transformations can only be applied to DataSets that are grouped using field positions and to ungrouped DataSets.
DataSets grouped with KeySelector functions are not supported.

Since Aggregations only work on Tuple DataSets which can be grouped using the more convenient field positions, this might be OK.
Or should we support KeySelector groupings as well for complet

[2014-04-22 12:47] qmlmoon commented on #648
I'm starting working on Projection for Cross

[2014-04-22 13:05] fhueske commented on #689
Working on this one.

[2014-04-22 13:39] rmetzger commented on #288
Lets wait until we move our website to apache. I think @uce plans to create an even more amazing website for that.

[2014-04-22 14:21] MoeweX opened #711 "Webclient with Apache Software License"
Our current webclient does not use the Apache Software License.
I will try to rebuild it, @rmetzger  found an alternative to http://js-graph-it.sourceforge.net, which is called Twitter Ambrose.

[2014-04-22 14:35] markus-h commented on #710
In my opinion it is enough to support aggregrations with tuple fields and field positions only. I cannot think of an usecase where key selectors on tuples are more convenient.

[2014-04-22 14:42] rmetzger commented on #711
Hi,

I asked in the discussion forum of `js-graph-it` if they are willing to publish the code under ASL 2.0

[2014-04-22 15:03] markus-h commented on #700
Is there runtime support for combine in combination with an all-reduce?

[2014-04-22 15:47] markus-h opened #712 "CoGroup does not call combineFirst/Second"
I tried to write a test for combinable cogroup (see  #548). I extended the new API to set the correct flag for combinableFirst/Seconed so that it is correctly passed to the optimizer, but the combine methods are not called. I tried to right click in eclipse and "open call hierarchy" on the combine methods (usually that gives me the place where the method is called) but it stayed empty. Is there ru

[2014-04-22 15:58] StephanEwen commented on #700
The old Java API had that. Once we add the Combinable annotation/flag to
the new API, it should work for both the grouped reduce and the all-reduce.

[2014-04-22 16:20] fhueske commented on #648
Projection for Join was added in PR #707

[2014-04-22 16:28] markus-h commented on #700
I am working on this that is why I'm asking. I set the flag, but as far as I can see only the AllReduceDriver is used and it does not call the combine method.
After post pass the source has driver strategy NONE and the reduce has ALL_GROUP. For the pact contract combinable is true. The combine method in my udf is not called.

[2014-04-22 16:40] StephanEwen commented on #712
There is currently no runtime or optimizer support for CoGroup combining.
The functioned are placeholders for now.

[2014-04-22 16:41] MoeweX commented on #711
After some research I am really not sure whether Ambrose (https://github.com/twitter/ambrose) is what we thought it would be because it is not a "JavaScript" tool that we can use to build graphs according to our means. From my point of view it looks like it is a tool written in Java which is able to produce nice graphs out of pig/hive/cascading runtimes. As far as I know we need something that is

[2014-04-22 16:41] StephanEwen commented on #700
The optimizer plan does not inject a combine node?

[2014-04-22 16:44] markus-h commented on #548
I think we don't need tests for combinable cogroup, because it is not supported yet. See #712

[2014-04-22 16:45] markus-h commented on #712
Ok, I didn't know that.

[2014-04-22 16:46] markus-h commented on #700
As far as I can see: no.

[2014-04-22 20:37] fhueske commented on #712
I think in this case we should remove / deactivate the combine methods in the `CoGroupFunction` class.

[2014-04-22 20:50] fhueske commented on #711
Hi @JonathanH5,
we've already collected some other graph visualization libraries in #296.
However, I don't think somebody took a closer look at them to figure out whether they can be used or not. Also licensing was not checked.

[2014-04-22 20:51] rmetzger commented on #711
Can't we just use the JavaScript part of ambrose?

[2014-04-23 09:08] rmetzger opened #714 "Allow executing Cascading/Scalding jobs with Stratosphere"
A GSoC student expressed interest in implementing support for running Cascading/Scalding jobs with Stratosphere: https://groups.google.com/forum/#!topic/stratosphere-dev/IrXwMuhq2mM

This issue is for planning and discussing the feature. We will split the implementation into a set of smaller issues once we identified these.

[2014-04-23 11:16] markus-h commented on #607
This issue can be closed.
See #643 merged in 74ce8d3

[2014-04-23 22:19] fhueske commented on #675
Done with #684 and #715.

[2014-04-23 22:20] #675 closed, assigned to nobody

[2014-04-24 09:05] #607 closed, assigned to StephanEwen

[2014-04-24 21:42] StephanEwen commented on #711
Yes, I think that ambrose is not out of teh box what we want, but we can have a look at how they use D3 to draw that DAG data flows. The remainder, we probably need to write ourselves.

[2014-04-24 21:43] StephanEwen commented on #710
It would be nice, but I think this has rather low priority. We should give a good error message, though.

[2014-04-24 21:46] fhueske commented on #710
I added an error msg in #717

[2014-04-24 21:47] StephanEwen commented on #673
I think that we can close this issue.

This is clearly a java compiler bug in a no longer maintained version. We support Java 6 runtimes, but we support not all versions of Java 6 compilers. That affects only developers that compile the system themselves: They need to upgrade their local JDK

[2014-04-24 21:47] #673 closed, assigned to nobody

[2014-04-24 21:49] StephanEwen commented on #665
We could also move them to stratosphere-tests, to keep using them as end-to-end integration tests. That way we loose no test coverage and keep a slim and clean examples project.

[2014-04-24 21:50] StephanEwen commented on #621
Fixed in e29cba57f0a03776287fea41046c21e6951b7fe0

[2014-04-24 21:50] #621 closed, assigned to filiphaase

[2014-04-24 21:52] StephanEwen commented on #575
Duplicate of #673

I am closing this for the same reason

This is clearly a java compiler bug in a no longer maintained Java version. We still support Java 6 runtimes, but we support not all versions of Java 6 compilers. That affects only developers that compile the system themselves: They need to upgrade their local JDK.

[2014-04-24 21:52] #575 closed, assigned to nobody

[2014-04-25 06:23] fhueske commented on #665
:+1:
In the long run, we should try to remove some overlap in the integration tests. A lot of them are very similar, do not add any benefit, but increase build time by several minutes.
But for now, moving is fine with me.

[2014-04-25 07:48] fhueske commented on #548
Alright, we made some good progress (thanks @markus-h !)
The current status of this issues is as follows:

Unit tests to check for valid parameters similar to `GroupingTest` are missing for:
- CoGroup

There are also some tests that need to be extended but which require some other issues to be solve first:
- `GroupReduceITCase`: descending group sort waits for a fix of #588
- `GroupReduceITCase`:

[2014-04-25 07:53] fhueske commented on #691
Moving from Avro to [Kryo](https://github.com/EsotericSoftware/kryo) might be the way to go here.
Kryo's website states:

_"Kryo is a fast and efficient object graph serialization framework for Java. The goals of the project are speed, efficiency, and an easy to use API. The project is useful any time objects need to be persisted, whether to a file, database, or over the network. Kryo can also per

[2014-04-25 07:55] fhueske commented on #648
@qmlmoon added Projection for Cross in PR #719

[2014-04-25 09:28] rmetzger opened #720 "Forbid catching exceptions only with "e.printStackTrace()" using Checkstyle"
Once https://github.com/stratosphere/stratosphere/issues/596 is merged, I would like to forbid statements like:

[code]

[2014-04-25 09:44] StephanEwen commented on #720
+1 !

Actually, +5 at least!

[2014-04-25 09:54] uce commented on #720
+1

[2014-04-25 10:02] fhueske commented on #720
:+1:

[2014-04-25 11:00] MoeweX commented on #711
Hi,
I played around with the ambrose stuff in the last 3 days. I think that it could be possible for us to adept it to our needs, but it would be a very "hacked" solution. We would have to use a lot of features in a completely different way to what they were build for... .
That is why I recommend to search for alternatives... .
If you agree, I am going to have a closer look to D3 @StephanEwen  and

[2014-04-25 11:27] StephanEwen commented on #711
I think D3 looks promising, JSPlumb as well. As I said, you could look at
ambrose to see how to they use D3 to draw the DAG flows. Look at ambrose as
a tutorial, not something to use as it is.

[2014-04-25 11:32] fhueske commented on #689
Solved in PR #717

[2014-04-25 12:57] zentol opened #722 "Example - Triangles - DataType indice error"
The defined indices in the EdgeWithDegrees class don't match the indizes used in the constructor. If you were to group over V2, you would use the first degree instead of the second vertex if the edge was build with the constructor.
https://github.com/stratosphere/stratosphere/blob/master/stratosphere-examples/stratosphere-java-examples/src/main/java/eu/stratosphere/example/java/triangles/util/Edge

[2014-04-25 13:14] fhueske commented on #722
Oh, yes, you're right!
The constructor isn't used in the code, that's probably why the bug did not cause the tests to fail.
We could simply remove it...

[2014-04-25 14:55] rmetzger opened #724 "./bin/stratosphere client is unable to submit record-API jobs"
Because it calls the main method instead of getPlan().

[2014-04-25 15:00] rmetzger commented on #724
The error has probably been introduced by https://github.com/stratosphere/stratosphere/commit/ca41f6aec9d87d57c08aae38a9516754683cbfc7

[code]

[2014-04-25 15:04] rmetzger commented on #724
The issue is invalid, sorry.

[2014-04-25 15:04] #724 closed, assigned to nobody

[2014-04-25 15:45] StephanEwen commented on #724
What was the source of the problem then? I am curious...

[2014-04-25 15:48] rmetzger commented on #724
Well, its unbelievably stupid.
I forgot to implement the `Program` interface for the main class.

[2014-04-25 15:50] StephanEwen commented on #724
Happens ;-)

[2014-04-25 16:51] #455 closed, assigned to qmlmoon

[2014-04-28 08:16] markus-h commented on #672
I had a look at this issue. I think the AggregationFunction interface is not very good suited for the combinable reduce. A naive implementation of the folding reduce function is very ugly with the current interface and for example the average is not possible at all, because it not possible to set the count value.
I think for a nice implementation we would need two different AggregationFunction int

[2014-04-28 08:20] StephanEwen commented on #672
The current interface works only for simple distributive aggregation
functions. Algebraic ones, like avg, don't work. It would require to
teilhaben the value to be averaged to be replaced by two values. I would be
happy if someone extended the design.

[2014-04-28 08:23] fhueske commented on #672
@uce and I had also some ideas to change the aggregate transformation.
Should we setup a wiki page to sketch the design and discuss it?

[2014-04-28 08:27] StephanEwen commented on #672
Good Idea

[2014-04-28 12:39] MoeweX commented on #711
I have good news... .

I think I found the perfect solution for our problem. Dagre-D3 is a JS-Library under the MIT-License, which uses Dagre and D3 to create the graphs. The cool thing is that it takes care of the layout! So that way you only specify how big the nodes are and which edges exist but not the absolut positions. Here is the link: https://github.com/cpettitt/dagre-d3

[2014-04-28 12:42] rmetzger commented on #711
Very cool!
I have already code to convert the JSON output of Stratosphere into a dot (graphviz) graph: https://github.com/rmetzger/pact-plan-to-dot
Its written in python but should be sufficient to test if the dagre is able to render a graph.

[2014-04-28 13:57] filiphaase commented on #588
Hey I investigated this problem a little bit today. And as I see it the Ascending sort is also not working properly. If I change this:

[code]

in the CollectionDataSets, testcase 3 of  GroupReduceITCase(which is testing sort-ascending) also breaks, while the result should be independent from the first value of the tuple.

I also found the source of the bug: I think the Comparators are reading dat

[2014-04-28 14:26] vasia opened #731 "Provide a way to parametrize aggregators and convergence criteria"
Currently, there is no way to pass parameters to an aggregator or a convergence criterion. @StephanEwen has suggested to add support for this by changing the code for aggregators and convergence criterion to take an object, rather than a class, i.e. instead of
`iteration.registerAggregator("my aggregator", Customaggregator.class)`
do something like this:
`iteration.registerAggregator("my aggregato

[2014-04-28 15:23] zentol commented on #731
I don't see how the type (and number) of params are relevant for this issue.

[2014-04-28 15:32] StephanEwen commented on #731
I agree, Params can actually be arbitary. I would make it a regular java
class, and an extension of IOReadableWritable for the start, to deal with
serialization. The later, we can think about getting rid of the
IOReadbaleWritable.

[2014-04-28 15:39] vasia commented on #731
Thanks, that's what I meant by type. I was actually thinking of Configuration, but I can just make an extension of IOReadableWritable, sure.

[2014-04-28 15:42] StephanEwen commented on #731
Sorry, what I said was confusing. I would not make params an extension of
IOReadableWritable. The same way as MapFunction or JoinFunction can have a
constructors with arbitrary parameters, the Aggregator can have a
constructor with arbitrary parameters.

[2014-04-28 16:24] StephanEwen commented on #650
We could do that, although I am not sure that we should encourage people to mess with these utilities. It may still prove useful, though.

There are some points right now, where no serializers exist, such as between chained functions.

[2014-04-28 16:25] StephanEwen commented on #606
Provided by #677

[2014-04-28 16:25] #606 closed, assigned to skunert

[2014-04-28 16:25] StephanEwen commented on #579
Done in b3e405f22cd0101e111c8ede8d04621d8ada33d3

[2014-04-28 16:25] #579 closed, assigned to twalthr

[2014-04-28 16:26] StephanEwen commented on #235
Fixed in #465

[2014-04-28 16:26] #235 closed, assigned to nobody

[2014-04-28 16:27] vasia commented on #731
OK, I think I understand now.
I assumed that since there are several common aggregators that have standard implementations, one would want a common way of instantiating them, in order to avoid defining multiple constructors or sub-classing.
For example, several programs will use the already provided LongSumAggregator, but if they need a different number of parameters, they would either have to add

[2014-04-28 16:27] StephanEwen commented on #722
Fix provided by #722

[2014-04-28 16:27] #722 closed, assigned to nobody

[2014-04-28 16:36] zentol commented on #731
yes you do make sense. but consider this: if someone uses the LongSumAggregator, but wants to use additional parameters to do _something different_, he has to create a subclass anyway to add that new behaviour.

[2014-04-28 20:11] rmetzger opened #733 "YARN session client should use "fs.hdfs.hadoopconf" if property set in conf"

[2014-04-28 20:17] rmetzger opened #734 "Integrate web job client into JobManager web interface"
- with a switch to disable the feature in the configuration (for security reasons)

This is also related to YARN since it is not really possible to use the web job client in a YARN deployment.

[2014-04-28 20:28] rmetzger opened #735 "Set the user for accessing HDFS to the same user that submitted the job."
This is very similar to this issue: https://github.com/stratosphere/stratosphere/issues/568.

We do not cover the case that the YARN daemons are running with user A, user B starts the YARN session and user C is starting a job.

We should implement this using "faked identities" soon and later add kerberos-based security.

[2014-04-28 20:31] rmetzger opened #736 "Fix temporary directory behavior of YARN and .yarn-jobmanager permissions for different users."
yarn-session: root
strato client: not-root.

[2014-04-28 21:02] StephanEwen commented on #667
Done in dd6694e5660ff6317661fb4250c8f871cf02aa2c

[2014-04-28 21:02] #667 closed, assigned to nobody

[2014-04-29 08:50] markus-h commented on #700
I spent some more time on this issue. I think the compiler sees that the DataSource is directly locally connected to the all-reduce UDF function, therefore it would not be of any use to plug in a combiner locally. So in my opinion it is not a bug, but a feature.

[2014-04-29 08:58] fhueske commented on #700
Can you try to increase the DOP (> 1) of the DataSource? Then, the data must be shuffled and a Combiner would be important to reduce the shipped data volume.

[2014-04-29 09:07] markus-h commented on #704
Hi Jianfeng!
Sorry for the late answer. I think full access to the wrapped DeltaIteration would not be very nice. What do you think: Would it be enough to provide the SpargelIteration with an own getAggregators method?

[2014-04-29 09:22] markus-h commented on #700
Even with DOP > 1 the data is not shipped through the network and therefor the shipping strategy remains FORWARD and everything is passed locally. Since we have an all-reduce there is no real shuffling as long as we stay on one node.
I think in a cluster environment it should work.

[2014-04-29 09:30] StephanEwen commented on #700
Can you try it with a LocalDistributedExecutor? Then you should see
shipping behavior.

[2014-04-29 09:30] rmetzger commented on #735
Implementing this feature requires some changes in the system. We need to maintain DistributedFileSystem instances for each user in the FileSystems class. (the users submitting jobs might change, and different users might run concurrent jobs).

Therefore, we need to make the system aware of the user who's running a job. The information needs to be accessible in the optimizer (for the statistics co

[2014-04-29 09:32] StephanEwen commented on #735
Can you access the user via System.getProperty() ?

There are different Distributed file system instances for different
authorities (namenodes). Can we use the same mechanism to have different
instances for different users?

[2014-04-29 09:51] StephanEwen opened #738 "Implement comparators for Value types"

[2014-04-29 10:03] rmetzger commented on #735
Hi,
yes, I think `System.getProperty()` will return me the user name. But I can not use this method to get the username for the user who submitted the job.

I already looked into the `FSKey` class and added a username. So that would be how I maintain one instance of each combination of type + namenode + user.

[2014-04-29 10:06] StephanEwen commented on #735
Can we always attach the user name to the jobconf? (In the
JobGraphGenerator)

[2014-04-29 10:26] markus-h commented on #700
I have some trouble to get the testcase to run with LocalDistributedExecutor. I tried a naive
`LocalDistributedExecutor lde = new LocalDistributedExecutor();
                lde.start(2);
                lde.run(env.createProgramPlan());`
but I get different kind of errors.

[2014-04-29 10:44] StephanEwen commented on #700
Can you post those?

[2014-04-29 12:28] MoeweX commented on #711
Hi,
I want to share my first results. I used the "megatest" job from stratosphere, which tests nearly all functions as far as I know ... .
Here the way it looks like with the old interface:
![alt](https://cloud.githubusercontent.com/assets/5738978/2828737/43f5ed9e-cf99-11e3-85d5-bf761558d43a.png)
Here the way it looks like with the first version of the new interface (so far it only supports zoomin

[2014-04-29 13:06] fhueske commented on #711
This looks great!
I would focus on adding the missing information (task names, local + shipping strategies, highlighting of iterations, clickable nodes to show details below (or in a box when hovering over a node))  to see how this works out with the new framework.
Once we are sure, that the framework gives us all we need (or we can get it somehow to work) we can integrate it.

[2014-04-29 13:07] fhueske commented on #711
Btw, there is a Union node in the center of the graph without an outgoing edge. Can you check if that's correct?

[2014-04-29 13:44] MoeweX commented on #711
Hi,

the union is correct. No other node has it as a predecessor. I do not know why, but the Json is from @rmetzger . Btw the union at the bottom does not have any predecessors as well ...

[2014-04-29 14:53] rmetzger commented on #711
Wow. This looks really great! Amazing work.
I would say we should focus to get this into the main code ASAP since the old code is not ASF compatible.
I therefore agree with Fabian that we should display the optimizer / runtime information in the boxes. Also, a nice way of visualizing iterations is important.

[2014-04-29 16:10] rmetzger opened #739 "IllegalMonitorStateException in TaskManager."
The code has been introduced by commit 2cbb93a436eaa78591677ca5ac3886f94471f485.

Snip:

[code]

The exception

[code]

I think you can only call `.wait()` inside a synchronized block?

[2014-04-29 18:10] StephanEwen commented on #739
Right. Hmmm, I thought I tested it with start-cluster, but apparently I did not. This is pretty critical.

[2014-04-29 18:41] JavierJia commented on #704
Hi @markus-h
I think it should be enough for this specific issue, that I want to stop the iteration automatically than let it run until the max-iterations.

Actually in deeper code analyse, sometimes the `DeltaIteration` would not be enough for Graph computing. For example, if we want to implement a `Single source shortest path` algorithm, the `Delta` of computing node is increasing, rather than d

[2014-04-29 18:47] StephanEwen commented on #704
Hi!

The sssp algorithm works actually well with delta iterstions in the
following way: The work set (candidate paths/steps) is increasing for most
of the time, but the delta (the number of nodes that finds a new shortest
path) will go down eventually.

But: An existing limitation is that Delta iterations cannot remove elements
from the solution. You could still tombstone elements, though.

Greeti

[2014-04-30 08:05] fhueske commented on #711
Hmm, in that case, I suspect that the JSON plan dump is somehow corrupt.
Every node (except data sinks) should have at least one outgoing edge.

[2014-04-30 08:56] rmetzger commented on #711
There might also be an issue with my python script

[2014-04-30 08:56] rmetzger commented on #739
Fixed in #740

[2014-04-30 08:56] #739 closed, assigned to nobody

[2014-04-30 08:57] #733 closed, assigned to nobody

[2014-04-30 08:57] #736 closed, assigned to rmetzger

[2014-04-30 09:56] #689 closed, assigned to fhueske

[2014-04-30 09:57] rmetzger commented on #682
Merged.

[2014-04-30 09:57] #682 closed, assigned to twalthr

[2014-04-30 09:58] rmetzger commented on #547
Tests for comparators are missing.

[2014-04-30 10:36] MoeweX commented on #711
I did not use your python script, @rmetzger . So I guess the stratosphere method which creates the JSON is broken ... .

[2014-04-30 11:35] #488 closed, assigned to rmetzger

[2014-04-30 11:36] MoeweX commented on #711
You can now test webclient as a standalone application:
https://github.com/JonathanH5/StratosphereWebclient

The integration with the old infrastructure was successful and now I am going to concentrate on the visualization of more informations.

I keep it up to date and will upload all improvements there... .

[2014-04-30 12:05] kfleischmann opened #742 "inputsplits organization"
Hey guys. there is a issue concerning the organization of the input splits. As far as i understood there is a blocking part  (log-server?) inside the code.
So
1. what is actually blocking?
2. what code is blocking?

[2014-04-30 12:20] StephanEwen commented on #742
Sorry, I don't quite understand what the issue is.

Can you give us a bit more context? ;-)

[2014-04-30 12:22] StephanEwen commented on #711
You can have a look at the json dump generator and see whether there is
something broken there.

[2014-04-30 12:28] kfleischmann commented on #742
i have not that much context. My information right now is that there is an issue in that direction.

Calling "InputSplitAssigner::getNextInputSplit(final ExecutionVertex vertex) " results in a communication with an "log-server" which organizes the splitting for the tasks. So this "log-Server" communication could be a bottleneck if many tasks are running with many splits.

[2014-04-30 15:33] rmetzger commented on #742
In a typical HDFS setup, there is a central NameNode that maintains the locations of a file's blocks. I don't know anything about a "log-server".
You might want to do some experiments with a HDFS setup to see if there is really a bottleneck.
I think it would be great if you could take a look into that.

[2014-04-30 15:48] StephanEwen commented on #742
On the NameNode, the InputSplitAssigner is responsible for the assignment.

I think in the current design, there has to be a single point of assignment
in some way, but it can be improved to make it as little a bottleneck as
possible.

[2014-04-30 18:44] fhueske commented on #700
The original issue (combine for key-selector reduce operators) has been resolved.

@markus-h Can you open an issue for combine support for all-reduce transformations?

[2014-04-30 18:44] #700 closed, assigned to nobody

[2014-04-30 18:45] fhueske commented on #648
Has been added in #707 and #719

[2014-04-30 18:45] #648 closed, assigned to fhueske

[2014-04-30 18:45] fhueske commented on #659
Was added with #727

[2014-04-30 18:45] #659 closed, assigned to nobody

[2014-04-30 19:41] zentol opened #744 "Implement tests für Basic- and TupleComparators"
@filiphaase and myself are working on this.

Regarding the TupleComparator, how exactly is this one specified?
some specific things i wonder about whether they are intended:

a)
if you look at the following code taken from the compare method:

[code]

it is evident that the _values_ of the keypositions arent really used, but only the _number_ of positions. this means that the comparison only works

[2014-04-30 21:43] fhueske commented on #742
I think the code you are referring to is:
- [InputSplitManager](https://github.com/stratosphere/stratosphere/blob/0572f4f3983ea4bd6b859f1dba65c7e0252ca10d/stratosphere-runtime/src/main/java/eu/stratosphere/nephele/jobmanager/splitassigner/InputSplitManager.java)
- [InputSplitTracker](https://github.com/stratosphere/stratosphere/blob/0572f4f3983ea4bd6b859f1dba65c7e0252ca10d/stratosphere-runtime/src

[2014-05-01 08:41] rmetzger commented on #691
I'm looking into this issue.

[2014-05-01 10:02] StephanEwen commented on #691
I actually have a kryo serializer running (more or less. still need to test how it behaves in corner cases). Will merge it today hopefully.

[2014-05-01 10:04] rmetzger commented on #691
So its an alternative implementation to https://github.com/stratosphere/stratosphere/pull/706 ?
If yes, tell the student to avoid any additional work on his side.

[2014-05-01 10:05] StephanEwen commented on #691
It is baesd on his pull request, but i fixed it up similarly as you did. I
still want to investigate how it behaves with generic classes and so. I
think I will make a mix of his, your, and my pull request ;-)

On Thu, May 1, 2014 at 12:04 PM, Robert Metzger notifications@github.comwrote:

[2014-05-01 10:17] StephanEwen commented on #744
Okay, not using the field positions is clearly a bug ;-)

I do not understand why we can hit an EOFException?

I asume one problem here is that we need to deserialize the tuple if we
want to access the individual fields.

[2014-05-01 10:32] fhueske commented on #548
Just realized, we do not have any tests for the Aggregate operator...
We need unit tests to check for correct parameters and integration tests for result correctness.

[2014-05-01 10:37] StephanEwen commented on #548
agree

[2014-05-01 11:05] fhueske commented on #672
I added a wiki page for the [API design of the aggregate operator ](https://github.com/stratosphere/stratosphere/wiki/Design-of-Aggregate-Operator).
The page is not about how the aggregate is executed but this can (and should) be added.

Please review, comment, extend.

[2014-05-01 12:23] zentol commented on #744
could we pass a comparator for every field, regardless of whether or not it is used as a key (or pass _any_ kind of information covering the type of all fields)? we could then adjust the offsets accordingly and access the fields without deserializing.

[2014-05-01 13:03] zentol commented on #744
clarification: only if a String is used as a key an EOFException occurs.

[2014-05-01 13:33] zentol commented on #744
lets say you have two tuple2<Integer,Integer>. if the tuplecomparator returns a result on the first field, is it supposed to skip the remaining bytes of the second integer? (because it doesn't, which breaks my testcases atm)

[2014-05-02 07:10] twalthr commented on #579
Actually this issue is not done completely as

"Please add also Types that implement Hadoop's Writable interface. They should have a special serializer that calls the write() and readFields() method."

is still missing. I will open a separate issue for this.

[2014-05-02 07:15] twalthr opened #747 "Implement a special type for Hadoop Writables"
As mentioned in #579:

Please add also Types that implement Hadoop's Writable interface. They should have a special serializer that calls the write() and readFields() method.

A discussion about the necessary dependencies can be found on the mailing list:
https://groups.google.com/forum/#!searchin/stratosphere-dev/writable/stratosphere-dev/OybICx1IxLM/SeLUp2wH0N4J

[2014-05-02 07:26] rmetzger commented on #669
Can we move this issue to the 0.6 release?

[2014-05-02 07:26] rmetzger commented on #708
First experiments indicate that our YARN client is not working with Hadoop 2.4

[2014-05-02 08:36] StephanEwen commented on #744
Yes, I see. That is specific to the way the tests happen, I guess.

The sorter code that runs this part seeks the views to the beginning of the
record before starting the comparisons. Can you do something similar?

[2014-05-02 11:15] zentol commented on #744
okay, if thats how it works then i will adjust the tests accordingly :)

[2014-05-02 11:21] zentol opened #748 "inconsistent read/write in StringValue"
the static writeString() method in StringValue adds an offset of 1 to differentiate between null and "". while the readString() method accounts for this, the non-static read()/write() methods do not.

this currently causes issues in the StringComparator, which uses writeString() to serialize but read() to deserialize, causing it to read an additional character.

is there a reason why these methods

[2014-05-02 12:14] StephanEwen commented on #748
The reason is that you can statically read a null. But if you have already
a StringValue instance which deserializes itself  from the stream, it is
naturally not null.

[2014-05-02 12:16] StephanEwen commented on #744
If you compare on the second field of the tuple, the sorter will seek to
the beginning of the tuple as well. That means you may need to deserialize
the leading fields, unfortunately.

[2014-05-02 13:00] fhueske commented on #589
With  #745, the serializers for all nine primitive types are covered with unit tests.
Thanks @aaronchlam !

Tests for comparators are addressed by issue #744

[2014-05-02 13:00] #589 closed, assigned to nobody

[2014-05-02 13:03] fhueske commented on #669
I think it would be good to have at least the selectivity estimation error fixed for the release.

[2014-05-02 13:52] twalthr commented on #747
Actually most `Writables` are AtomicTypes, right? Would the following lines of code ok or should I not treat them as AtomicTypes?

[code]

[2014-05-02 14:27] StephanEwen commented on #747
Yes, we see writables as atomic types.

But please check that when creating the comparator from the type
information, such that you get the error early.

[2014-05-02 16:12] zentol commented on #748
would it be a problem to add the offsets to the non static methods?

[2014-05-02 16:14] fhueske commented on #694
Solved in #698

[2014-05-02 16:14] #694 closed, assigned to nobody

[2014-05-02 17:39] StephanEwen commented on #748
I think you can add the offsets to the non static method as well

[2014-05-03 13:34] filiphaase commented on #669
I think the selectivity estimation error is fixed in the PR from @markus-h  (https://github.com/stratosphere/stratosphere/pull/716), he's using (inputSize \* 0.5) there.

His implementation is still using the FLAT_MAP-driver, but I don't see a problem with that.
So I think we could close the issue when his PR is merged.

[2014-05-04 18:18] rmetzger commented on #720
[code]

[2014-05-05 07:53] markus-h commented on #738
I think  #741 is quite important for a good implementation.

[2014-05-05 08:25] rmetzger opened #753 "Make hbase module independent of CDH"
Our `hbase` module depends on hbase version `0.94.2-cdh4.2.1` which is only available in CDH's maven repository.
The reason why we use this version is the following: There is no upstream release for HBase Version 0.94.2 with Hadoop 2.2.0. The CDH version is the only hadoop2 compatible release of HBase 0.94. (Upstream) releases of HBase after 0.94 use the same mechanism we use for hadoop1/hadoop2 d

[2014-05-05 08:31] rmetzger commented on #596
Resolved by https://github.com/stratosphere/stratosphere/pull/751

[2014-05-05 08:31] #596 closed, assigned to nobody

[2014-05-06 07:57] twalthr commented on #611
I'm currently working on a Hadoop Input Format support for the new Java API.

But I have some issues regarding the necessary dependencies. In contrast to #747, I can not simply copy an InputFormat interface, I would then also need to copy JobContext and lots of classes more. So should I add a Hadoop mapred dependency to maven for the stratosphere-java project?

[2014-05-06 08:09] rmetzger commented on #611
When going for the "add mapred dependency" approach, make sure that your code works with Hadoop 1.x and Hadoop 2.x versions.

Adding support for `GenericDataSource` to the new Java API would avoid the new dependency, right?
But there are a few more things to consider. A GSoC student is soon going to start working on the Hadoop compatibility layer. Depending on how we want to integrate that into th

[2014-05-06 08:09] markus-h opened #757 "Multiple Aggregations producing wrong result"
I started writing the integration tests for the aggregate operator and have some trouble with my first example:

[code]

What I expect is the SUM and MAX of all fields. I get always the correct sum but for the MAX the result is changing, sometimes producing 4 or 5 instead of the correct 6.
Has somebody an idea where the problem could lie?

[2014-05-06 08:56] StephanEwen commented on #757
You Aggregate over an aggregate.

DataSet.aggregare(a).aggregate(b) = b(a(dataset)).

DataSet.aggreage(a).and(b) = a,b(dataset)
Am 06.05.2014 10:09 schrieb "markus-h" notifications@github.com:

[2014-05-06 08:59] markus-h commented on #757
Oh I see, I overlooked the and operator.

[2014-05-06 08:59] #757 closed, assigned to nobody

[2014-05-06 09:28] twalthr opened #760 "Introduce a DataSet.distinct() operator"
I think it would be more readable and user-friendly to have a DataSet.distinct() operator instead of manually use e.g. for Tuple5:

[code]

[2014-05-06 10:18] StephanEwen commented on #757
I guess we need good comments or docs for that,

[2014-05-06 10:56] zentol opened #761 "Inconsistent Boolean comparison"
The BooleanComparator.compare() works the opposite way of Boolean/BooleanValue.compareTo().

Consider the following piece of code:

[code]

This prints

[code]

intended?

[2014-05-06 11:01] markus-h commented on #760
Good idea, I think it would be nice to have a distinct operator

[2014-05-06 11:25] zentol commented on #761
the basicTypeComparator.compareToReference() is also odd.

[code]

shouldnt it compare its own reference with the passed one instead of the other way around?

[2014-05-06 11:36] markus-h commented on #761
I think everything should be consistent to the Boolean implementation of Java, so BooleanComparator and the basicTypeComparator seems to be wrong for me.

[2014-05-06 11:44] rmetzger opened #763 "Add support for reading .deflate files in Stratosphere"
I'm going to implement support for files in the `.deflate` format into the `FileInputFormat`.

[2014-05-06 12:31] StephanEwen commented on #761
The TypeComparators kind of swap the order of arguments internally. I think
all of the TypeComparators do it like that (but please verify that
statement).

If you want to change it, you would need to adjust every place where it is
invoked.

[2014-05-06 12:45] zentol commented on #761
only the boolean comparator works like this.
exempt from the int comparator (i did check them all):

[code]

in contrast the boolean one:

[code]

[2014-05-06 15:26] StephanEwen commented on #761
Okay, then it seems like a bug there. So, do the other comparators return a
consistent result in your sample test?

[2014-05-06 17:20] vasia commented on #731
Hi,
while working on this issue, I noticed that there are no `getAggregators()`, `registerAggregator()` and `registerAggregationConvergenceCriterion()` methods in `DeltaIterativeDataSet`. Shall I implement these?

[2014-05-06 18:27] StephanEwen commented on #663
This suggestion was implemented in 44ccde6503469391bca67cc0c71aedca13435f3a

[2014-05-06 18:27] #663 closed, assigned to nobody

[2014-05-06 18:28] StephanEwen commented on #172
The visualization has been moved to stratosphere-experimental and will no longer be maintained. It is also license incompatible with the Apache License.

[2014-05-06 18:28] #172 closed, assigned to nobody

[2014-05-06 18:31] StephanEwen commented on #483
Fixed by #688 in a2650c5749d1c3eba40364123d397fdafbcf30e4

[2014-05-06 18:31] #483 closed, assigned to nobody

[2014-05-06 18:32] StephanEwen commented on #190
Fixed in dcda680f89dd055800dda89c6bd3b16567d4f35c

[2014-05-06 18:32] #190 closed, assigned to nobody

[2014-05-07 09:21] StephanEwen commented on #731
Good idea, please do so!

[2014-05-07 09:58] StephanEwen commented on #747
Can you keep this in the addons/hadoop-compatibility package? I think it would be nice if the stratosphere-java project had no hadoop dependency.

[2014-05-07 10:05] rmetzger opened #766 "Web interface progress monitoring for DataSources and DataSinks with splits"
The progress monitoring for DataSources and DataSinks can be improved by including the number of processed vs total splits into the progress.

[2014-05-07 10:53] uce commented on #766
+1

[2014-05-07 11:45] twalthr opened #767 "Implement extractInputFormatTypes() for TypeExtractor"
TypeExtractor.extractInputFormatTypes() is not implemented yet.

[2014-05-07 11:48] rmetzger commented on #704
Hey @JavierJia,
we merged the "getAggregators()" into the code.

[2014-05-07 11:48] #704 closed, assigned to nobody

[2014-05-07 11:59] StephanEwen commented on #766
+1

[2014-05-07 14:29] vasia commented on #731
Hey,
there exists a check in `NepheleJobGraphGenerator` that throws the following error if a custom convergence criterion is set in a DeltaIteration: "Cannot use custom convergence criterion with workset iteration. Workset iterations have implicit convergence criterion where workset is empty."
What is the logic behind this and should I remove it?

[2014-05-07 15:50] StephanEwen commented on #731
The Delta Iteration terminates when the workset is empty. That is its
Termination Criterion and it comes with an Aggregator, which counts the
number of elements in the workset.

If you would set another TerminationCriterion, you would override that
"workset empty" termination criterion.

It makes sense to have more Aggregators available in the delta iterations.
In order to set an additional Termin

[2014-05-07 17:48] twalthr opened #769 "BulkIteration does not work correctly if not all records are consumed"
This is a old but still existing bug. A similar bug already occurred with DeltaIteration.

A test case that shows the bug is following in a minute.

[2014-05-07 17:57] vasia commented on #731
OK, so should I just implement the `registerAggregator()` method in the DeltaIterativeDataSet or also the `getAggregators()`? The 2nd one will also allow un-registering aggregators and get all registered aggregators, but also has a `registerAggregationConvergenceCriterion()` method (which will give an exception).
I will open an issue for additional termination criteria in delta iteration, for futu

[2014-05-07 18:57] StephanEwen commented on #731
Sounds good!

[2014-05-07 20:23] fhueske commented on #766
:+1:

[2014-05-07 22:35] StephanEwen opened #772 "Add tests for the type comparators"
We need tests for the comparators (all subclasses of `TypeComparator`)
- Basic types
- Value types
- CopyableValue types
- Generic types

[2014-05-07 22:44] StephanEwen commented on #769
Fixed in d56565c31e3cf4af8888e77a4de9e0b0dfa08dea

[2014-05-07 22:44] #769 closed, assigned to nobody

[2014-05-08 10:42] twalthr opened #773 "Document WordCount example"
The word count examples in `eu.stratosphere.example.java.wordcount` neither have description nor comments.

Additionally `.split("\\W");` should better be `.split("\\W+");` for better results.

[2014-05-08 10:47] StephanEwen commented on #773
Can you make a pull request for this?

[2014-05-08 10:50] twalthr commented on #773
Yes I will do it later. You can assign this issue to me.

[2014-05-08 11:26] StephanEwen commented on #767
I will take a quick stab at this.

[2014-05-08 11:29] twalthr commented on #615
This is a very common issue with the TypeExtractor, but we can not prevent this Exception. Due to type erasure, Java throws all generic parameters away, if you use:

[code]

The parameters stay only present if you extend from it:

[code]

If you would use a
`class PythonIdentityMapper<IN> extends MapFunction<IN,IN>`
then the TypeExtractor recognizes the same variable (name) and use the Input type

[2014-05-08 11:32] twalthr commented on #767
I also can do it since I need it later this afternoon for the Hadoop Input Format.

[2014-05-08 11:33] StephanEwen commented on #615
We always need to determine the "result" type of a function. There is an
interface called `ResultTypeQueryable` which you can implement. It would
allow the API to simply ask the function what the result type is.

The interface is queried currently only for input formats, but we can add
this to all other functions as well.

[2014-05-08 11:34] StephanEwen commented on #767
Sounds good.

[2014-05-08 11:35] StephanEwen commented on #748
Fixed in d2a5178014470591c155989158d3d8629a6ee0ef

[2014-05-08 11:35] #748 closed, assigned to nobody

[2014-05-08 11:37] StephanEwen commented on #705
I have sent a mail to the TPC asking for clearance to ship sample data. Their response was that they are updating their terms in the next months to accommodate for such things, but it will take a while.
For now, it is safer to not ship these files.

[2014-05-08 11:37] StephanEwen commented on #705
Files are removed.

[2014-05-08 16:21] zentol commented on #761
resolved in #764

[2014-05-08 18:25] twalthr commented on #683
This issue can be closed.

[2014-05-08 18:45] #683 closed, assigned to twalthr

[2014-05-09 10:59] aalexandrov commented on #655
:+1: for `broadcastSet` and `broadcastScalar`

[2014-05-09 11:23] #763 closed, assigned to nobody

[2014-05-09 13:52] MoeweX commented on #711
Hi,

I have an improved version ready. You can check it our here:
http://jonathanh5.github.io/StratosphereWebclient/tools/planVisualizer.html

Please give me some feedback :).

[2014-05-09 13:55] rmetzger commented on #711
Great work!
For the others, you can use this sample JSON if you want to try out the tool

[code]

[2014-05-09 14:07] zentol commented on #711
boxes overlap with the right border (the black line) for me.

i feel like the height of the boxes should be reduced (as in reducing all that empty space between lines)

[2014-05-09 14:24] rmetzger opened #781 "Expose WriteMode in JAPI."
I just got a mail from a user, asking how to set the Write mode for csv output.
Currently, you have to do the following:

[code]

Do you think we should add another variant of `writeAsCsv()` with the write mode?

[2014-05-10 13:52] StephanEwen commented on #711
Very nice, in general, good work!

Here are a few suggestions and remaining issues:

1) Have you tried it with iterative algorithms? How are they represented?

2) I would like it if the labels on the edges were a bit larger and maybe
framed as well. They are really crucial information and look a bit lost
right now.

3) For the operator boxes: Include the parallelism and the driver strategy,
but no

[2014-05-10 13:52] StephanEwen commented on #781
Should be easy to add. Do you (or the user) want to make a pull request for
this?

[2014-05-10 13:56] rmetzger commented on #781
Sure, I can add it. (The question was, if we want this in general or not. But I think that somebody asked answers already the question.

[2014-05-10 14:01] StephanEwen commented on #711
Also, in relationship to the box size, the fonts could be bigger.

[2014-05-10 19:11] StephanEwen opened #783 "Move the group order from the Grouping"
Currently, the `Grouping` class (used for grouped reduce, reduceGroup, aggregate, coGroup) has the option to specify a group order. Half of the operators need to throw an exception when encountering it because they do not support group order.

I would suggest to move this either to the operators that support group order (`reduceGroup`, `coGroup`) or to a subclass of `Grouping` that is created for

[2014-05-10 19:12] StephanEwen commented on #783
I would vote to make a subclass of `Grouping`.

[2014-05-10 19:52] fhueske commented on #783
:+1:

[2014-05-11 15:41] StephanEwen opened #785 "Add Chained operators for AllReduce and AllGroupReduce"
Because the operators `AllReduce` and `AllGroupReduce` are used both for the pre-reduce (combiner side) and the final reduce, they would greatly benefit from a chained version.

[2014-05-11 16:16] StephanEwen opened #786 "Checkstyle marks imports as unused when only referred to in javadocs"
You can import a class to use its short name in javadocs links. Checkstyle fails with an unused import error then.

[2014-05-11 16:17] rmetzger commented on #786
This pull request contains a fix for that: https://github.com/stratosphere/stratosphere/pull/779/files#diff-15

[2014-05-11 16:43] StephanEwen commented on #786
Ah, nice! Will merge as soon as the patch to divide reduce and groupReduce is done.

[2014-05-11 17:28] vasia opened #787 "Custom termination criterion in delta iteration"
Currently,  delta iterations terminate when the workset is empty and it is not possible to define a custom convergence criterion. We might want to consider allowing multiple criteria, so that convergence will happen once one of them is satisfied.

[2014-05-12 01:01] StephanEwen opened #788 "Enable combiner for Reduce with Broadcast Variable"
If the `ReduceFunction` uses a broadcast variable, we can currently not execute the combiner side of the function. The reason is that the combiner is inserted dynamically and has no access to the broadcast variable.

[2014-05-12 06:55] markus-h commented on #738
This issue can be closed. Implemented in #754 merged in 808ae18f66614ba4bc81c2f3007f913e04ce7b80 and 01583434ea14d1a73b538d72940cc5c77e009153.

[2014-05-12 07:38] markus-h commented on #783
Good idea! Just a small remark: I think coGroup is at the moment not implemented through Grouping but as a first class function at DataSet. So reduceGroup is currently the only operator accessed through Grouping that can be sorted.

[2014-05-12 08:16] fhueske commented on #783
Very good point. We should also support sorted groups for CoGroup.
I would make this a separate issue though.

[2014-05-12 11:30] fhueske commented on #711
Very nice draft!

I agree with Stephan, that we should try to better use the space:
- reduce the "wasted" space in the boxes
  - reduce box margins
  - remove the labels: "name", "value", "parallelism", "Driver Strategy"
  - increase the font sizes
- increase font size of edge labels
- can you make the full box clickable (instead of only the operator type)
- Is there a way to increase the arrow he

[2014-05-12 12:20] #773 closed, assigned to twalthr

[2014-05-12 12:21] #738 closed, assigned to nobody

[2014-05-12 12:31] fhueske commented on #548
If we did not miss anything the only things left to close this issue are to enable some tests:
- `GroupReduceITCase`: descending group sort waits for a fix of #588 (@zentol: this is the test for sorting that I mentioned previously)
- `GroupReduceITCase`: combinable GroupReduce function due to #700

[2014-05-12 13:34] markus-h opened #791 "Windows line endings not working in CSVInputFormat"
A user reported this issue, who is running stratosphere under windows. After converting the input file to UNIX line endings it worked.

[2014-05-12 13:37] rmetzger commented on #791
I'm currently preparing a pull request to ease debugging these issues.

[2014-05-12 13:57] markus-h commented on #791
I had a look at this issue and for me CsvInputFormat seems to work as intended. The problem probably is, that the DEFAULT_LINE_DELIMITER is set to "\n", but files created under windows are using "\r\n".
I am not sure how to deal with this. We could set the default delimiter to System.getProperty("line.separator"); but then for example files checkout out from git would not be running by default bec

[2014-05-12 14:32] rmetzger commented on #791
I think its okay to accept both IF the user is Windows.

[2014-05-12 15:26] StephanEwen commented on #791
We had a fix for this. Did it get lost during some merge?

[2014-05-12 15:29] rmetzger commented on #791
Thats the pull request: https://github.com/stratosphere/stratosphere/pull/582

[2014-05-12 15:30] StephanEwen commented on #791
Have a look at #582

[2014-05-12 16:51] markus-h opened #795 "Possibly extend the cost model of the optimizer"
I have started the task to integrate the AbstractCachedBuildSideMatchDriver into the optimizer. The driver caches one side of the join and thereby can accellerate iterations if there are joins with static (non-changing) datasets inside the iteration.

The current way of calculating the cost of operators inside of iterations is basically to multiply them by the number of iterations. I would like to

[2014-05-12 23:29] StephanEwen opened #796 "Add documentation about input formats and TypeQueryable to website"

[2014-05-13 09:08] StephanEwen opened #799 "Change GC flags for JVM"
Due to reported problems with perm gen space, I suggest to switch the JVM flags from:
- `-XX:+UseParNewGC`
  to
- `-XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=256m`

[2014-05-13 09:12] markus-h commented on #795
I had a deeper look at this issue and now I think adjusting the cost model is the wrong way to go.
I will proceed with exchanging regular joins with cached ones inside of iterations when applicable.

[2014-05-13 09:16] StephanEwen commented on #795
For the cost calculation, you need to incorporate whether the build side is
on the dynamic or static path.

[2014-05-13 11:55] markus-h commented on #795
Ok, so if I do understand it correctly I exchange the driver in the NepheleJobGraphGenerator if one side of the match inside of an iteration is on a static path.

[2014-05-13 19:40] jvf opened #802 "javadoc"
Was created accidentally. It seems I can not delete anymore...

[2014-05-13 20:54] fhueske commented on #802
no prob. ;-)

[2014-05-13 20:54] #802 closed, assigned to nobody

[2014-05-13 21:48] StephanEwen opened #804 "Add PairComparatorTests for TuplePairComparators"

[2014-05-13 23:13] fhueske opened #805 "Early check of output write permissions"
FileDataSinks start to write output data once the first tuple arrives.
If a DataSink follows a non-pipelined expensive data flow, the sink might fail due to missing write permissions after a significant portion of the data flow has been processed.

It would be good to check the write permissions early (before or at job start) and to immediately cause the job to fail in case of missing write permis

[2014-05-14 03:32] StephanEwen commented on #786
Solved in 340ebde779d5028dfdf38b2bed40566d57985335

[2014-05-14 03:32] #786 closed, assigned to nobody

[2014-05-14 03:33] StephanEwen commented on #772
- BasicType is done
- Tuple Type is done

Pending:
- Value / Generic (should be equivalent)

[2014-05-14 07:52] rmetzger commented on #802
As a side note: If you were looking for some javadocs, I have setup a website contains the JavaDocs for the latest SNAPSHOT version: http://stratosphere-javadocs.github.io/
We have not made it fully public yet since we are still working on the docs. Note that the website only contains JavaDocs for the user-facing APIs

[2014-05-14 08:16] jvf commented on #802
Awesome, thats what I was looking for!

[2014-05-14 10:27] zentol commented on #804
Ive started working on this.

[2014-05-14 10:35] #761 closed, assigned to nobody

[2014-05-14 11:22] zentol commented on #548
case 12 (combinable) in GroupReduceITCase fails for me.

[code]

i reran it and got

[code]

[2014-05-14 11:40] #744 closed, assigned to nobody

[2014-05-14 11:46] zentol commented on #666
This issue can be closed.
78a4283e64
45d9b36e5f

[2014-05-14 13:25] #666 closed, assigned to nobody

[2014-05-14 13:56] StephanEwen opened #807 "Add JavaDoc Comments to ExecutionEnvironment"
I am on that one...

[2014-05-14 15:58] StephanEwen commented on #691
Fixed with the introducetion of Kryo in the generic serializers/comparators

[2014-05-14 15:58] #691 closed, assigned to nobody

[2014-05-14 15:58] StephanEwen commented on #804
Solved in #806

[2014-05-14 15:58] #804 closed, assigned to nobody

[2014-05-14 16:06] StephanEwen commented on #799
I am adding them to the startup options

[2014-05-14 16:09] StephanEwen opened #810 "Add JAR packaging for new Java API examples"
Currently, all JAR examples that are packaged are from the old Record API

[2014-05-14 16:10] StephanEwen opened #811 "Fix version warnign for Maven JAR plugin in root pom.xml"
I am getting a lot of warnings that the Maven JAR plugin added to fix the "version in Uberjar" problem has no version.

[2014-05-14 16:19] fhueske commented on #810
Will take care of this.

[2014-05-14 16:24] rmetzger commented on #811
Yes, I forgot to add the version to the jar plugin. I'll fix this with my
next pull request.

On Wed, May 14, 2014 at 6:10 PM, Stephan Ewen notifications@github.comwrote:

##

Robert Metzger, Kontakt: metzgerr@web.de, Mobil: 0171/7424461

[2014-05-14 16:24] StephanEwen commented on #811
Cool, thanks

[2014-05-14 16:51] uce opened #812 "ValueComparator neglects ascending order flag"
There are no test cases for `ValueComparator`.

Both `compare` and `compareToReference` in `ValueComparator` and `CopyableValueComparator` neglect the ascending comparison flag before returning the comparison result.

[2014-05-14 18:00] zentol commented on #812
I'm on it.

[2014-05-14 18:03] StephanEwen commented on #799
Fixed in 81522149f834512bd1209d3dd24c503363274cf2

[2014-05-14 18:03] #799 closed, assigned to nobody

[2014-05-14 18:03] StephanEwen commented on #807
Part one in 6728ec52ccf8d77225282438056fa46c364709c8

[2014-05-14 19:40] StephanEwen opened #815 "Improve partitioning hash function"
Right now, the partitioner (`OutputEmitter`) used directly the hash code produced by the partitioning elements. Types like `Integer` have very weak hash functions, so the hash partitioning is very susceptible to skew there.

[2014-05-14 19:51] fhueske opened #816 "Update JavaDocs of ReduceFunction"
The JavaDocs are outdated and need to be updated (returning of mutable objects).

[2014-05-15 07:40] rmetzger commented on #810
It seems that, due to commit c41569eb01ac9ab83e17554a50ccdc7e4ac49327 (I guess), the example jar files are empty.

[2014-05-15 08:34] fhueske commented on #811
Fixed with PR #797

[2014-05-15 08:34] #811 closed, assigned to rmetzger

[2014-05-15 08:34] fhueske commented on #781
Fixed with PR #797

[2014-05-15 08:34] #781 closed, assigned to nobody

[2014-05-15 09:38] fhueske commented on #810
Fixed in 465a6a4df6416b3010f8a11c3113b2d06c2e9d44

[2014-05-15 09:38] #810 closed, assigned to nobody

[2014-05-15 09:40] fhueske commented on #665
Record examples were moved in c41569eb01ac9ab83e17554a50ccdc7e4ac49327

[2014-05-15 09:40] #665 closed, assigned to nobody

[2014-05-15 09:47] fhueske commented on #548
The input data sets in `CollectionDataSets` are randomly shuffled. So the input looks a bit different everytime the test is executed.
However, the result should be identical (maybe in different order).

So there's still a bug somewhere.

[2014-05-15 10:08] fhueske commented on #538
We cleaned up the Java examples in 4d0f6123626092b9aae388a893a1775fba39bc78.
Scala examples should be similarly adapted.

[2014-05-15 10:57] zentol commented on #548
For some reason the combine method is never called.

[2014-05-15 11:22] StephanEwen commented on #548
I am looking into it...

[2014-05-15 11:29] StephanEwen commented on #548
Makes sense that the combiner is not called:

Source (DOP1, because collection) -> AllGRoupReduce(DOP1)

Makes no sense to inject a combiner.

[2014-05-15 12:08] fhueske commented on #783
Fixed with #790

[2014-05-15 12:08] #783 closed, assigned to nobody

[2014-05-15 12:10] fhueske opened #818 "Add support for group sorting for CoGroup"
GroupReduce features sorted input groups.
We should add the same functionality also for CoGroup.

[2014-05-15 12:39] fhueske commented on #772
Added generic comparator tests with 1b6a3acfb7d1991ad8e76425e31792d38403b136 and value comparator tests with 4cdc6335910fcf0612585e8d787b7980641285c0.

[2014-05-15 12:39] #772 closed, assigned to nobody

[2014-05-15 12:40] fhueske commented on #547
Comparator tests are done #772.

[2014-05-15 12:42] fhueske commented on #547
Are we also done with the serializer tests?

[2014-05-15 12:56] fhueske commented on #816
Will do this

[2014-05-15 13:14] fhueske commented on #816
Done with 38ce861ff20935a18c9f29f9bba3195a7c404a7d

[2014-05-15 13:14] #816 closed, assigned to nobody

[2014-05-15 13:21] fhueske commented on #818
Duplicate of #658

[2014-05-15 13:21] #818 closed, assigned to nobody

[2014-05-15 13:23] fhueske commented on #608
Done, I believe.

[2014-05-15 13:23] #608 closed, assigned to nobody

[2014-05-15 13:36] StephanEwen commented on #547
Yep, they are done.

[2014-05-15 14:04] rmetzger opened #819 "OutOfMemoryError from TaskManager is causing hard to understand exceptions and blocking JobManager"
While doing some pre 0.5 release testing, I saw this exception twice in the JobManager's log.

It occured during the setup of a new job.

(Here is the full log: https://gist.github.com/rmetzger/1a9ed4080eedb4e0c8f1)
It also seems that the task cancellation of the job does not work. The jobmanager does not print any output for more than 15 minutes now. But I think this is a known issue. Pressing "C

[2014-05-15 14:16] fhueske commented on #547
OK, let's close it.

[2014-05-15 14:16] #547 closed, assigned to nobody

[2014-05-15 14:18] StephanEwen commented on #819
The RPC service is in many ways the Achilles heel of the system.

We could add a UncaughtExceptionHandler to all RPC threads that causes all
jobs to immediately fail when an RPC request fails.

[2014-05-15 14:51] AHeise opened #820 "Support for unconnected data flows"
Currently the compiler fails when given a plan with separate data flows.

[code]

However, I do not see a good conceptual reason to not support such data flows. Are there any technical issues?

To elaborate a bit on the issue: I have a higher level operator that may or may not produce separated data flows. In a current workaround I have to pipe the union of all data flows to a dummy sink to avoid

[2014-05-15 15:58] StephanEwen commented on #807
Fixed in 1fff513721895f8cf8fe4f2ddad5fa2af64898f7

[2014-05-15 15:58] #807 closed, assigned to nobody

[2014-05-15 16:04] fhueske commented on #712
I'll take care of this

[2014-05-15 16:05] fhueske commented on #747
Done with PR #776.

[2014-05-15 16:05] #747 closed, assigned to twalthr

[2014-05-15 16:58] StephanEwen commented on #819
@rmetzger Will you work on a fix for that?

[2014-05-15 17:00] rmetzger commented on #819
Its unlikely that I find time for it today, but tomorrow should be fine.

On Thu, May 15, 2014 at 6:58 PM, Stephan Ewen notifications@github.comwrote:

##

Robert Metzger, Kontakt: metzgerr@web.de, Mobil: 0171/7424461

[2014-05-15 20:32] StephanEwen opened #823 "Improve Semantic Annotations"
The semantic annotations need to be improved a bit.

Calling the semantic annotation methods on the UDF operators overrides previous settings.

The extraction of the properties from the annotations overrides the ones that were set manually.

The test coverage also needs to be improved a bit. There is no code that checks whether the annotations are actually added to the plan, and whether the optimi

[2014-05-15 20:35] StephanEwen commented on #812
Fixed in #814

[2014-05-15 20:35] #812 closed, assigned to nobody

[2014-05-15 20:36] StephanEwen commented on #767
Fixed in #776

[2014-05-15 20:36] #767 closed, assigned to twalthr

[2014-05-15 21:37] fhueske opened #824 "Update example documentation on website"
With 4d0f6123626092b9aae388a893a1775fba39bc78 the Java examples have been refactored.

We need to update the [example documentation](http://stratosphere.eu/docs/0.5/programming_guides/examples.html) on the website for this.
We should also link from the [API documentation](http://stratosphere.eu/docs/0.5/programming_guides/java.html) to examples that show the API features in action.

[2014-05-15 21:42] fhueske commented on #712
`combineFirst()` and `combineSecond()` have been removed in this commit a6d188cda8ba527db6e0f3cee57df85821be53af.

[2014-05-15 21:42] #712 closed, assigned to nobody

[2014-05-15 21:46] fhueske commented on #548
Finally, we have tests for all operators in place. Thanks @markus-h, @vasia and @StephanEwen!

[2014-05-15 21:46] #548 closed, assigned to nobody

[2014-05-15 21:47] fhueske commented on #588
@zentol @StephanEwen I believe this issue has been fix, right?

[2014-05-15 22:01] zentol commented on #588
i think so. The deactivated test in GroupReduceITCase (13 i think...) succeeded when i tried it. I also created two simple tests that check whether ascending/descending flag is passed from a plan to the comparators, both work.

[2014-05-15 22:11] fhueske commented on #588
Great! @StephanEwen activated the last two tests in `GroupReduceITCase`.
I'm closing this issues.

[2014-05-15 22:11] #588 closed, assigned to StephanEwen

[2014-05-16 06:24] rmetzger commented on #652
Just FYI, I am able to reproduce this error on the 26 node DIMA cluster with the large test job. (However, it takes around 4 hours)

[code]

[2014-05-16 10:27] fhueske opened #826 "Adapt CollectionInputFormat to work with non-serializable objects"
Right now, the `CollectionInputFormat` requires the objects to be serializable because the `CollectionInputFormat` object is shipped using standard Java serialization.
Since Stratosphere's Java API does not in general require data types to be serializable, we should try to get around that for the `CollectionInputFormat` as well.

Therefore, we should change the `CollectionInputFormat` such that th

[2014-05-16 13:25] fhueske commented on #601
I looked over the JavaDocs of DataSet, Operators, and ExecutionEnvironment and completed them.
This issue should be resolved by that. Note there are still JavaDocs missing for the Function classes see #657.

[2014-05-16 13:25] #601 closed, assigned to nobody

[2014-05-16 13:29] fhueske commented on #669
#716 was merged.

[2014-05-16 13:29] #669 closed, assigned to nobody

[2014-05-16 13:32] StephanEwen commented on #611
I would like to move this to the 0.5.1 milestone. Any objections?

[2014-05-16 13:47] fhueske commented on #611
nope, done...

[2014-05-16 14:22] vasia commented on #815
I'll start working on this.
The idea so far is to use something similar to [MurmurHash](https://en.wikipedia.org/wiki/MurmurHash). I also found that there exists a [Guava implementation for the MurmurHash](https://code.google.com/p/guava-libraries/source/browse/guava/src/com/google/common/hash/Murmur3_32HashFunction.java).
Let me know if you have other ideas/suggestions.

[2014-05-16 14:26] twalthr commented on #611
Meanwhile I also think its better to do so. I'm currently adapting the Hadoop Compatibility to also support `org.apache.hadoop.mapreduce` not only `org.apache.hadoop.mapreduce`.

[2014-05-16 14:30] StephanEwen commented on #815
The hash implementations are all expecting a byte buffer and hash over the
bytes. Can we use an implementation tailored towards an int (4 bytes) ?

Alternatives could be:
- http://en.wikipedia.org/wiki/Jenkins_hash_function
- http://burtleburtle.net/bob/hash/index.html

We took the HashTable hash function from the Jenkins suite. We need to make
sure that we use a different here.

[2014-05-16 16:00] vasia commented on #815
Murmur loops over 4-byte chunks of the input, so I guess we can use it performing just one loop on the int value. Otherwise, I see you have used the "4-byte integer hash, full avalanche" from the website you gave, for the HashTable. This seems to be the best among the ones described there and then there is the one that uses 7 shifts (doesn't really have a name).

I can try both, but I'm not really

[2014-05-17 10:45] fhueske opened #827 "Add Java example program with KeySelectors"
We need a Java example program that shows the use of `KeySelector` functions.
Alternatively we could modify an existing program to do this.

The new example program should follow the general layout of the other example programs, i.e., run without parameters on default data, have the same code structure, etc.

[2014-05-17 10:46] fhueske opened #828 "Add Java example program with Accumulators"
We need a Java example program that shows the use of Accumulators.

The new example program should follow the general layout of the other example programs, i.e., run without parameters on default data, have the same code structure, etc.

[2014-05-17 11:39] fhueske commented on #824
Was moved to the [website issue tracker](https://github.com/stratosphere/stratosphere.github.io/issues/43)

[2014-05-17 11:39] #824 closed, assigned to nobody

[2014-05-17 11:42] fhueske opened #829 "Several changes of the website blocking 0.5 release"
Including:
- [Issue 34](https://github.com/stratosphere/stratosphere.github.io/issues/34)
- [Issue 40](https://github.com/stratosphere/stratosphere.github.io/issues/40)
- [Issue 41](https://github.com/stratosphere/stratosphere.github.io/issues/41)
- [Issue 42](https://github.com/stratosphere/stratosphere.github.io/issues/42)
- [Issue 43](https://github.com/stratosphere/stratosphere.github.io/issue

[2014-05-17 12:45] fhueske opened #830 "Web job submission client errors when trying to run KMeans"
I tried the run the quickstart KMeans example with the new example program and followed the instructions on the [website](http://stratosphere.eu/quickstart/example.html).

I had to adapt the Python script and the data generation command, but when I tried to submit the job on the webclient, I got this error message:

[code]

[2014-05-17 13:05] fhueske opened #831 "Add DOP option to CLI and web submission client"
We want to go away from specifying the DOP within the program itself but rather doing this on an execution environment / client level.
Therefore, the example programs have been implemented without specifying a DOP.

However, I am not aware of the possibility to set the DOP of an individual program (there might be config parameters for that). Please let me know, if this feature exists.

I think we

[2014-05-18 15:09] MoeweX commented on #711
Hi, thank you all for your feedback.

I changed the following:
    \* removed labels „name“ and „value“
    \* framed labels from edges and increased size
    \* decreased the paddings of all panels
    \* increased size of edge path (arrow)
    \* integrated the interface in stratosphere -> graphs are previewed, but here is still work to do because the old interface used a very old jquery version

[2014-05-18 15:43] StephanEwen commented on #711
Looks better. There are iterations in the JSON file. Just search for
iteration / delta / workset. The Part of the flow that is inside the
iteration is in iteration's JSON node array "step:function".

Please have a look at how the old Web Visualizer rendered it and how it
drew th einformation form teh JSOn Strings.

[2014-05-18 23:49] StephanEwen opened #832 "Semantic Annotations do not accept simple constant sets"
The Semantic Annotations on a single input function do not accept simple strings like `"0, 1, 2"`

[2014-05-18 23:55] StephanEwen commented on #832
They also do not accept `"0->0,1->1,2->2"`

[2014-05-19 08:50] StephanEwen commented on #830
Fixed as part of 2bb3e982a71420caf81fbc9b2459a21ae690f446

[2014-05-19 08:50] #830 closed, assigned to nobody

[2014-05-19 09:32] skunert commented on #832
Okay, I am on it.

Also some explanation how it currently works:

**_ConstantFields**_
Here, every input field gets one string. For example this is legit:

[code]

**_ConstantFieldsExcept**_
In the '''ConstantFieldsExcept''' annotation there is only one String, for example

[code]

I agree with you that this is kind of counterintuitive. I am working on a more streamlined version where you can also

[2014-05-19 12:38] vasia commented on #815
Hey,
[here](https://github.com/vasia/stratosphere/commit/bd21b740dbb24e28892f1a3a0fdfb044e07ba1f1)'s my first take on this.
I did some very basic tests based on the `OutputEmitterTest` to check the behavior of the hash function.
I'm attaching 3 diagrams, one for integer records, one for strings and one for records with an integer, a string and a double field. Each diagram shows boxplots of the dis

[2014-05-19 12:39] fhueske opened #834 "Extend writeAsText with custom formatting function."
Currently, write as text uses the `toString()` method of data types to serialize the output as text. Alternatively, we have a CSV format that writes Tuple Datasets by using the `toString()` methods of the individual fields. Since Tuple's `toString()` method cannot be adapted without extending the class, it is not easily possible to define a custom output format of data sets which include Tuples.

[2014-05-19 13:22] fhueske commented on #711
Cool, looks much better now :-)
A few more edit requests. Can you try to
- get the information in the boxes a bit closer together, e.g., remove the horizontal lines, reduce left/right margins
- reduce the space required for the bottom part. That panel eats up 50% of the screen. Make the font size smaller, smaller cell margins, remove "name"+"value",...?
- increase the margins of the shipping and l

[2014-05-19 20:19] StephanEwen opened #837 "Allow FunctionAnnotations on Methods"
Allowing function annotations on methods makes it possible to use them with anonymous inner classes.

[2014-05-20 08:11] rmetzger opened #838 "GSoC Summer Project: Implement full Hadoop Compatibility Layer for Stratosphere"
This is a meta issue for tracking @atsikiridis progress with implementing a full Hadoop Compatibliltiy Layer for Stratosphere.

Some documentation can be found in the Wiki: https://github.com/stratosphere/stratosphere/wiki/%5BGSoC-14%5D-A-Hadoop-abstraction-layer-for-Stratosphere-(Project-Map-and-Notes)

As well as the project proposal: https://github.com/stratosphere/stratosphere/wiki/GSoC-2014-P

[2014-05-20 08:12] rmetzger commented on #838
@atsikiridis created a first pull request for this https://github.com/stratosphere/stratosphere/pull/833

[2014-05-20 09:35] MoeweX commented on #711
Ok, you were right @StephanEwen . I created an extra example.json (smaller one) which I am going to use to try to model this. I never noticed because the Json file was that big and in the old interface the representation was hidden under all the overlapping boxes :/

[2014-05-20 17:47] StephanEwen opened #839 "Add GroupReduceFunction and CoGroupFunction with separate Key"
The CoGroup and GroupReduce functions do not give access to the key. I propose to add variants (as subclasses of the generic ones) that provide the keys directly.

[2014-05-20 17:50] rmetzger commented on #839
Very good idea. There are many cases where you want to access that key.
There is a related issue to that: https://github.com/stratosphere/stratosphere/issues/553

[2014-05-20 17:55] StephanEwen commented on #657
Done in af2a765a5723532c6a87349de4c74ec613a7ee24

[2014-05-20 17:55] #657 closed, assigned to nobody

[2014-05-20 17:56] StephanEwen commented on #482
This was fixed as part of #688 (https://github.com/stratosphere/stratosphere/pull/688/files#diff-0808a97b4666fab09f9746c60e4a9b36R669)

[2014-05-20 17:56] #482 closed, assigned to nobody

[2014-05-20 17:58] StephanEwen commented on #708
Are you planning to fix this for 0.5, or should we postpone that for 0.5.1?

[2014-05-20 18:00] StephanEwen commented on #532
I would guess that this is a syndrom of #625.

I think this will not be fixed for 0.5, rather for the next version.

[2014-05-20 18:01] rmetzger commented on #708
I think we should postpone this to 0.6
(I will be strictly against making 0.5.1 a feature release)

[2014-05-20 18:02] rmetzger commented on #708
(The question is whether hadoop 2.4 support is a feature or a bugfix ;) )

[2014-05-20 18:04] StephanEwen commented on #708
I would consider that a bugfix, not a feature release.

[2014-05-20 19:37] skunert commented on #832
This is handled in PR #840

[2014-05-20 20:19] fhueske commented on #708
I'm fine either way. Let's postpone this one...

[2014-05-20 20:37] fhueske opened #841 "Updating a non-existing key in solution set yields a NPE"
When running the Scala Connected Components example with some invalid input data (an input edge contained a vertex that was not present in the vertex input) I got a NPE.

This NPE should be replaced by some meaningful error message.

[2014-05-20 22:11] uce commented on #708
Imo it would also be a bugfix.

[2014-05-21 01:30] StephanEwen commented on #831
I have a fix here: https://github.com/StephanEwen/stratosphere/commit/0fdb48648c03788c78ed64a603211b2ffdd41947

Wating for Travis to complete and will then file a pull request.

[2014-05-21 09:17] rmetzger commented on #711
This is the JSON plan of the current implementation state of the large test job: https://gist.github.com/rmetzger/c0e39d903081482cbbd4
- with Optimizer information https://gist.github.com/rmetzger/724444f97f112c68dd40
  I think the issue with the UNION without output has been resolved.

[2014-05-21 09:24] atsikiridis opened #842 "Extending a FlatMapFunction with generics leads to a TypeExtractor error"
When trying to use a `DummyFlatMapFunction` that extends `FlatMapFunction` with generics I get a type extractor error.

To replicate this consider a mapper with the following signature:

[code]

and then try using in the following way:

[code]

This outputs the following stack of exceptions when executed:

[code]

The way I understand it is that the `TypeExtractor` does not support this with gener

[2014-05-21 10:10] twalthr commented on #842
It seems you are getting an exception while the exception message is being created. This is a bug, I will fix it. However, the intended message should be "Type of TypeVariable XYZ could not be determined. This is most likely a type erasure problem."

This is a very common issue with the TypeExtractor, but we can not prevent this Exception. Due to type erasure, Java throws all generic parameters aw

[2014-05-21 11:35] fhueske commented on #831
We need to update the documentation of the [CLI](http://stratosphere.eu/docs/0.4/program_execution/cli_client.html) and [Webclient](http://stratosphere.eu/docs/0.4/program_execution/web_interface.html) on the website accordingly.

[2014-05-21 12:46] fhueske commented on #829
- Issues [34](https://github.com/stratosphere/stratosphere.github.io/issues/34) and [42](https://github.com/stratosphere/stratosphere.github.io/issues/42) are addressed in PR [44](https://github.com/stratosphere/stratosphere.github.io/pull/44)
- Issue [41](https://github.com/stratosphere/stratosphere.github.io/issues/41) is addressed in PR [46](https://github.com/stratosphere/stratosphere.github.i

[2014-05-21 12:57] StephanEwen opened #843 "Remove all System.exit() calls from example programs"
This kills the CLI client and the WebClient. The firstone ungracefully, for the second one, the WebServer simply goes down. In general, there should never by System.exit() calls anywhere in the code, except for the main executables: JobManager, TaskManager, YarnAppMaster, CliFrontend, WebFrontend.

This is a release blocker in my opinion.

We should think about security managers that prevent calli

[2014-05-21 13:04] fhueske commented on #843
eh, shame on me.

Will do that.

[2014-05-21 15:06] twalthr opened #845 "Extend TypeExtractor to first check functions for interface ResultTypeQueryable"
The TypeExtractor should first check for interface ResultTypeQueryable before trying to extract the type. This would help in many situations where type erasure causes problems e.g. #615, #842

You can assign this issue to me.

[2014-05-21 18:54] StephanEwen opened #846 "Semantic Annotations - Inconsistencies"
This is basically a thread for discussion. There are still a few inconsistencies in the semantic annotations. The following examples illustrate that:

_Constant fields_:
`"1 -> 0,1" "3->4"`  means field 1 is copied unmodified to 0 and 1, while 3 becomes 4.

`"1 ->0,1 ; 3->4"`   means the same thing, expressed in a single string (semicolon is the delimiter between statements about fields).

`"1 , 3

[2014-05-21 21:22] StephanEwen commented on #831
Fixed in 7e4888dfe6ded643c3a21d7e64d5eda47ebf4526 and f5e3a861ac1228335ee1b5a9a4527fffdf6b3b2c.

Website docu updates are on the way.

[2014-05-21 21:23] StephanEwen commented on #796
I would not make this a release blocker. Let's put the release out there and add this documentation in parallel.

[2014-05-21 21:23] StephanEwen commented on #832
Fixed in #840.

[2014-05-21 21:23] #832 closed, assigned to skunert

[2014-05-21 22:46] fhueske opened #847 "Parallelism parameter is not evaluated by CLI client in INFO action"
The parallelism parameter (-p) is not evaluated if used in the info action together with the execution plan parameter (-e).

[2014-05-21 22:48] fhueske commented on #831
Website documentation has been updated.
Thanks!

[2014-05-21 22:48] #831 closed, assigned to nobody

[2014-05-21 22:49] fhueske commented on #843
Has been fixed in 8dc3ac4f1cb6a4f53b2fd0be0d7ff35a20cb574d and 7fa8e25c9c6d6be1abb12a376ac9a713fbefe367

[2014-05-21 22:49] #843 closed, assigned to fhueske

[2014-05-21 22:53] fhueske commented on #796
I agree.

[2014-05-21 23:50] atsikiridis commented on #842
Hello, Thank you very much for the input.

[2014-05-22 08:23] fhueske opened #848 "Move combine() from GroupReduceFunction to Interface"
Currently, the combine method of the GroupReduceFunction allows to return multiple values using a collector. However, most combiners do not need this because they return only a single value. Furthermore, a single value returning combiner can be executed using more efficient hash-based strategies.

Hence, we propose to introduce a combine method for GroupReduce which returns only a single value. In

[2014-05-22 08:28] fhueske commented on #842
So I guess we need to wait for the ResultTypeQueryable interface (#845) to have a proper solution.
In the meantime, you could start to implement the interface for the HadoopFunction Wrappers.
It won't work for now, but once #845 is fixed, you can check if it is working.

[2014-05-22 08:31] fhueske commented on #842
I close this issue as it is a consequence of #845

[2014-05-22 08:31] #842 closed, assigned to twalthr

[2014-05-22 10:36] markus-h commented on #846
For me a semicolon for indicating that fields are staying constant would be more intuitive. In that way "1 ; 3" would just be a shortcut for "1->1 ; 3->3"

[2014-05-22 10:55] fhueske commented on #846
I agree, the semicolon should basically separate different constant annotations (each valid for exactly one field of the input) that can also be put into individual strings, i.e.,
`@ConstantFields("1->2,3; 4; 5->7")`
should be equivalent to
`@ConstantFields("1->2,3", "4", "5->7")`

[2014-05-22 11:42] rmetzger opened #849 "Add Tab in Webfrontend that lists all configuration values"
Hadoop also allows to inspect the configuration values from the webinterface.
I think it is not too much work and a very helpful feature.

[2014-05-22 12:52] rmetzger commented on #849
Showing some details about the connected TaskManagers would also be great.

[2014-05-22 13:13] fhueske commented on #796
Extended Java API documentation with DataSource and DataSinks.
Did not go into the detail of InputFormats and OutputFormats.

[2014-05-22 19:35] devbharadwaj commented on #714
I have been reading "Enterprise Data Workflows with Cascading" to understand how Cascading works. I have come across encouraging lines like "Cascading has been closely associated with Hadoop, it is not tightly coupled to it. Flow planners exist for other topologies beyond Hadoop, such as in-
memory data grids for real-time workloads." but nothing specific.
Then I explored the idea to taps in Casca

[2014-05-22 19:56] fhueske commented on #714
Hi,

taps in Cascading are basically connectors to data stores, i.e., they enable Cascading to read data from various storage systems. Stratosphere is not a data store, it is a data processor. Therefore, it is not so useful to implement a Cascading tap for Stratosphere.

Right now, Cascading data flows are translated into Hadoop MapReduce jobs and executed on Hadoop.

Instead, we would like to tra

[2014-05-23 06:30] rmetzger commented on #714
Hey, also have a look at this article: http://www.datanami.com/2014/05/13/cascading-now-supports-tez-spark-storm-next/
It seems that Cascading 3.0 now supports at least two execution engines: MapReduce and Tez.
What we want is support for a third execution engine: Stratosphere.

[2014-05-23 12:16] oresti opened #851 "Dokumentation improvement"
Create a short tutorial for intelliJ users in Readme.md file.
For example: how to run the WordCount example (locally) from the IDE in less then 5 minutes after pulling the latest stratosphere git repo.
=> Encourage the usage of IDE's and local-execution for newbies.

My Idea:
1) File->Import Project->From External Model->Maven->Check all 6 checkboxes->NextNextNext ...
2) Collapse stratosphere-java

[2014-05-23 12:23] oresti commented on #851
I just saw that you do have a doku in the Quickstart for that in [here](http://stratosphere.eu/quickstart/java.html)

[2014-05-23 12:23] #851 closed, assigned to nobody

[2014-05-23 15:02] rmetzger commented on #851
Hey,
thanks for creating the issue.
Since you're obviously tried out Stratosphere recently, do you have any further suggestions on how to improve the overall experience, especially for new users?
I don't know how we can make it more obvious that it is really easy to run Stratosphere from an IDE.

[2014-05-23 15:06] rmetzger commented on #838
I suggest that the merge the work of @atsikiridis into the `master` once we have a working wrapper for Mappers and Reducers.

The next point where i suggest a merge is when we have scripts to run MR jobs on Stratosphere, without changing a single line of code.

[2014-05-23 16:16] oresti commented on #851
Hi,
for the quick-start introduction I do not have any more suggestions and I am really amazed about how easy it is to run (and work on) Stratosphere.

Maybe a wikipedia article as an additional reference point?
Also: try to point out the obvious fact that "Stratosphere is much easier/better that MR" as much as possible :)

Keep up the good work!

[2014-05-23 16:20] rmetzger commented on #851
Cool. Thanks for the kind words.

Somebody has actually drafted a Wikipedia article. I'm going to push that
again once we have the new name in the Apache Incubator.

Sent from my iPhone

On 23.05.2014, at 18:16, oresti notifications@github.com wrote:

Hi,
for the quick-start introduction I do not have any more suggestions and I
am really amazed about how easy it is to run (and work on) Stratospher

[2014-05-24 11:44] zentol opened #852 "DistributedCache doesn't preserve executable flag"
all files distributed with the DistributedCache are marked as not executable, which causes a problem for the python interface. (I currently try to package all scripts/dependencies into binaries and distribute those, since we cant distribute directories).

a fix for this would to to modify Filecache.CopyProcess.call() to include
[code]
but this is more of a shotgun approach, since now all files are

[2014-05-24 15:06] uce commented on #852
I'm not familiar with the DistributedCache, but `File` also offers the `boolean canExecute()`. So it should be possible to encode this for each executable file in an internal DistributedCache data structure and then just call it on each of the executable files?

[2014-05-24 15:09] uce commented on #838
Thanks for the update. I think it's a really cool summer project. :-)

[2014-05-24 15:24] uce commented on #796
We have old documentation (http://stratosphere.eu/docs/pre-0.4/programming_guides/java.html#io_formats), which we might be able to recycle.

[2014-05-24 15:24] uce commented on #849
+1

[2014-05-24 16:08] uce opened #853 "Web interface: task number not readable with low tasks counts"
The number of tasks per execution stage is not readable with low task counts, i.e. if you have stragglers as in the screenshot below, it's hard to see if there is any progress at all.

![screen shot 2014-05-24 at 18 06 10](https://cloud.githubusercontent.com/assets/1756620/3074992/57038d24-e35d-11e3-8294-793ceba5322f.png)

[2014-05-24 16:10] uce opened #854 "Web interface: show runtime of subtasks"
When I click on the detailed view of a task, I see all subtasks as in the screenshot below. I would also like to show the runtime per stage, e.g. I want to know how long the yellow subtask was in running.

![screen shot 2014-05-24 at 18 09 36](https://cloud.githubusercontent.com/assets/1756620/3074999/d0ebe1d6-e35d-11e3-9f18-26ac5ce96999.png)

[2014-05-24 16:13] uce opened #855 "Web interface: flow vs stack layout"
I don't understand the real difference between the flow and stack layout in the web interface. Let's stick with one of the two.

![screen shot 2014-05-24 at 18 11 37](https://cloud.githubusercontent.com/assets/1756620/3075006/3336865c-e35e-11e3-98ca-ea1feeaf7415.png)
![screen shot 2014-05-24 at 18 11 48](https://cloud.githubusercontent.com/assets/1756620/3075007/333c1a04-e35e-11e3-8be8-6c8c0185b80

[2014-05-24 17:04] StephanEwen commented on #849
+1

[2014-05-24 17:05] zentol commented on #852
generally yes, but using `File` wont work (completely), since the distributedCache (afaik) also accepts hdfs:// files (generally all files that are supported by our `FileSystem`.)

[2014-05-24 20:05] rmetzger opened #857 "Exception while executing wordcount example"
Hi,
while testing the current `master` branch to see if we can release it this way, I found an issue with the new Java API / Wordcount example.

[code]

I successfully executed the Scala and Record Wordcount implementations with the same configuration (cluster size, data set).
The error is reproducible.

[2014-05-24 20:16] rmetzger opened #858 "PlanJSONDumpGenerator.formatNumber()'s punctuation is broken"
A minor issue I found while testing for the 0.5 release.

In the web frontend, it says "Cumulative Disk I/O:   1,.04.29 TB"
There is a comma and a dot after the 1.

[2014-05-24 21:01] StephanEwen commented on #857
Bug in the hash partitioner.

[2014-05-25 10:37] rmetzger commented on #857
The bug is caused by a the following problem:
`Integer.MIN_VALUE == -Integer.MIN_VALUE`. Also, `Math.abs(Integer.MIN_VALUE) = Integer.MIN_VALUE`.
See also here: http://stackoverflow.com/questions/18565485/why-is-absolute-of-integer-min-value-equivalent-to-integer-min-value

The error only occurs if the hash value is accidentally `Integer.MIN_VALUE`.

The RecordOutputEmitter is doing some hash-salt

[2014-05-25 10:48] uce commented on #857
Good catch!

The easiest thing will be to test for MIN_VALUE?

[2014-05-25 10:50] rmetzger commented on #857
Yeah, this will cause a slight skew in the data. Also I'm not sure about the performance impact. This is on the "critical path".

[2014-05-25 10:51] uce commented on #857
PS: This will have an impact on performance, but is there any other way to do it with less skew?

[2014-05-25 11:39] rmetzger commented on #857
I tested two variants to solve this issue

[code]

So for `((i % numberOfChannels) + numberOfChannels)  % numberOfChannels;`
the runtime is 33980

for the `if if else else` variant, I have 18505.
I ran the tests with Java 8.

[2014-05-25 13:32] StephanEwen commented on #857
Something that branches, but follows the same branch almost always should
be faster than modulo, if I recall correctly. Divisions are expensive,
unless they are dividing by powers of two.

[2014-05-25 13:37] uce commented on #857
I agree. So let's special case the MIN_VALUE and increment the hash in that case.

@rmetzger Do you want to do it or should I? Let's make sure to include a small test.

New RC after the PR?

[2014-05-25 17:00] atsikiridis opened #860 "groupBy operator followed by a reduceGroup does not group Writables correctly"
I am not sure if it is a known issue, but If we consider the following `DataSet<Tuple2<Text,LongWritable>>` named `words` with the content:

allen 1
allein 1
allein 1
a 1
word 1
word 1
words 1

and apply `words.groupBy(0).reduceGroup(someReduceFunction)` (for example one that sums values)

outputs:

a 1
words 3
words 3

The same occurs when we specify a custom `KeySelector` that transforms the Tex

[2014-05-25 18:05] StephanEwen commented on #847
This bug is not CLI Frontend related. The environment parallelism is not evaluated at all for Optimizer Plan command in the new Java API. I have a fix for that...

[2014-05-25 18:59] zentol commented on #860
is the code you used available somewhere?

[2014-05-25 19:08] atsikiridis commented on #860
Hello @zentol , https://github.com/atsikiridis/stratosphere/blob/HadoopCompatibilityJAPIReady/stratosphere-addons/hadoop-compatibility/src/main/java/eu/stratosphere/hadoopcompatibility/mapred/example/FullWordCount.java

You can try running this one from my branch. Thanks!

[2014-05-25 19:12] atsikiridis commented on #860
Or actually the testcase HadoopFullJobITCase on the same branch. Should be more convenient

[2014-05-25 19:14] StephanEwen opened #861 "Make aggregations combinable"
Currently, the Aggregations are not combinable, although all functions can be.

[2014-05-25 19:16] StephanEwen opened #862 "Sensible toString for CsvOutputFormat"
The return value of that is displayed in execution plans and logs, so it makes sense to add something more sensible there (like the file path).

[2014-05-25 19:21] rmetzger commented on #857
I would like to see how https://github.com/stratosphere/stratosphere/issues/860 develops. I will not create a new RC until all known issues are addressed.

[2014-05-25 19:33] uce commented on #857
At the time the issue was not known ;-)

[2014-05-25 19:41] fhueske commented on #860
Hi,

I wrote my own program (below) and could **not** reproduce the error.
Will check your code and see what's different.

[code]

[2014-05-25 20:04] atsikiridis commented on #860
Hello @fhueske thanks for testing. Maybe this is only when I use generics (in my example) plus I subclass `HadoopMapFunction`, `HadoopReduceFunction` ? I do that in order avoid type erasure issues and the `TypeExtractor` complaining (#845 and consequences) .

[2014-05-25 20:19] zentol commented on #860
i doubt it has to do with generics.
i placed system.outs in the `ReducerTransformingIterator.next()` and `HadoopOutputCollector.collect()` methods.

the following is an exempt: (ignore the different formatting)

[code]

it seems that sometimes the key is changed between the call to next and collect.

[2014-05-25 20:40] atsikiridis commented on #860
Hi @zentol ,well there is definitely something wrong with the `ReducerTransformingIterator` and I think I have misundestood something  about groupBy. Was a bit in a rush to create this issue :-) Thanks for checking everybody.

[2014-05-25 20:42] fhueske commented on #860
I know what the problem is, as usual the mutable objects returned by the reduce iterator.
So this is a bug in the HadoopReduceFunction and nothing that blocks the release.

I'll share the details later this evening.

[2014-05-25 20:45] uce commented on #860
+1 to Stephan's suggestion (outside this discussion... I'll edit this message if I find a reference) to return new objects per default and reuse objects as an "advanced" option.

@fhueske You mean later this night? ;-)

[2014-05-25 22:29] fhueske commented on #860
Alright ;-) The problem is caused by the iterator that is given to the GroupReduceFunction. This iterator uses two mutable objects and continuously overrides their state on hasNext() calls. In this specific case there are two Tuple2 objects (A and B) which are returned one after the other by the iterator. If next() returns object A, the consecutive hasNext() call overwrites object B by the next el

[2014-05-26 00:11] StephanEwen commented on #847
Fixed in e5f617d1557414456db1f00e7d5adeaded749870

[2014-05-26 00:11] #847 closed, assigned to nobody

[2014-05-26 00:50] StephanEwen commented on #861
A possible fix is in #863

[2014-05-26 01:48] atsikiridis commented on #860
@fhueske , thanks a bunch for the detailed explanation. Aaa `hasNext()` is called by my own example in Hadoop and of course, mutable types. Confused me and started blaming the grouping. Thanks :) I'm definitely writing unit tests for this now...

[2014-05-26 03:02] atsikiridis commented on #838
Hello!

@uce I agree, thanks for the interest :-)

A first very interesting week has passed and it's time for my first report. I'll be doing a weekly report of what was been done in the previous week and the plans for the next week and of course mentioning anything else necessary during the week. Please, feel free to submit any comments you would like, as they will be very helpful!

**What was don

[2014-05-26 06:36] rmetzger commented on #860
I think we should have this explanation and a warning in the Javadocs here: http://stratosphere-javadocs.github.io/eu/stratosphere/api/java/functions/GroupReduceFunction.html

[2014-05-26 07:46] fhueske commented on #838
Hi Artem,

thanks for the update and good progress! :-)

Regarding the subclassing of the HadoopFunctionWrappers to get the generics
and the combinable annotation fixed: We should overcome this limitation.
@twalthr will implement the ResultTypeQueryable interface that lets you
explicitly return the result type of a function (so the typeextractor does
not need to look this up). The combiner can als

[2014-05-26 07:56] fhueske commented on #852
I wouldn't make all files executable.
What about preserving the execution flag for local files and also adding an optional parameter when registering files in the DC?

[2014-05-26 08:28] #860 closed, assigned to nobody

[2014-05-26 08:33] fhueske opened #864 "Add description of mutable object iterators (GroupReduce, CoGroup) to documentation"
Stratosphere uses value iterators with mutable objects.
If this is not considered by an UDF, this silently leads to invalid results and hard to debug bugs.

We had a lot of discussions about this. In the long run, we want to offer a safe default iterator which returns new objects with every call and a more efficient iterator with mutable object.

Until then, we should add a warning to the Java Doc

[2014-05-26 09:29] skunert commented on #862
addressed in #866

[2014-05-26 10:09] MoeweX commented on #855
Hi,

both layouts are created by @markus-h . What do you think?

[2014-05-26 10:23] fhueske commented on #855
Another issue with these visualization is that the Finished time of a tasks is shown, not the Finishing time.

A task switches from Running to Finishing state when it has processed all its input. It goes from Finishing to Finished once all its output channels are closed by its successor tasks. That means the Finished time depends on the successor task and not on the task itself.

I propose to disp

[2014-05-26 10:31] fhueske commented on #854
:+1:

[2014-05-26 10:49] MoeweX commented on #853
Tobias ist dabei das zu ändern zusammen mit einer größeren Änderung (#766).

[2014-05-26 11:07] fhueske commented on #861
Fixed with f834e7d3287f377798ad8b7d13058b5499cdf0db

[2014-05-26 11:07] #861 closed, assigned to nobody

[2014-05-26 11:08] fhueske commented on #857
Fixed with 8677ad9ad03cfaa37e654ebd8bd868928fbddff2 and c9589b82d671e0afe76affd01c2e2c71b151a667

[2014-05-26 11:08] #857 closed, assigned to nobody

[2014-05-26 11:17] markus-h commented on #855
The difference of the two styles is just a matter of layout and what people like more. It is no problem to remove one of them but I also don't see a real disadvantage when we keep both. Personally I like the stack layout more.

@fhueske After reading your description I agree that finishing would be more sensible to finished

[2014-05-26 11:19] MoeweX opened #867 "Webinterface JobHistory does not work offline"
@StephanEwen found out that there is a problem with the JobHistory of the Webinterface while there is no internet connection. It is because the visualization API of google that you are only allowed to use online:
![bildschirmfoto 2014-05-23 um 12 06 02](https://cloud.githubusercontent.com/assets/5738978/3081862/a7bc7332-e4c7-11e3-8c3e-6c68381d0a44.png)
https://developers.google.com/chart/interacti

[2014-05-26 11:50] twalthr commented on #612
I start working on this issue.

[2014-05-26 12:01] MoeweX commented on #711
Ok, we have a new Version (without any of the design decision by Fabian) for the functionality of iterations.
http://jonathanh5.github.io/StratosphereWebclient/new%20Version/tools/planVisualizer.html

I found out that the new plan form @rmetzger is not working in the old webclient because of an edge from node 18 to a node INSIDE an iteration. This is not possible with the new interface as well bec

[2014-05-26 12:32] zentol commented on #852
ok, using `File` does in fact work.

I'm also currently extending the cache to allow the distribution of directories.

While working on that i noticed (or rather realised) that the DC only allows the distribution of files that already exist in a distributed FS. (which actually kind of makes the original issue irrelevant)
I would like to extend it so that you can pass a local file and have it loade

[2014-05-26 12:58] uce commented on #867
This is a known shortcoming. Thanks for opening the issue.

In the long run I would like to move away from this, but I don't think that it is pressing right now. Interesting question might be whether Apache licensing has anything to say here.

[2014-05-26 13:10] StephanEwen commented on #612
Can you give an outline of what you are going to do there?

Does this concern the type extractor only or other parts as well?

[2014-05-26 13:23] twalthr commented on #612
I would like to implement the other parts as well, so that we have one Lamda PR at the end.

[2014-05-26 13:53] StephanEwen commented on #612
The other parts are still under discussion, that's why i was asking.

Especially the SAM refactoring has massive dependencies with the rest, so
it needs careful coordination

I would suggest to start with the type extractor and then go to the code
analysis part.

[2014-05-26 13:57] aalexandrov opened #870 "KMeans Scala example does not work with Quick Start"
The KMeans Scala and Java examples differ in the expected input format - the Scala program expects `(pointID, x, y, z)` as input whereas the Java program expects `(x, y)`, which is the format generated by the `KMeansDataGenerator`.

Consequently, the [Quick Start](http://stratosphere.eu/quickstart/example.html) seems to work only with the Java example.

[2014-05-26 13:59] aalexandrov commented on #870
I'm working on a fix.

[2014-05-26 14:09] twalthr commented on #612
Ok, first of all I will read some articles about the topic and then I will focus on the type extraction.

[2014-05-27 00:44] ghost opened #871 "Create a documentation distribution together with other release artifacts"
It would be good to have a documentation distribution together with the other release artifacts. We can use markdown files, .md, for documentation and use maven md plugin for managements. The same documentation can be used for the web site etc..

[2014-05-27 07:28] fhueske commented on #870
Will you adapt the Scala version?
I have also an updated version of the Python script which works for the Java example.

[2014-05-27 11:33] aalexandrov commented on #870
Yes, I adapted the Scala version in PR #873. I also have modified the Python script so one can plot the input (unclustered points with one color), as well as the output (clustered points, each cluster with distinct color):

[code]

[2014-05-27 13:48] StephanEwen opened #875 "Optimizer introduces Unnecessary Sort in Iterations"
There is a Bug in the Optimizer that introduces an unnecessary sort. You ran reproduce the Bug by taking the "PageRankBasic" example program and adding an `@ConstantFields("0")` annotation to the `Dampener` MapFunction.

The produced plan is shown below. The sort is unnecessary since the join algorithm is a hash join.

![opt_bug_screenshot](https://cloud.githubusercontent.com/assets/1727146/309210

[2014-05-27 15:27] twalthr opened #878 "Generating a JSON plan with Client leads to NPE"
Calling `./bin/stratosphere info ... -p` with a new JAPI program leads to the following exception:

[code]

[2014-05-27 15:54] StephanEwen commented on #878
There is a fix already under test ;-)

[2014-05-27 16:08] MoeweX commented on #711
Ok, I integrated an overlay and removed the section at the bottom. What do you think? You must have at least a display with a width of 1400 or it may look awkward :S.

Some feedback to the iterations (comment above)?

[2014-05-27 21:29] derSascha opened #879 "Allow empty result in cross function call"
It is somehow annoying that the CrossFunction Class enforces a result in cross.

For example, if you have a set with data points and want to compute the distances, you  properly don't want to compute the distance between the same point.

The only workaround is a points.cross(points).with(...).filter(...) chain. The additional filter step produce much unnecessary java code.

Simple fix:
Remove the

[2014-05-28 01:45] atsikiridis commented on #838
So, map and reduce tasks are done with no hacks on the new Java API ( thanks to #868 ) and some other minor stuff are done in a more sane way.

here:
https://github.com/atsikiridis/stratosphere/tree/HadoopCompatibilityJAPIReady

I have prepared more tests (2 example jobs and some Iterator cases) and they will be added later today. Moreover, I run a WordCount via the first version of the driver I w

[2014-05-28 09:43] fhueske commented on #838
Nice! :smile:
Please watch #868 and open a PR against Master once it has been merged.

[2014-05-28 12:08] fhueske commented on #879
Hi,

you can also use the DefaultCross which returns a DataSet<Tuple2<LEFT_TYPE,
RIGHT_TYPE>> like this:

points.cross(points).flatMap(new MyFlatMap). ...

where MyFlatMap extends FlatMapFunction<Tuple2<POINT, POINT>>.

Best,
Fabian

2014-05-27 23:29 GMT+02:00 derSascha notifications@github.com:

[2014-05-28 13:27] rmetzger commented on #766
I think @tobwiens is working on this. Are there any updates?

[2014-05-28 13:44] fhueske opened #880 "Program with two BroadcastVars causes CompilerException"
The following CompilerException is raised by

[code]

this program.

[code]

[2014-05-28 13:56] rmetzger commented on #838
Very cool. I've checked out the branch and the tests successfully ran. Also, the code looks nice.
I was wondering if it is necessary to set all these configuration values:

[code]

because you're saying almost the same with the `text.flatMap()`call: The types, the operation (map), just the mapper class itself is missing.

[2014-05-28 15:39] tobwiens commented on #766
Yes, since I am working on the interface I will fix both issues.

Current progress: The input splits of the data source are correctly displayed. After the page is displayed for the first time, an update routine is shifting the progress bars. The update routine works completely different  and makes it a struggle.

[2014-05-28 16:18] tobwiens opened #881 "Using another drive C:/D: other than where the stratosphere distribution is, results in file not found"
I tried to slow down the wordcount example by using a slow sdcard as input, to "watch" stratosphere reading the input splits. I checked other partitions and drives and found that it only works with my drive D:. The stratosphere runtime is located on D:.

Command:

[code]

Exceptions:

[code]

[2014-05-28 16:27] tobwiens commented on #881
When stratosphere is copied to G: and started there (start-local.bat) it can access all files on G:, but no other drive.

[2014-05-28 16:34] StephanEwen commented on #881
Can you debug the class 'LocalFilesystem' and see where the error happens?
I think a good place to start is the 'Filesystem.get()' method.

[2014-05-28 16:39] zentol commented on #881
you need another `/` in the file scheme.

this worked for me:

[code]

this didnt:

[code]

[2014-05-28 16:45] zentol commented on #881
the reason it worked when on the same drive is the following:
 because due to the missing `/` the resulting path is `/test.txt`, for which the current drive letter is automatically added.

[2014-05-28 16:51] zentol commented on #881
The source of this occurrence is btw. the URI class:

[code]

prints

[code]

[2014-05-28 17:00] tobwiens commented on #881
That's exactly it. Another / has to be added when the file sits on another drive relative to stratosphere.

It feels very confusing that, depending on where stratopshere runs the absolute file path need to be changed.

The tripple notation "file:///" does also work if the file is on the same drive.

[2014-05-28 17:07] zentol commented on #881
you look at it the wrong way.
`file:///` is the standard notation for windows systems afaik.
`file://F:/test.txt` working is more or less a coincidence.
`file:///test.txt` behaves the same way as `file://F:/test.txt`

in short, `file://` is straight up wrong.

[2014-05-28 17:14] zentol commented on #881
`It feels very confusing that, depending on where stratopshere runs the absolute file path need to be changed.`

assigning the letter automatically prevents this for some cases. if you have a txt file inside the stratosphere distribution, and know that the top folder is the same on every node, you can specify `file:///<path-without-drive-letter>` and be sure that it runs on any machine, independen

[2014-05-28 18:44] #881 closed, assigned to nobody

[2014-05-28 20:16] rmetzger commented on #264
Resolved by @StephanEwen in some commits.

[2014-05-28 20:16] #264 closed, assigned to nobody

[2014-05-28 21:03] atsikiridis commented on #838
Hello @rmetzger .Thanks!

I have to give the output values to the wrappers somehow (above is one way) due to type erasure. The statements setOutput etc. are necessary in that case, as otherwise Hadoop considers Input types same as output types ( by using `getOutputKeyClass()` to retrieve the values  for example).

Of course I can avoid it and just pass the key-value classes to the constructor (as

[2014-05-28 21:05] rmetzger commented on #838
Mh, okay, I see. Then lets keep it this way for now, since changing it is really not difficult.
Users working with the Map-Reduce classes are used to the HadoopJobConf stuff anyways.

[2014-05-29 07:13] rmetzger opened #883 "Use MiniYARNCluster to test the Stratosphere YARN client"
I would like to have a test that verifies that our YARN client is properly working, using the `MiniYARNCluster` class of YARN.

[2014-05-29 08:03] rmetzger commented on #711
Thanks for the change.
I like that you've removed the properties section at the bottom.
The overlay that expects at least 1400px width is a no-go. My browser windows are usually not full screen, so it looks really ugly.
Additionally, we somehow need to tell the user that they can get additional information by clicking at the boxes.

I'm a bit unhappy that the boxes are quite large, this makes it h

[2014-05-29 08:49] rmetzger opened #885 "Task cancellation fails in TempBarrier.close()"
Another issue in line with https://github.com/stratosphere/stratosphere/issues/154 and https://github.com/stratosphere/stratosphere/issues/281:

I got this issue while testing the testjob on the cluster with the current 0.5-rc3.

[code]

[2014-05-29 09:03] rmetzger commented on #652
In 0.5-rc3, the error occurs almost instantly with the large testjob

[code]

[2014-05-29 12:37] rmetzger opened #886 "Changes to be included in Release 0.5.1"
I'm currently preparing the 0.5 release.

This issue is for creating a list of all pull requests / commits we want to include in the 0.5.1 release.
I want that the 0.5.1 release contains only bugfixes.

I will create a release-0.5.1 branch that I'll manually maintain by cherry picking commits from `master`.

Fixes included in 0.5.1:
- https://github.com/stratosphere/stratosphere/commit/73a9dcc92ae

[2014-05-29 12:46] fhueske commented on #886
Why not simply assigning issues and PRs to milestones?
I find this much more comfortable than "meta-issues" because you can filter
issues (and PRs) for milestones.

2014-05-29 14:37 GMT+02:00 Robert Metzger notifications@github.com:

[2014-05-29 12:47] rmetzger opened #887 "Improve JobManager heap space memory configuration for YARN"
just saw this while testing for the 0.5 release.
The JM sometimes fails because I forgot to subtract a few %% from the JM heapspace for extra JVM allocations.

[code]

[2014-05-29 12:49] StephanEwen opened #888 "Add swap() method to Tuple2"
In line with Scala

[2014-05-29 12:50] rmetzger commented on #886
I agree that it is more comfortable to use the appropriate feature for that.
The problem with the current 0.5.1 milestone is that it contains also features (such as https://github.com/stratosphere/stratosphere/issues/760).
If you want, I can clean up the 0.5.1 milestone to let it only contain bug fixes and move all features to 0.6.

[2014-05-29 12:50] rmetzger commented on #888
:+1:

[2014-05-29 12:52] fhueske commented on #886
OK, go ahead, but we should then start to work on different branches for
different releases.
We cannot delay merging feature PRs because of bugfix releases...

2014-05-29 14:50 GMT+02:00 Robert Metzger notifications@github.com:

[2014-05-29 12:52] uce commented on #886
I agree with @fhueske. @rmetzger, that's a good idea then. :+1:

[2014-05-29 12:55] rmetzger commented on #886
I'll change the version in the master to 0.6-SNAPSHOT in the next few minutes.
My understanding of everything is the following:
- `master` contains the code of the current SNAPSHOT version, for the next major feature release
- `release-0.x.y` contains the specific version of a release.

[2014-05-29 12:58] uce commented on #886
We work on `master` and cherry-pick bug fixes to `release-0.x.y`, right?

[2014-05-29 12:59] rmetzger commented on #886
Exactly. At least I'll try that. I'm not sure how soon it will start creating problems. My hope is also that the bugfixes are not too big.

[2014-05-30 03:00] atsikiridis commented on #838
Hello,

https://github.com/atsikiridis/stratosphere/blob/hadoop-driver/stratosphere-addons/hadoop-compatibility/src/main/java/eu/stratosphere/hadoopcompatibility/mapred/StratosphereHadoopJobClient.java

In this branch I run a job with no stratoshere code other than the `StratosphereHadoopJobClient.runJob(conf);` conmand in the end. There's a wordcount test passing. Well, I don't think it's general

[2014-05-30 07:53] rmetzger commented on #838
Cool.
So you're setting the DOP just to 1. I'm not sure if it will be a problem, but Stratosphere and MapReduce behave differently regarding the number of mappers and reducers.
In MR, its usually the number of files, in Stratosphere, its the DOP (or the number of files for unsplittable files such as avro or deflate).

I'm not sure if the handling of the Combiner-Class is correct right now. You jus

[2014-05-30 08:10] atsikiridis commented on #838
@rmetzger Ahh yes you're right for the combinable. Thanks.

[2014-05-30 08:46] knub opened #889 "Code from documentation does not compile [0.5-rc2]"
http://stratosphere.eu/docs/0.5/programming_guides/scala.html#data-sinks

[code]

ScalaPlan expects a `GenericDataSinkBase`, however `out.write` returns a `ScalaSink` which inherits from `AnyRef`.

[2014-05-30 09:17] knub commented on #889
Argh, was using Plan(Seq(sink)) instead of ScalaPlan(Seq(sink)). I'm sorry!

[2014-05-30 09:17] #889 closed, assigned to nobody

[2014-05-30 09:20] StephanEwen commented on #889
That's fine...

Let us know if you find inconsistencies in the Documentation.

[2014-05-30 19:01] StephanEwen opened #890 "[Examples Website] Replace "getInputData()" methods"
I think the website style of the examples needs a slight change.

Instead of having methods like `getTextDataSet(env)` would like to write `env.readTextFile(filePath);`.

That illustrates that it is really simple to load text files. The current way leaves you wondering whether there is some magic needed to get the input data sets.

[2014-05-30 19:03] StephanEwen commented on #890
I am preparing a pull request with a suggestion.

[2014-05-31 08:36] #853 closed, assigned to nobody

[2014-05-31 08:40] rmetzger commented on #886
I created the 0.5.1 branch https://github.com/stratosphere/stratosphere/tree/release-0.5.1

[2014-06-01 10:29] rmetzger commented on #714
Are there any updates to this project?
I'm happy to help, also via Skype or Hangout.

[2014-06-01 10:52] rmetzger commented on #871
I agree that we need to ship the documentation together with the distribution. This ensures that users always have a documentation that matches with the version we ship.

What we first need to agree upon is a central instance that contains the documentation. I suggest to use a Wiki for that. I would then use the build tools to synchronize the documentation from the Wiki to the website and the rele

[2014-06-01 17:45] devbharadwaj commented on #714
I had asked a question on the Cascading mailer list.
https://groups.google.com/forum/#!topic/cascading-user/5q31S2Z_iL0

This is the response I got:

"""
Any efforts in bolting Cascading onto a new fabric at the moment will be a wasted effort.

We are currently doing a complete rewrite of the query engine and internal apis as we add Tez as an additional target platform.

I hope to have a new 3.0 w

[2014-06-02 01:00] atsikiridis commented on #838
Hello,
let me discuss a bit about the second week.

**What was done this week?**

**tl;dr version**

Mainly, one can run WordCount (and other jobs using only Mappers, Reducers and Combiners) without modifying the code of his driver. `StratosphereHadoopJobClient.runJob(conf).waitForCompletion();` is enough (check: https://github.com/atsikiridis/stratosphere/tree/hadoop-driver/stratosphere-addons/ha

[2014-06-02 01:32] StephanEwen opened #893 "Inconsistent Iteration Step Function gives nonesense error message"
[code]

The code if wrong (closing iteration 1 with the step function of iteration 2), but it should not give the unsupported operation exception.

[2014-06-02 07:11] rmetzger commented on #714
Hey @devbharadwaj,
Thanks for asking on their mailing list. The answer is really helpful. This message sounds like a first prototype is available within the next days: https://groups.google.com/d/msg/cascading-user/z7JDfVbj74c/CgVWY_RYSdwJ

I don't know if there is anything you can do at this point. You could start reading into the Cascading 3.0 code ...
Lets hope Cascading has a first release soo

[2014-06-02 08:26] MoeweX commented on #711
Hi,

I changed the width to 700px by putting everything in two rows. Is that fine?
http://jonathanh5.github.io/StratosphereWebclient/new%20Version/tools/planVisualizer.html

The boxes are that large cause of the bootstrap layout. I choosed it because it is used everywhere around stratosphere (webinterface, website, ...). I can remove it if you want to and use boxes, but it would not look that good

[2014-06-02 11:35] MoeweX opened #894 "Some examples are broken"
Hi,

I am currently enhancing the webclient (#711) and I noticed, that some examples seem to be broken. For example the Kmeans.jar.
![bildschirmfoto 2014-06-02 um 13 29 38](https://cloud.githubusercontent.com/assets/5738978/3146540/3d4423ec-ea49-11e3-9617-a3f6ba962f3e.png)
If I try to draw this one and others it does not work like it should. My ajax request to the intern server is not successful b

[2014-06-02 11:42] rmetzger commented on #894
I think this exception does not belong to the KMeans example.
The exception is thrown in the scala wordcount example

[2014-06-02 12:03] StephanEwen commented on #894
Yes. The issue is the following: In order to get a plan from the programs,
they need to be runnable without parameters. What you see here is the
exception that the program throws if it does not get its parameters.

I am not sure how we can solve that. If a program does not want to proceed,
then it does not ;-)

You should still get the Optimized plan when you supply proper parameters.

[2014-06-02 12:57] uce opened #897 "Bug in scheduler for job graph instance sharing"
I discovered the following problem while writing a low-level task: the scheduler could not bring up the instance for `forwarder3` (state `SCHEDULED`, but not `ASSIGNED`).

[code]

[code]

Every task should share the vertex. The following equivalent sharing did work though:

[code]

[code]

[2014-06-02 13:44] uce opened #898 "Clean up distribution default config"
Just a small remark: I vote to simplify the default config we ship, because it gives the impression that you actually have to configure a lot of stuff. See [https://github.com/stratosphere/stratosphere/blob/master/stratosphere-dist/src/main/stratosphere-bin/conf/stratosphere-conf.yaml](https://github.com/stratosphere/stratosphere/blob/master/stratosphere-dist/src/main/stratosphere-bin/conf/stratos

[2014-06-02 13:56] rmetzger commented on #870
@Alex: is the new python script able to handle the output of the `eu.stratosphere.example.java.clustering.util.KMeansDataGenerator` class? I'm getting this error

[code]

I'm also getting an error in the web client with the KMeans example:

[code]

[2014-06-02 23:13] devbharadwaj commented on #714
I will start reading the Cascading 3.0 code then. But I'm not sure how the Scalding API will be made. I know Scalding is built on top of Cascading so we make the Cascading API first and then move to Scalding or can I work on Scalding independently?

[2014-06-02 23:21] atsikiridis commented on #838
About the input format issue: one other thing that can be done is to extend `HadoopInputFormat`  ( `new HadoopInputFormat(jobConf){}` ) and not require a class of key and value. Of course in this case we will not implement `ResultTypeQueryable` for inputformats. It's still a hack but covers everything really  So for now it's much better than the hideous stuff above so I'll keep it on my branch.

C

[2014-06-03 01:23] ghost commented on #871
At Apache, the documentation for most projects is maintained using couple of XML or MD files together with the source code it self, no wiki. We could follow the same model. We must make sure, we maintain the documentation only at a single place.

[2014-06-03 07:28] rmetzger commented on #871
I think that is also a pretty good approach.
This way developers can include the updated documentation into the
patches/pull requests.

The reason why I suggested a Wiki is the even lower barrier to change the
documentation. With a Wiki, people that don't know git are also able to
help. I dont know if those people exist and if its worth the effort.

Sent from my iPhone

On 03.06.2014, at 03:23, Ra

[2014-06-03 09:24] rmetzger commented on #870
Thank you @aalexandrov. I will update the python script on the website.

[2014-06-03 10:25] rmetzger opened #900 "Webclient does not show System.out messages"
When submitting the KMeans Job using the web client, I'm getting the following exception:

[code]

The problem is that the main() method just returns (printing a message to `System.out`).
This is not very intuitive, since you have to look into the webclient.out log

[2014-06-03 10:28] uce commented on #838
On 02 Jun 2014, at 03:00, Artem Tsikiridis notifications@github.com wrote:

[2014-06-03 10:32] rmetzger opened #901 "Webclient: optimizer plan not showing up"
It seems that a file is missing, my browser's JavaScript console logs the following:

[code]

I used the 0.5 release.

[2014-06-03 10:49] StephanEwen commented on #900
Yes. This is somehow a fundamental problem with "interactive" style
programs.

We could temporarily redirect stdout and stderr to display the output in
the web Client.

[2014-06-03 10:51] StephanEwen commented on #901
Does this give an error or simply log to the js console?

[2014-06-03 10:52] StephanEwen commented on #901
It is a deprecated dependency not fully removed...

[2014-06-03 11:06] rmetzger commented on #901
The webinterface does not show the plan and there is also no exception or
error. You can click "Continue" to submit the job.

On Tue, Jun 3, 2014 at 12:52 PM, Stephan Ewen notifications@github.com
wrote:

##

Robert Metzger, Kontakt: metzgerr@web.de, Mobil: 0171/7424461

[2014-06-03 11:40] atsikiridis commented on #838
Thanks @uce !

Yes then probably 2) is what I'll keep. However, it would be much much cleaner if we had a:

`TypeExtractor.getParameter(InputFormat.class, inputFormatClass, 0);` but make it work with an interface instead of requiring a baseclass. But I'm not sure how can we have this. I noticed in the comments of #895  that it may be possible (@twalthr mentions it).

[2014-06-03 12:25] twalthr commented on #838
Yes, it's not a big thing to create a `TypeExtractor.getParameter()` which takes interfaces. I will implement it soon, we will need it for lambdas anyway.

[2014-06-04 09:19] powibol opened #905 "Using broadcast variables in UDFs within iterations leads to CompilerException"
While working with the new Java API I discovered the following behaviour, which I consider to be a bug.

[code]

[code]

[2014-06-04 09:21] rmetzger commented on #905
Thank you for reporting the issue.
It has already been reported here: https://github.com/stratosphere/stratosphere/issues/880.

[2014-06-04 09:21] rmetzger commented on #905
What version of Stratosphere have you been using?

[2014-06-04 09:22] rmetzger commented on #880
This commit probably fixed the issue: 28a3dfd723bf370d86c4a4127228058e0218ce51
We should turn this code into a test case to verify the fix.

[2014-06-04 09:26] StephanEwen commented on #905
There has been a recent patch that addressed a similar issue. It is
available in the versions "0.6-SNAPSHOT" and "0.5.1-SNAPSHOT".

Can you try whether that solves your problem?

[2014-06-04 09:28] StephanEwen commented on #880
I have added a similar program as a compiler test.

Would not hurt to have that one as a runtime test well.

[2014-06-04 15:44] rmetzger commented on #714
Okay, I think it makes sense to follow that approach.
I hope that we get Scalding support "for free" once we can execute Cascading. I'm somewhat confident that this should only be a matter a few hours.
So I would suggest to get as much information as possible out of the current 3.0 development branch of Cascading. Maybe you can even give feedback to the developers at this point (because their abst

[2014-06-04 15:48] wilsoncao opened #906 "Error when compiling from the source"
I use the "git clone https://github.com/stratosphere/stratosphere.git" command, and then I use "mvn clean package -DskipTests" to compile but it goes wrong. My java compiler version is javac 1.7.0_55.  The error message is follow:

[INFO] --- maven-compiler-plugin:3.1:compile (default-compile) @ stratosphere-java ---
[INFO] Changes detected - recompiling the module!
[INFO] Compiling 209 source fil

[2014-06-04 15:55] rmetzger commented on #906
Are you sure that you are using Java 1.7 ?
Because the exception says something about "1.6.0_65" and the bug you're mentioning here is only known for java 1.6

What is "mvn -version" saying?

[2014-06-04 15:57] wilsoncao commented on #906
oh, My fault...., It is java 1.6.

[2014-06-04 15:57] #906 closed, assigned to nobody

[2014-06-04 19:59] rmetzger opened #907 "Implement AvroOutputFormat"
Support for writing to Avro files from Stratosphere's new Java API.

[2014-06-05 15:50] tillrohrmann opened #909 "Pitfall due to additional superstep after the iteration has stopped"
Currently, after an iteration has exceeded the maximum number of iterations, all tasks are started again for an additional superstep during which they are stopped. This works if a tasks only waits for dynamic input. However, in the case where one has a task, e.g. a coGroup operation, which gets dynamic and static input the execution is not blocked. This can then lead to erroneous behaviour which t

[2014-06-06 09:51] rmetzger commented on #907
I'm looking into this.

[2014-06-06 11:42] StephanEwen opened #910 "Type extractor fails in Java 6"
The return type `Tuple2<Integer, double[]>` cannot be extracted in Java 6.

[2014-06-06 11:49] twalthr commented on #910
I can work on this issue next week.

[2014-06-06 12:35] StephanEwen commented on #910
Thanks. I added a test case #911 so it should be easy to reproduce. You
need to run java6, though. 7 & 8 work fine.

[2014-06-06 13:33] qmlmoon commented on #907
I'm working on this

[2014-06-06 13:37] rmetzger commented on #907
(just FYI, I gave over to Mingliang, so there is no conflict)

[2014-06-08 11:58] StephanEwen commented on #905
Any news on this issue?

[2014-06-08 12:02] StephanEwen commented on #898
I agree. How about the following:

#### Active entries (not commented out)
- jobmanager.rpc.address: localhost
- jobmanager.rpc.port: 6123
- jobmanager.heap.mb: 256
- taskmanager.heap.mb: 512
- parallelization.default: 1

#### Suggested entries (commented out)
- taskmanager.tmp.dirs: /tmp
- fs.hdfs.hadoopconf: /path/to/hadoop/conf/
- taskmanager.network.numberOfBuffers: 2048 (This one will go in t

[2014-06-08 12:04] StephanEwen commented on #898
We could add to the suggested entries
- jobmanager.web.port: 8081
- webclient.port: 8080 (may go as well when we unify the web frontends)

[2014-06-08 12:05] StephanEwen commented on #880
Any updates?

[2014-06-08 12:07] StephanEwen commented on #878
Fixed as part of abe88b7972c24b85338033042b07cba64ca91054

[2014-06-08 12:07] #878 closed, assigned to nobody

[2014-06-08 14:08] StephanEwen commented on #834
One way to currently do this is

[code]

You suggestion would be an alternative way to implement the transformation (in the sink rather than in a mapper), but I think it would boil down to the same functionality, right?

[2014-06-08 14:12] StephanEwen opened #917 "Rename netty IO Thread count parameters"
How about we rename the config parameters for `taskmanager.netty.numOutThreads` and `taskmanager.netty.numInThreads`? That way we make it "independent" of the underlying implementation. The same parameter should also configure the number of I/O threads if we should choose to go with zeroMQ for streaming, or so...

[2014-06-08 15:50] powibol commented on #905
I will test it with the new snapshot, but it's not done by now because of the incredibly good weather and an exam next week. :/
I'll report the results of the test soon!

[2014-06-08 15:52] StephanEwen commented on #905
Fair enough ;-)

[2014-06-09 08:54] ktzoumas opened #918 "Deep equality for Tuples"
Currently, tuple types (Tuple2, etc) do not have deep equality and can therefore not be placed in java collections.

Iterating through a set of tuples and caching them in a, for example, HashSet is a common pattern.

We could also think of having tuple types implement Comparable with lexicographic ordering.

How are the tuple types generated?

[2014-06-09 10:54] StephanEwen commented on #918
I think deep equals would work. Check out the TupleGenerator.

I think comparable is hard, because the individual fields are not
necessarily comparable.

[2014-06-09 11:08] powibol commented on #905
Using the new snapshot solved the described problem.
Thank you for your assistance!

[2014-06-09 11:08] #905 closed, assigned to nobody

[2014-06-09 14:39] cviebig opened #920 "DeltaIterations: Delta does not depend on the workset"
Hi,
in an university project at TU Berlin we are implementing the Random Forest algorithm on Stratosphere. We decided to use DeltaIterations to perform the computation. The algorithm will grow a random tree (a sort of decision tree) iteratively. In each iteration a new level of the tree is created and the data is assigned to the corresponding child node in that level. The solution set is the set o

[2014-06-09 14:42] rmetzger commented on #920
Hi,
thank you for reporting the issue! As written here: https://groups.google.com/forum/#!topic/stratosphere-dev/e2eBvjY723k
we are not using the GitHub issues anymore. Please open a new issue at Apache Flink's JIRA here: https://issues.apache.org/jira/browse/FLINK
Thank you!

[2014-06-09 14:49] #920 closed, assigned to nobody

[2014-06-12 11:04] MoeweX commented on #849
Done, waiting for merge #919
What informations from the TaskManagers do you want? I can try to include it, too.

[2014-06-12 11:05] rmetzger commented on #849
As part of our move to the Apache Software Foundation, we are now using their JIRA for issue tracking.
I also imported this issue to JIRA: https://issues.apache.org/jira/browse/FLINK-849
Lets continue the discussion there.

[2014-06-12 11:06] #849 closed, assigned to nobody

[2014-06-13 11:29] MoeweX commented on #711
Reopened here: https://github.com/apache/incubator-flink/pull/15

[2014-06-15 22:19] physikerwelt opened #921 "documentation: cdh5 hdfs config"
I was reading this blog-draft from @rmetzger
https://github.com/stratosphere/stratosphere/wiki/Stratosphere-on-Amazon-EC2-using-Apache-Whirr-and-Cloudera-CDH5
And wanted to try stratosphere with CDH5 and YARN.
I think I ran into problems with the HDFS config.
Is there a template for a cdh5 compatible stratosphere hdfs-site.xml config?
The format for the normal cdh5 config files is a little bit dif

[2014-06-16 06:33] StephanEwen commented on #921
Can you reopen this issue at the Apache Flink JIRA (
https://issues.apache.org/jira/browse/FLINK) ?

Can you also add a bit more information? What is the role of the nodes, do
they exist or are the names incorrectly resolved?

[2014-06-16 06:45] rmetzger commented on #921
@StephanEwen is right. We are not using Github anymore for developing Flink.

Regarding the reported problem: I don't think we need to open a JIRA for that, because I don't see a bug here (yet). I could not find any documentation on the configuration property: `dfs.namenode.rpc-address.nameservice1.namenode63`. I think that's a typo?

[2014-06-16 14:48] physikerwelt commented on #921
I'm trying to change the port in the error message from 54310 to 8020... Still trying to figure out how to do that. If that works I'll file a bug on the new FLINK bugtracking system

[2014-06-26 04:02] devbharadwaj commented on #714
I have done coding building Cascading apps and basic Stratosphere jobs. I'm trying to link stuff between Cascading and Stratosphere. But I think I will need some help to get things really started. Just a general direction and some pointers. Robert, can we have a hangout session sometime?

[2014-06-26 07:51] rmetzger commented on #714
Hey, can we continue the discussion here on JIRA? https://issues.apache.org/jira/browse/FLINK-714
(or project moved to the Apache Software Foundation).
I have written you on Hangout.

[2014-07-01 16:05] kfleischmann commented on #742
Is it correct that the input-splits are assigned to be local (minimal-distance) during the runtime?  Or is there an optimization step during scheduling phase?

[2014-07-01 16:07] StephanEwen commented on #742
It is runtime only. It it not taken into account during scheduling (which
would be desirable).

[2014-07-02 08:54] fhueske commented on #742
Hi, the Stratosphere issues have been imported into the Apache Flink JIRA.
--> https://issues.apache.org/jira/browse/FLINK-742
Please continue the discussion over there :-)

[2014-07-02 08:54] #742 closed, assigned to nobody

[2015-11-24 18:15] #852 closed

[2016-01-06 16:51] StylusEater commented on #377
I'd like to contribute towards a JavaScript binding. Anybody have good pointers on a good place to start as I'd like to work within the design protocols that exist for Python?! Thanks.

[2016-01-06 16:54] rmetzger commented on #377
Hi @StylusEater: the stratosphere repository is not really active anymore.
Apache Flink is the open source successor of Stratosphere.
I would recommend you to check out the flink.apache.org website, the github.com/apache/flink repository and other material about Flink.
The best way to contact the Flink community is by contacting the dev@flink.apache.org mailing list (remember to subscribe first).

[2016-01-06 16:55] StylusEater commented on #377
Thanks @rmetzger! I subscribed and will ask through that avenue. :-)

[2018-10-26 07:58] ati90ati commented on #720
A possibility to check for printStackTrace with checkstyle plugin (insert it under `TreeWalker`):

        <module name="RegexpSinglelineJava">
            <property name="format" value="\.printStackTrace\(\)"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="Using e.printStackTrace() is forbidden. Rethrow, log or handle the exception."/>

[2019-01-17 10:35] #820 closed

[2020-03-23 08:05] Liloveyang opened #924 "Whether this is a potential runtime exception ？"
Hello, When we call the getRandomString method under the
stratosphere-core/src/main/java/eu/stratosphere/util/StringUtils.java file,
the input minValue and maxValue may have opposite parameters due to no input validation,
and then this method throws java.lang.IllegalArgumentException.

We think that this method has a problem with its robustness. Either you need to add an if judgement or try catch

[2020-03-29 17:35] #898 closed

[2020-03-29 17:35] #897 closed

[2020-03-29 17:35] #103 closed

[2020-03-29 17:35] #165 closed

[2020-03-29 17:36] #202 closed

[2020-03-29 17:36] #469 closed

[2020-03-29 17:36] #480 closed

[2020-03-29 17:36] #514 closed

[2020-03-29 17:36] #633 closed

[2020-03-29 17:36] #655 closed

[2020-03-29 17:36] #656 closed

[2020-03-29 17:37] #854 closed

[2020-03-29 17:37] #855 closed

[2021-03-10 20:45] #641 closed

[2021-03-10 20:45] #176 closed